TEXTAREA.casl_ide_buffer { width:100%;height:100%;scrolling:auto;background-color:#CCFFCC;font-weight:bold;
	 padding-left:8px;border-left:0px;
	 font-family: Courier New;
}


* { font-family: Trebuchet MS, Arial; }
BODY { font-size: 8pt; font-family: Trebuchet MS, Arial; }
TD { font-size: 8pt; padding: 0px; padding-left: 2px; padding-right: 2px;}
TH { border-bottom: 1 solid black; background-color: #CCC; 
	 font-weight: bold; font-size: 9pt; padding: 0px; padding-left: 3px; padding-right: 3px;
}

TD.key { background-color: #EEE; border-top: 1 solid #CCC; border-bottom: 1 solid white; 
	vertical-align: top}
TD.key.class{background-color: #DDCF9F;}
TD.key.method{background-color: #BBDD88;}

.system TD { color: #888; font-style: italic; }
TR.meta_field TD.key { padding-left: 10px; font-style: italic; color: #777;}

TD.value 
{ border-left: 1 solid black; border-bottom: 1 solid black; 
	border-top: 1 solid white;
    color: Black; font-size: 8pt; font-style: normal; padding-left: 2px;   /* override system TD */
}

TABLE.object { border: 1px solid black; border-collapse: collapse; padding:0px;
		   margin: 2px;
	}
TABLE.object.class { border: 3 solid brown;}
TH.class { background-color: #DDCF9F; border-top: 2 solid brown }  /* sandybrown */
TABLE.object.method { border: 2 solid green;}
TH.method  { background-color: #BBDD88; border-top: 2 solid green } /* greenish */

TD.value.Int32   { color: Purple; }
TD.value.Decimal { color: Purple; }
TD.value.Boolean { color: Purple }
TD.value.null { color: Purple; } /* doesn't work.  strange */
TD.key.Int32 { color: Purple; }
TD.value.Double { color: Red; }
TD.value.null { color: maroon; font-weight: bold; font-style: italic; }

A  { text-decoration: none; }
A:hover { background-color: Yellow; }

