/*
css 
*/
/* 
smaller text, less space, light boxes around 'OR' groups
light group around each TBODY
make "OR" text small
light border and lighter background 
*/
DIV.Search_htm_field_form TABLE { border-collapse: collapse; }
DIV.Search_htm_field_form TBODY TD { padding: 0; }
/*DIV.Search_htm_field_form TBODY.criteria_group TD{ background-color: #EEE;}

*/
/*
DIV.Search_htm_field_form TBODY TD.key { border-left: 1 solid #999; padding-left:4px}
DIV.Search_htm_field_form TBODY TD.value { border-right: 1 solid #999; padding-right:4px }
DIV.Search_htm_field_form TBODY TD.right { border-right: 1 solid #999; padding-right:4px }
DIV.Search_htm_field_form TBODY TR.first TD { border-top: 1 solid #999; margin-top: 5px; padding-top:2px }
V.Search_htm_field_form TBODY TR.last TD { border-bottom: 1 solid #999; margin-bottom: 5px; padding-bottom:2px}
*/

DIV.Search_htm_field_form TR.separator { height: 10px }

DIV.Search_htm_field_form .from {color:#999; font-size: 0.7em}
DIV.Search_htm_field_form .to{color:#999; font-size: 0.7em}
DIV.Search_htm_field_form .criteria_or {color:#999; font-size: 0.7em; padding: 2px;}
DIV.Search_htm_field_form .test_only{color:#999; font-size: 0.7em}

DIV.Search_htm_field_form TD.criteria_group
{
	border: 1px solid #999; 
	background-color: #EEE;
	padding: 4px; vertical-align: top;
}

/* Search Result */
/*
DIV.search_result_criteria 
{
background-color:Blue;
}
*/
DIV.search_result_criteria SPAN.key 
{
	padding-left:1px; color:#AAA; 
}
DIV.search_result_criteria SPAN.value
{
	padding-left:1px;
}

DIV.search_result_info SPAN.key 
{
	padding-left:1px;  color:#AAA; 
}
DIV.search_result_info SPAN.value
{
	padding-left:1px; 
}

TR.allocations_header TH
{
	text-decoration:underline;
	font-weight:normal;
    color: #999;
    font-size:smaller;
    text-align:left;
}
TD.amount 
{
    text-align: right;
}
TR.amount 
{
    text-align: left;
}
TR.core_item_header TD
{
	font-weight:bold;
	border-top:1 solid #CCC;
}
TR.grand_total TD
{
	text-align:right;
	border-top:1 solid #CCC;
}
TR SPAN.grand_total
{
	xxborder-top:1 solid #CCC;
}


SPAN.grand_total SPAN
{
	font-weight:bold;
}

TR.payment TH
{
	text-align:left;
    color: #999;
	font-weight:bold;
	border-bottom:2 solid #CCC;
}
TR.voided TD.description
{
  color:Red; text-decoration: line-through;
}
TR.voided TD.h_total
{
  color:Red; text-decoration: line-through;text-align:right;
}
TR TD.h_total
{
  text-align:right;
}
TR.voided TD.voided
{
	color:Red;
}
TR.voided TD
{
  background-color: #FFE8E8;
}


TR.search_item TD.mod_datetime
{
	padding-left:4px;
}
DIV.error_message
{
	color: Red; font-weight:bold;
}
DIV.no_found_message
{
	color: Red; font-weight:bold;
}
