TD.group_level_2
{
 background-color: #EEE; 
	border-bottom: 1px solid black;
	border-right: 1px solid black; 
	font-size: 0.55em;
	text-align: right;
}
TR.column_name TD
{
	background-color: #BBB;
	padding-right: 5px;
	padding-left: 5px;
	border-left: 1px solid black ;
  xxborder-right: 1px solid black;
	font-size: 0.8em;
}
TD.core_file_status TR
{
	background-color: #CCC;  
	border: 1px solid black;
	border-bottom: 1px solid black ;
	border-top: 1px solid black ;
	font-size: 0.75em;
}

DIV.Update	
{
	background: url(../images/btnSize01.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 50px;
	height: 25px;
  xxfont-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	font-variant: small-caps;
	}
	
/*TD.core_file_list DIV
{ padding-left: 5px; font-family: monospace; font-size: 9pt}

TD.core_file_list SELECT
{ xxheight:200px; font-family: monospace; font-size: 9pt }
*/
TD.systems SELECT
{
  xxheight: 100px;
  font-size: 9pt;
}

TD.Failure
{
  font-size: 5em;
  color: Red;
}
TD.Success
{
  font-size: 5em;
  color: Green;
}

OPTION.opened
{
  background-color: #FFFF99;
}
/* light yellow */
OPTION.locked
{
  background-color: #99FF99;
}
/* light green */
OPTION.updated
{
  background-color: #D3E6F9;
}
/* light blue */
OPTION.accepted
{
  background-color: White;
}
OPTION.error
{
  background-color: Red;
}
DIV.prompt
{
  text-align: left; /* Bug #10105 Mike O - Firefox alignment issues */
  color: #999;
  font-size: 1em;
  padding: 2px;
  xxwidth: 100px;
}

/*TR.files_SI
{
	border-bottom: 1px solid black ;
}*/
TD.files_SI
{
	border-bottom: 1px solid black ;
}
