<!-- Test Link = http://localhost/pos_demo/cbc_custom/images/alt_shopping_list_banner.htm -->
<BODY style="background-color: #ECECEA;">
<STYLE>
 TABLE.sidebar {
    background-color: white;
    width: 250px;
    border: 3 solid #0B2972; border-bottom: 0px; 
    font-family: "Trebuchet MS",Trebuchet,Verdana,Arial,Helvetica,"Lucida Grande",sans-serif; 
    color: #0B2972;
 }
 TABLE.sidebar TD { border-bottom: 3 solid #0B2972 }
 TABLE.sidebar TH { border-bottom: 3 solid #0B2972; text-align: center; font-size: 1.2em; }
 TABLE.sidebar DIV.desc { font-size: 1em;  }
 TABLE.sidebar DIV.date { font-size: 1.5em; }
 TABLE.sidebar TD { padding: 3px; color: #0B2972; font-size: 0.8em }
 TABLE.deadlines TD {border: 0px; color: #0B2972;}
 TABLE.sidebar DIV.deadlines { height: 250px; overflow: auto; vertical-align:top }
</STYLE>
<table style="height:100%"><tr><td><TABLE class="sidebar" cellpadding="0" cellspacing="0"  >
 <TR><TH style="background-color:#0B2972;color:white;font-size:2em;">Fall 2007</TH></TR>
 <TR><TH>Payment Deadlines</TH></TR>
 <TR><TD><DIV class="deadlines"><TABLE class="deadlines">
    <TR><TD><IMG src="../icons/Tuition_Fee.JPG"/></TD>
        <TD><DIV class="desc">Tuition &amp; Fees</DIV>
            <DIV class="date">August 26, 2007</DIV>
        </TD>
    </TR>
    <TR><TD><IMG src="../icons/housing3.JPG"/></TD>
        <TD><DIV class="desc">Housing</DIV>
            <DIV class="date">July 15, 2007</DIV>
        </TD>
    </TR>
    <TR><TD><IMG src="../icons/BusinessCenter1.JPG"/></TD>
        <TD><DIV class="desc">University Loans</DIV>
            <DIV class="date">October 28, 2007</DIV>
        </TD>
    </TR>
    <TR><TD><IMG src="../icons/BusinessCenter1.JPG"/></TD>
        <TD><DIV class="desc">VA &amp; Deferments</DIV>
            <DIV class="date">October 28, 2007</DIV>
        </TD>
    </TR>
  </TABLE></DIV></TD>
 </TR>
 <TR><TH>Late Payment Fee</TH></TR>
 <TR><TD>A student becomes liable for his/her tuition upon registration.
   Tuition payments received after the published deadline are late and the
   account will be assessed a $50.00 late payment fee.
 </TD></TR> 
</TABLE>
</td></tr></table>
</BODY>