.logout {
	background-color: #04676C;
}
INPUT.continue {
	background-color: #04676C;
}
BUTTON.finish_buy {
	background-color: #04676C;
}
BUTTON.return_to_buying {
	background-color: #04676C;
}
.submit {
	background-color: #04676C;
}
a.button {
	background-color: #04676C;
}
INPUT.add_to_list {
	background-color: #04676C;
}
a.back {
	background-color: #04676C;
}
a.delete {
	background-color: #04676C;
}
INPUT.submit {
	background-color: #04676C;
}
.second_section_list_fs_bottom_buttons .submit {
	background-color: #04676C;
}
INPUT.sign_in {
	background-color: #04676C;
}

TD.action_bar INPUT.button {
	background-color: #04676C;
}

TD.action_bar a.button 
{
	color: White;
	background-color: #04676C;
}