<%@ Page language="c#" Codebehind="FileImportConfig.aspx.cs" AutoEventWireup="false" Inherits="FileImport.FileImportConfig" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
 <HEAD>
  <title>WebForm1</title>
  <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
  <meta content="C#" name="CODE_LANGUAGE">
  <meta content="JavaScript" name="vs_defaultClientScript">
  <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
 </HEAD>
 <body MS_POSITIONING="GridLayout">
  <form id="Form1" method="post" runat="server">
   <asp:Label id="Label1" style="Z-INDEX: 101; LEFT: 136px; POSITION: absolute; TOP: 152px" runat="server"
    ForeColor="Black">Transaction File Import Configuration Page</asp:Label>
   <asp:TextBox id="txtIpaymentTranTypeID" style="Z-INDEX: 107; LEFT: 320px; POSITION: absolute; TOP: 280px"
    runat="server"></asp:TextBox>
   <asp:Label id="Label2" style="Z-INDEX: 106; LEFT: 160px; POSITION: absolute; TOP: 272px" runat="server">Tran ID</asp:Label>
   <asp:TextBox id="txtFileFormatType" style="Z-INDEX: 105; LEFT: 320px; POSITION: absolute; TOP: 240px"
    runat="server"></asp:TextBox>
   <asp:Label id="lblFileFormatType" style="Z-INDEX: 104; LEFT: 160px; POSITION: absolute; TOP: 240px"
    runat="server">FILE FORMAT TYPE</asp:Label>
   <asp:TextBox id="txtFileID" style="Z-INDEX: 102; LEFT: 320px; POSITION: absolute; TOP: 208px"
    runat="server"></asp:TextBox>
   <asp:Label id="lblFileID" style="Z-INDEX: 103; LEFT: 160px; POSITION: absolute; TOP: 208px"
    runat="server">FileID</asp:Label>
   <asp:Button id="btnSave" style="Z-INDEX: 108; LEFT: 192px; POSITION: absolute; TOP: 352px" runat="server"
    Text="Save"></asp:Button></form>
 </body>
</HTML>
