<!doctype html>
<html lang="en-us">

<head>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
     window.onpageshow = function(event) {
       if (event.persisted) {
           window.location.reload(); 
           $('.loading-overlay').hide();
       }
     };
  </script>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
</head>

<body>
  <div class="main-wrapper acknowledgement">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>   
    <header id="nav-header" class="navigation">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo"/>
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu">
          <span class="fontastic-mobile-menu"></span>
        </button>
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
            <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->
    <!-- BEGIN MODAL -->
    <section class="main-content default" role="main">
      <div class="modal">
        <input class="modal-state" id="modal-1" type="checkbox" label="checkbox-checked" checked />
        <div class="modal-fade-screen">
          <div class="modal-inner confirmation">
            <header>
              <div class="header-glyph">
                <span class="fontastic-check-mark-2"></span>
                <!-- FONT AWESOME -->
              </div>
              <div class="header-content">
                <div class="main-message">
                  <h1>{{ page.body.description }}</h1>                
                </div>
              </div>
            </header>
            {% for error in page.body.errors %}
            <p class="modal-content global-item-prompt">{{ error }}</p>
            {% endfor %}
            {{ page.body.terms |raw }}
            <div class="buttons-wrapper action-buttons-wrapper">
              {% for button in page.body.buttons %}
                {% if button.role == 'next' %}
                <a href="{{ button.url }}">
                  <button id="ack_next" class="icon-right float-right action full-m" onclick="clickAndDisable(this);">
                    <span>
                      {{ button.description }}
                    </span>
                  </button>
                </a> {% elseif button.role == 'cancel' %}
                <a href="{{ button.url }}">
                  <button id="ack_cancel" class="icon-left modal-close">
                    <span>
                        {{ button.description }}
                      </span>
                  </button>
                </a>
              {% else %}
                <a href="{{ button.url }}">
                  <button class="icon">
                    <span>
                        {{ button.description }}
                      </span>
                  </button>
                </a>
              {% endif %}
              {% endfor %}
            </div>
            {% if page.cart.transaction_rows.size > 0 or page.cart.tax_rows.size > 0 or page.cart.tender_rows.size > 0 %} <!-- don't want to show transaction totals if ack page is first in page flow. -->
            <div class="transactions-table ack-receipt" style="margin-top: 20px;">
              <div class="row total-header">
                <p class="label">{{ page.cart.grand_total.description }}</p>
                <p class="amount">{{ page.cart.grand_total.amount }}</p>
              </div>
              {% if page.cart.transaction_rows.size > 0 %}
              <div class="row items">
              <h2 style="margin-bottom:0px;transform: translate(-1em,0);">Transaction:</h2>           
                {% for transaction in page.cart.transaction_rows %}
                <div class="row item">
                  <p class="item-title">{{ transaction.description }} {{ transaction.ref_number }}</p>
                  <p class="item-amount">{{ transaction.tax_type }} {{ transaction.total }}</p>
                  <section class="details">
                    {% for detail in transaction.details %}
                    <p>
                      <span class="label">{{ detail.Key }}</span>
                      <span class="value">{{ detail.Value }}</span>
                    </p>
                    {% endfor %}
                  </section>
                  {% for nested in transaction.nested_transaction_rows %}
                  <div class="row item">
                    <p class="item-title">{{ nested.description }} {{ nested.ref_number }}</p>
                    <p class="item-amount">{{ nested.tax_type }} {{ nested.total }}</p>
                    <section class="details">
                      {% for detail in nested.details %}
                      <p>
                        <span class="label">{{ detail.Key }}</span>
                        <span class="value">{{ detail.Value }}</span>
                      </p>
                      {% endfor %}
                    </section>
                  </div>
                  {% endfor %}
                </div>
              {% endfor %}
              </div>
              {% endif %}
              {% if page.cart.tax_rows.size > 0 %}
              <div class="row items">
              <h2 style="margin-bottom:0px;transform: translate(-1em,0);">Tax:</h2>            
              {% for tax in page.cart.tax_rows %}
                <div class="row item">
                  <p class="item-title">{{ tax.description }}</p>
                  <p class="item-amount">{{ tax.total }}</p>
                  <section class="details">
                    {% for detail in tax.details %}
                    <p>
                      <span class="label">{{ detail.Key }}</span>
                      <span class="value">{{ detail.Value }}</span>
                    </p>
                    {% endfor %}
                  </section>
                </div>
              {% endfor %}
              </div>
              {% endif %}
              {% if page.cart.tender_rows.size > 0 %}
              <div class="row items">
              <h2 style="margin-bottom:0px;transform: translate(-1em,0);">Tender:</h2>            
              {% for tender in page.cart.tender_rows %}             
                <div class="row item">
                  <p class="item-title">{{ tender.description }}</p>
                  <p class="item-amount">{{ tender.total }}</p>
                  <section class="details">
                    <p><span class="label">{{ tender.ref_number }}</span></p>                           
                  </section>
                  <section class="details">
                    {% for detail in tender.details %}
                    <p>
                      <span class="label">{{ detail.Key }}</span>
                      <span class="value">{{ detail.Value }}</span>
                    </p>            
                    {% endfor %}                 
                  </section>
                </div>
              {% endfor %}
              </div>
              {% endif %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.grand_total.description }}</p>
                <p class="amount">{{ page.cart.grand_total.amount }}</p>
              </div>
            </div>
              {% endif %}
          </div>
        </div>
      </div>
    </section>
    <!-- BEGIN FOOTER -->
    <footer class="main" role="contentinfo">
      <div id="template-nav-footer">
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.footer.nav[0].nav_items %}
            <li class="nav-link">
              <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="logo-container">
          <p>{{ page.footer.description }}</p>
          <div class="logo-img-wrapper">
            <img src='{{ page.footer.image }}' alt="Footer-Logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
  <div class="loading-overlay">
    <p id="theme-main-color"></p>
    <div id="spinnerWrapper" class="spinner-wrapper">
    </div>
  </div>
  <script>
  var barcodeNum;
  var formIsValid;
  var timerID;
  </script>
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).click(function(e) { 
      session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}}); 
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
  <script> 
   function clickAndDisable(link) {
     // disable subsequent clicks
     link.onclick = function(event) {
        event.preventDefault();
     }
   }   
  </script>
</body>

</html>
