<div class="item-group-detail-wrapper expander-content" style="float:left; background:white; width:100%;">
  {% for row in grid.rows %}
	  <div class="item-group-detail">
		<div class="item-details-wrapper">
		  <ul class="item-details-list">
		  {% for datum in row.data %} 
			<li>
			  <span class="item-details-single-title">{{ datum.Key }}: </span>
			  <span class="item-details-single-value1">{{ datum.Value | money }}</span>
			</li>
		  {% endfor %}
		  </ul>
		</div>
	  </div>
  {% endfor %}
</div>
