<!doctype html>
<html lang="en-us">
  <head>
    <script type="text/javascript">
         // On Page Load Set Page Show Listener
         // re: ticket #150 where Safari loads cached version of previous page
         // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
         // The page will detect that it has been loaded from cache and reload the current window
         window.onpageshow = function(event) {
           if (event.persisted) {
               window.location.reload(); 
               $('.loading-overlay').hide();
           }

         $(document).unbind('keydown').bind('keydown', function (event) {
           if (event.keyCode === 8) {
             var doPrevent = true;
             var types = ["text", "password", "file", "search", "email", "number", "date", "color", "datetime", "datetime-local", "month", "range", "search", "tel", "time", "url", "week"];
             var d = $(event.srcElement || event.target);
             var disabled = d.prop("readonly") || d.prop("disabled");
             if (!disabled) {
                 if (d[0].isContentEditable) {
                     doPrevent = false;
                 } else if (d.is("input")) {
                     var type = d.attr("type");
                     if (type) {
                         type = type.toLowerCase();
                     }
                     if (types.indexOf(type) > -1) {
                         doPrevent = false;
                     }
                 } else if (d.is("textarea")) {
                     doPrevent = false;
                 }
             }
             if (doPrevent) {
                 event.preventDefault();
                 return false;
             }
         }
         });
         };
    </script>
	<style>
	  .results-cancel-button{
         float:right;
         margin-top:10px;
         background-color:#E1B02F; 
         color:black !important; 
         font-weight:bold !important;
         }
         .results-cancel-button:hover{
         background-color:#eecb71 !important;
         }
         .det-inner-button{
         color:#4B86E3; 
         font-weight:bold; 
         font-size:14px;
         }
         .det-inner-button:hover{
         color:black;
         cursor:pointer;
         }
      </style>
	</style>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
    <title>{{ page.header.title }}</title>
    <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
    <style> .ui-datepicker{max-width: 220px}</style>  
    <link rel="stylesheet" href="$path/css/main.css"/>
    <link rel='shortcut icon' href='{{ page.header.icon }}' />
    <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
  </head>
  <body>
    <div class="main-wrapper acknowledgement">
      <!-- BEGIN HEADER -->
      <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
      <header id="nav-header" class="navigation" role="banner">
        <div id="template-header" class="navigation-wrapper">
          <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo"/>
          {% if page.header.nav[0].nav_items.length > 0 %}
          <button class="navigation-menu-button" id="js-mobile-menu">
          <span class="fontastic-mobile-menu"></span>
          </button>
          <nav>
            <ul id="js-navigation-menu" class="navigation-menu show">
                  {% for link in page.header.nav[0].nav_items %}
              <li class="nav-link">
                <a href="{{ link.url }}" target="_blank">{{ link.description }}</a>
              </li>
                  {% endfor %}
            </ul>
          </nav>
          {% endif %}
          {% if page.header.description != blank %}
            <section class="hero-unit">
              <div class="title">
                <h1> {{ page.header.description }} </h1>
              </div>
            </section>
          {% endif %}
        </div>
      </header>
      <!-- END HEADER -->
      <!-- OUTER ACNKOWLEDGEMENT PAGE -->
      <div class="modal">
        <input class="modal-state" id="modal-1" type="checkbox" label="checkbox-checked" checked />
        <div class="modal-fade-screen">
          <div class="modal-inner confirmation">
            <header>
              <div class="header-glyph">
                <img src="../../../image/details-icon.png" style="height:45px;"/>
                <!-- FONT AWESOME -->
              </div>
              <div class="header-content" style="margin-bottom:1em;">
                <div class="main-message" style="max-width:76em;" role="heading" aria-level="1">
                <p style="color:#E1B02F;">Term Details - {{grid.rows[0].data[2].Value}} </p>
                  <button id="sm_cancel" class="results-cancel-button" type="button" onclick="window.history.back();">
                  Cancel
                  </button> 
                </div>
              </div>
            </header>
         {% for error in page.body.errors %}
            <p class="modal-content global-item-prompt">{{ error }}</p>
         {% endfor %}
            <div class="main-content">
              <!-- Student ID and Name -->
              <table style="font-size:20px; margin-left:4.5%;">
                <tr>
                  <td style="float:left;">
                     {{grid.rows[0].data[1].Value}}: 
                  </td>
                  <td style="width:10px;">
                  </td>
                  <td>
                     {{grid.rows[0].data[0].Value}}
                  </td>
                </tr>
                <!-- Balance info -->
                <tr>
                  <td style="float:left;">
                     {{ grid.rows[0].data[8].Key | money}}:
                  </td>
                  <td style="width:10px;">
                  </td>
                  <td id="balanceField">
				     {% assign charge = grid.rows[0].data[6].Value %}
					 {% assign payment = grid.rows[1].data[7].Value %}
					 <script>
					   var test = {{charge}}-{{payment}};
					   test = parseFloat(test).toFixed(2);
					   document.getElementById("balanceField").innerHTML = '$'+test;
					 </script>
                  </td>
                </tr>
              </table>
            {% assign counter = 0 -%}
              {% for row in grid.rows %}
              <div class="item-group-wrapper expander">
                {{ grid.rows[counter].data[9].Value |raw}}
                  <div class="item-group-description-wrapper">
                    <div class="item-group-description">
                      <div class="item-group-description-label-wrapper" style="border:none;">
                        <div class="item-group-description-number" style="color:black;">
                          <!-- Bucket Name and Details Link -->
                          {{grid.rows[counter].data[5].Value}}<br>
                            <br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="expander-icon"></div>
                      <div class="selected-summary-wrapper">
                        <div class="item-group-payment-wrapper" style="font-size:20px;">
                        <!-- If it's the Charge bucket, show charge value. If it's Payment or Aid, show payment. -->
                        <div>
                          {% if grid.rows[counter].data[5].Value == "Tuition and Fees" %}
                            {{grid.rows[counter].data[6].Value | money}}
                                      {% else %}
                            {{grid.rows[counter].data[7].Value | money}}
                          {% endif %}
                        </div>
                        </div>
                      </div>
                  </div>
                    <!-- Table Row Detail Group -->
              </div>
              {% assign counter = counter | plus: 1 %}
            {% endfor %}
            <button id="sm_cancel" class="results-cancel-button" type="button" onclick="window.history.back();">
              Cancel
            </button>
          </div>
                <!-- BEGIN FOOTER -->
                <footer class="main" role="contentinfo">
                  <div id="template-nav-footer">
                    <nav>
                      <ul id="js-navigation-menu" class="navigation-menu show">
                     {% for link in page.footer.nav[0].nav_items %}
                        <li class="nav-link">
                          <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
                        </li>
                     {% endfor %}
                      </ul>
                    </nav>
                  </div>
                </footer>
                <!-- END FOOTER -->
              </div>
              <div class="loading-overlay">
                <p id="theme-main-color"></p>
                <div id="spinnerWrapper" class="spinner-wrapper"></div>
              </div>
              <script>
                var barcodeNum;
                var formIsValid;
                var timerID;
              </script>
              <script src="$path/jquery.v3.2.0.min.js"></script>
              <script src="$path/js/main.min.js"></script>
              <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
              <script>
                customize_theme_colors('{{page.themeColorsJson | raw}}');
              </script>
          </html>