<!doctype html>
<html lang="en-us">

<head>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload(); 
          $('.loading-overlay').hide();
      }
    };
  </script>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
</head>

<body>
  <div class="main-wrapper payment main">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
    <header id="nav-header" class="navigation" role="banner">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo"/>
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu">
          <span class="fontastic-mobile-menu"></span>
        </button>
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
            <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->
    <section class="main-content default" style="display:flex;" role="main">
      {% for error in page.body.errors %}
      <div class="item-group-prompt">{{ error }}</div>
      {% endfor %}
      <div class="payment-main-wrapper">
        <header>
          <div class="header-glyph payment-icon">
            <!-- <span class="fontastic-wallet"></span> -->
          </div>
          <div class="header-content">
            <div class="main-message">
              <h1>{{ page.body.description }}</h1>
            </div>
          </div>
        </header>
        {% if page.cart.transaction_rows.size > 0 %}
        <div class="bill-summary-wrapper mobile-view">
          <section class="bill-summary default">
            <header>
              <div class="header-glyph">
                <span class="fontastic-tag"></span>
                <!-- OCTICON-->
              </div>
              <div class="header-content">
                <div class="bill-summary-message" role="heading" aria-level="1">
                  <p>{{ page.cart.description }}</p>
                </div>
              </div>
            </header>
            <div class="transactions-table">
              <button id="tender_retract2" class="float-right icon-right retract"><span>X</span></button>
              <div class="row total-header">
                <p class="label">Items</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
                <button id="tender_expand2" class="details small">
                  <span>Details</span>
                </button>
              </div>
              {% for row in page.cart.transaction_rows %}
              <div class="row expander">
                <header class="expander-trigger expander-hidden">
                  <p class="bill-summary-expander">
                    {{row.description}}
                  </p>
                  <p class="amount">{{ row.total }}</p>
                  <a href="{{row.delete.url}}" aria-label="Cart Delete">
                    <p class="close-icon"></p>
                  </a>
                </header>
                <section class="details expander-content">
                  {% for nested in row.nested_transaction_rows %}
                  {% if nested.description != "" %}
                    <p>
                      <span class="label">Type:</span>
                      <span class="value">{{ nested.description }}</span>
                    </p>
                  {% endif %}
                  {% if nested.tax_type != "" %}
                    <p>
                      <span class="label">Tax type:</span>
                      <span class="value">{{ nested.tax_type }}</span>
                    </p>
                  {% endif %}
                  {% if nested.nested.total != "" %}
                    <p>
                      <span class="label">Total:</span>
                      <span class="value">{{ nested.total }}</span>
                    </p>
                  {% endif %}
                  {% for detail in nested.details %}
                  <p>
                    <span class="label">{{ detail.Key }}</span>
                    <span class="value">{{ detail.Value }}</span>
                  </p>
                  {% endfor %}
                  <p class="separator">- - -</p>
                  {% endfor %}
                </section>
              </div>
              {% endfor %} {% if page.cart.fee.amount != "" %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.total.description }}</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
              </div>
              <div class="row total-footer">
                <p class="label">{{ page.cart.fee.description }}</p>
                <p class="amount">{{ page.cart.fee.amount }}</p>
              </div>
              {% endif %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.total.description }}</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
              </div>
              <!-- Process cart buttons if they are in JSON -->
              {% for button in page.cart.buttons %} 
              {% if button.role == 'cancel' %}
              <div class="add-another-payment-wrapper cart-button-wrapper">
                <button id="mn_add_item" type="button" class="add-another-payment-button" onclick="cover();location.href='{{button.url}}'">
                  {{ button.description }}
                </button>
              </div>
              {% elseif button.role == 'pay' %}
              <div class="pay-now-cart-wrapper cart-button-wrapper">
                <button id="cart_pay" type="button" class="pay-now-cart-button" onclick="location.href='{{button.url}}'">
                  {{ button.description }}
                </button>
              </div>
              {% endif %} {% endfor %}
            </div>
          </section>
        </div>
        {% endif %}
        <div class="card-container" role="navigation" aria-label="Search Options">
          {% for transaction in page.body.transactions %}
          <form name="form_class" autocomplete="off" action={{ transaction.url }} method="post" class="card" onclick="cover();document.forms[{{forloop.index | minus: 1}}].submit();">
            <input type="hidden" name="__DOUBLESUBMIT__" value="{{transaction.dsv}}" />
            <input type="hidden" name="args.description" value="{{transaction.description}}" />
            {% if transaction.icon_path and transaction.icon_path != blank %}
              <div class="card-img-container"><img src='{{ transaction.icon_path }}' alt="Transaction-Icon" /></div>
            {% endif %}
            <div class="card-title-container">
              {{ transaction.description }}
            </div>
          </form>
          {% endfor %}
        </div>
        <div class="transactions-table mobile-view">
          <button id="tender_retract1" class="float-right icon-right retract"><span>X</span></button>
          <div class="row total-header">
            <p class="label">Items</p>
            <p class="amount">{{ page.cart.total.amount }}</p>
            <button id="tender_expand1" class="details small">
              <span>Details</span>
            </button>
          </div>
          {% for row in page.cart.transaction_rows %}
          <div class="row expander">
            <header class="expander-trigger expander-hidden">
              <p class="bill-summary-expander">
                {{row.description}}
              </p>
              <p class="amount">{{ row.total }}</p>
              <a href="{{row.delete.url}}" aria-label="Cart Delete">
                <p class="close-icon"></p>
              </a>
            </header>
            <section class="details expander-content">
              {% for nested in row.nested_transaction_rows %}
              {% if nested.description != "" %}
                <p>
                  <span class="label">Type:</span>
                  <span class="value">{{ nested.description }}</span>
                </p>
              {% endif %}  
              {% if nested.tax_type != "" %}
              <p>
                <span class="label">Tax type:</span>
                <span class="value">{{ nested.tax_type }}</span>
              </p>
              {% endif %}
              {% if nested.nested.total != "" %}
                <p>
                  <span class="label">Total:</span>
                  <span class="value">{{ nested.total }}</span>
                </p>
              {% endif %}
              {% for detail in nested.details %}
              <p>
                <span class="label">{{ detail.Key }}</span>
                <span class="value">{{ detail.Value }}</span>
              </p>
              {% endfor %}
              <p class="separator">- - -</p>
              {% endfor %}
            </section>
          </div>
          {% endfor %} {% if page.cart.fee.amount != "" %}
          <div class="row total-footer">
            <p class="label">{{ page.cart.total.description }}</p>
            <p class="amount">{{ page.cart.total.amount }}</p>
          </div>
          <div class="row total-footer">
            <p class="label">{{ page.cart.fee.description }}</p>
            <p class="amount">{{ page.cart.fee.amount }}</p>
          </div>
          {% endif %}
          <div class="row total-footer">
            <p class="label">{{ page.cart.total.description }}</p>
            <p class="amount">{{ page.cart.total.amount }}</p>
          </div>
        </div>
      </div>
      {% if page.cart.transaction_rows.size > 0 %}
      <div class="bill-summary-wrapper">
        <section class="bill-summary default">
          <header>
            <div class="header-glyph">
              <span class="fontastic-tag"></span>
              <!-- OCTICON-->
            </div>
            <div class="header-content">
              <div class="bill-summary-message" role="heading" aria-level="1">
                <p>{{ page.cart.description }}</p>
              </div>
            </div>
          </header>
          <div class="transactions-table">
            <button class="float-right icon-right retract"><span>X</span></button>
            <div class="row total-header">
              <p class="label">Items</p>
              <p class="amount">{{ page.cart.total.amount }}</p>
              <button class="details small">
                <span>Details</span>
              </button>
            </div>
            {% for row in page.cart.transaction_rows %}
            <div class="row expander">
              <header class="expander-trigger expander-hidden">
                <p class="bill-summary-expander">
                  {{row.description}}
                </p>
                <p class="amount">{{ row.total }}</p>
                <a href="{{row.delete.url}}" aria-label="Cart Delete">
                  <p class="close-icon"></p>
                </a>
              </header>
              <section class="details expander-content">
                {% for nested in row.nested_transaction_rows %}              
                {% if nested.description != "" %}
                  <p>
                    <span class="label">Type:</span>
                    <span class="value">{{ nested.description }}</span>
                  </p>
                {% endif %}
                {% if nested.tax_type != "" %}
                <p>
                  <span class="label">Tax type:</span>
                  <span class="value">{{ nested.tax_type }}</span>
                </p>
                {% endif %}
                {% if nested.total != "" %}            
                  <p>
                    <span class="label">Total:</span>
                    <span class="value">{{ nested.total }}</span>
                  </p>
                {% endif %}
                {% for detail in nested.details %}
                <p>
                  <span class="label">{{ detail.Key }}</span>
                  <span class="value">{{ detail.Value }}</span>
                </p>
                {% endfor %}
                <p class="separator">- - -</p>
                {% endfor %}
              </section>
            </div>
            {% endfor %} {% if page.cart.fee.amount != "" %}
            <div class="row total-footer">
              <p class="label">{{ page.cart.total.description }}</p>
              <p class="amount">{{ page.cart.total.amount }}</p>
            </div>
            <div class="row total-footer">
              <p class="label">{{ page.cart.fee.description }}</p>
              <p class="amount">{{ page.cart.fee.amount }}</p>
            </div>
            {% endif %}
            <div class="row total-footer">
              <p class="label">{{ page.cart.total.description }}</p>
              <p class="amount">{{ page.cart.total.amount }}</p>
            </div>
            <!-- display tax rows -->
            {% for row in page.cart.tax_rows %}
              {% if row.total != ""  %}
                <div class="row total-footer">
                  <p class="label">{{ row.description }}</p>
                  <p class="amount">{{ row.total }}</p>
                </div>
              {% endif %}
            {% endfor %}
            <!-- display grand total -->
            <div class="row total-footer">
              <p class="label">{{ page.cart.grand_total.description }}</p>
              <p class="amount">{{ page.cart.grand_total.amount }}</p>
            </div>
            <!-- Process cart buttons if they are in JSON -->
            {% for button in page.cart.buttons %} 
            {% if button.role == 'cancel' %}
            <div class="add-another-payment-wrapper cart-button-wrapper">
              <button id="mn_add_item" type="button" class="add-another-payment-button" onclick="location.href='{{button.url}}'">
                {{ button.description }}
              </button>
            </div>
            {% elseif button.role == 'pay' %}
            <div class="pay-now-cart-wrapper cart-button-wrapper">
              <button id="mn_pay" type="button" class="pay-now-cart-button" onclick="location.href='{{button.url}}'">
                {{ button.description }}
              </button>
            </div>
            {% endif %} {% endfor %}
          </div>
        </section>
      </div>
      {% endif %}
    </section>
    <div class="main-page-navbar action-buttons-wrapper" role="navigation" aria-label="Submit Buttons">
      {% for button in page.body.buttons %} {% if button.role == 'next' %}
      <a href="{{ button.url }}" title="">
        <button id="mn_next" class="results-next-button" type="submit" name="_method_name.continue">
          {{ button.description }}
        </button>
      </a>
      {% endif %} {% endfor %}
    </div>
    <!-- BEGIN FOOTER -->
    <footer class="main" role="contentinfo">
      <div id="template-nav-footer">
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.footer.nav[0].nav_items %}
            <li class="nav-link">
              <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="logo-container">
          <p>{{ page.footer.description }}</p>
          <div class="logo-img-wrapper">
            <img src='{{ page.footer.image }}' alt="Footer-Logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
  <div class="loading-overlay">
    <p id="theme-main-color"></p>
    <div id="spinnerWrapper" class="spinner-wrapper">
    </div>
  </div>
  <script>
  var barcodeNum;
  var formIsValid;
  var timerID;
  </script>
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).click(function(e) { 
      session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}}); 
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
</body>
</html>
