<!doctype html>
<html lang="en-us">

<head>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload(); 
          $('.loading-overlay').hide();
      }
    };
  </script>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
</head>

<body>
  <div class="main-wrapper acknowledgement">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
    <header id="nav-header" class="navigation" role="banner">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo"/>
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu">
          <span class="fontastic-mobile-menu"></span>
        </button>
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
            <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->
    <!-- BEGIN MODAL -->
    <div class="modal">
      {% for error in page.body.errors %}
      <div class="global-item-prompt">{{ error }}</div>
      {% endfor %}
      <input class="modal-state" id="modal-1" type="checkbox" checked />
      <div class="modal-fade-screen">
        <div class="modal-inner confirmation">
          <header>
            <div class="header-glyph">
              <span class="fontastic-check-mark-2"></span>
              <!-- FONT AWESOME -->
            </div>
            <div class="header-content">
              <div class="main-message">
                <h1>{{ page.body.description }}</h1>
              </div>
            </div>
          </header>
          <p class="modal-content">
            {{ page.body.terms }}
          </p>
          <div class="buttons-wrapper action-buttons-wrapper">
            {% for button in page.body.buttons %}
              {% if button.role == 'next' %}
              <a href="{{ button.url }}">
                <button id="ack_next" class="icon-right float-right action full-m">
                  <span>
                    {{ button.description }}
                  </span>
                </button>
              </a> {% elseif button.role == 'cancel' %}
              <a href="{{ button.url }}">
                <button id="ack_cancel" class="icon-left modal-close">
                  <span>
                      {{ button.description }}
                    </span>
                </button>
              </a>
            {% else %}
              <a href="{{ button.url }}">
                <button class="icon">
                  <span>
                      {{ button.description }}
                    </span>
                </button>
              </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- BEGIN FOOTER -->
    <footer class="main" role="contentinfo">
      <div id="template-nav-footer">
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.footer.nav[0].nav_items %}
            <li class="nav-link">
              <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="logo-container">
          <p>{{ page.footer.description }}</p>
          <div class="logo-img-wrapper">
            <img src='{{ page.footer.image }}' alt="Footer-Logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
  <div class="loading-overlay">
    <p id="theme-main-color"></p>
    <div id="spinnerWrapper" class="spinner-wrapper">
    </div>
  </div>
  <script>
  var barcodeNum;
  var formIsValid;
  var timerID;
  </script>
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).click(function(e) { 
      session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}}); 
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
</body>

</html>
