<!doctype html>
<html lang="en-us">

<head>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload(); 
          $('.loading-overlay').hide();
      }
    };
  </script>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
</head>

<body>
  <div class="main-wrapper multimatch">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
    <header id="nav-header" class="navigation" role="banner">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo"/>
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu">
          <span class="fontastic-mobile-menu"></span>
        </button>
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
            <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->
    <!-- Main Content -->
    <section class="main-content default" role="main">
      {% for error in page.body.errors %}
      <div class="global-item-prompt">{{ error }}</div>
      {% endfor %}
      <!-- Results Header -->
      <div class="results-header">
        <div class="row-wrapper">
          <div class="results-summary-wrapper">
            <div class="results-summary centered-vertically">
              <img class="search-icon" src="$path/img/search-icon_gray.png" alt="search-icon">
              <div class="results-summary-label" role="heading" aria-level="1">{{ page.body.description }}</div>
            </div>
          </div>
        </div>
        <div class="row-wrapper">
          {% for match in page.body.fields[0].grid.rows %}
          <div class="multimatch-group-detail">
            <div class="multimatch-details-wrapper">
              {% capture choice_id %}{{match.row_id | plus: 1}}{% endcapture %}
              <div class="multimatch-title"> <span class="multimatch-value">Option: {{ choice_id }}</span></div>
              <ul class="multimatch-details-list">
                {% for column in page.body.fields[0].grid.columns %} {% capture column_key %}{{ column.name }}{% endcapture %} {% if column.name != "SELECT_BUTTON" and column.role != "RESERVED_BUTTON" %}
                <li>
                  <span class="multimatch-details-single-title">{{ column.description }}:</span> {% for datum in match.data %} {% if datum.Key == column_key %}
                  <span class="multimatch-details-single-value1">{{ datum.Value }}</span> {% endif %} {% endfor %}
                </li>
                {% elseif column.role == "RESERVED_BUTTON" %}
                <li class="nav-link">
                  <a onclick="window.open('{{ datum.Value }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ column.description }}</a>
                </li>
                {% endif %} {% endfor %}
              </ul>
            </div>
            <div class="multimatch-options-wrapper">
              <div class="multimatch-options">
                {% for datum in match.data %} {% if datum.Key == "SELECT_BUTTON" %}
                <a href="{{ datum.Value }}" title="">
                  <button id="mm_choose{{choice_id}}" type="button" class="choose-button" aria-label="Choose {{choice_id}}">CHOOSE</button>
                </a>
                {% endif %} {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="multimatch-navbar action-buttons-wrapper" role="navigation" aria-label="Navigation Buttons">
        {% for button in page.body.buttons %}
        <a href="{{ button.url }}" title="">
            {% if button.role == 'back' %}
            <button id="mm_back" class="multimatch-back-button">
              {{ button.description }}
            </button>
            {% elseif button.role == 'cancel' %}
            <button id="mm_cancel" class="multimatch-cancel-button">
              {{ button.description }}
            </button>
            {% else %}
            <button id="mm_generic" class="multimatch-generic-button">
              {{ button.description }}
            </button>
            {% endif %}
          </a> {% endfor %}
      </div>
    </section>
    <!-- BEGIN FOOTER -->
    <footer class="main" role="contentinfo">
      <div id="template-nav-footer">
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.footer.nav[0].nav_items %}
            <li class="nav-link">
              <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="logo-container">
          <p>{{ page.footer.description }}</p>
          <div class="logo-img-wrapper">
            <img src='{{ page.footer.image }}' alt="Footer-Logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
  <div class="loading-overlay">
    <p id="theme-main-color"></p>
    <div id="spinnerWrapper" class="spinner-wrapper">
    </div>
  </div>
  <script>
  var barcodeNum;
  var formIsValid;
  var timerID;
  </script>
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).click(function(e) { 
      session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}}); 
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
</body>

</html>
