<!doctype html>
<html lang="en-us">

<head>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload(); 
          $('.loading-overlay').hide();
      }
    };
  </script>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
</head>

<body>
  <div class="main-wrapper receipt">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
    <header id="nav-header" class="navigation" role="banner">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo"/>
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu"> 
          <span class="fontastic-mobile-menu"></span> 
        </button> 
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
            <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->
    <section class="main-content default" role="main">
      {% for error in page.body.errors %}
      <div class="global-item-prompt">{{ error }}</div>
      {% endfor %}
      <header>
        <div class="header-glyph">
          <span class="fontastic-file-text"></span>
        </div>
        <div class="header-content">
          <div class="main-message">
            <h1>{{ page.body.description }}</h1>
          </div>
          <div class="button-container">
            <a class="no-loader" href="javascript:window.print()">
              <button id="receipt_print" class="" type="button"><span>printable version</span></button>
            </a>
          </div>
          {% if page.body.confirmation.confirmation_msg_1 != "" %} 
          <p class="instructions">
            {{ page.body.confirmation.confirmation_msg_1 }} 
          </p>
          {% endif %} 
          {% if page.body.confirmation.confirmation_msg_2 != "" %} 
          <p class="instructions">
            {{ page.body.confirmation.confirmation_msg_2 }} 
          </p>
          {% endif %} 
          {% if page.body.confirmation.confirmation_msg_3 != "" %} 
          <p class="instructions">
            {{ page.body.confirmation.confirmation_msg_3 }} 
          </p>
          {% endif %} 
          {% if page.body.confirmation.confirmation_msg_4 != "" %} 
          <p class="instructions">
            {{ page.body.confirmation.confirmation_msg_4 }} 
          </p>
          {% endif %} 
          <p class="instructions" style="margin:0 0.5em;">You may also send the receipt to additional recipients:</p>
          <div style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;" class="noprint">
            <input 
              name="email_receipt" 
              type="text" 
              aria-label="Email for receipt"
              style="padding:0.5em;flex-grow:1;border: 2px solid #e2e2e2;margin:0.5em;"
              class="email_receipt" 
              id="email_receipt" 
              placeholder="Email"
              onblur="ValidateEmailBlur()"
              /> 
            <button style="margin:0;" id="send_email_receipt" onclick="SendReceipt(event)">Send</button>
          </div>
          <div id="email_sent" style="display:none;font-size:0.8em;margin-left:0.75em;text-align:center;padding:0.5em 0 0 0;">Sent receipt to <span id="email_sent_to" style="color:green;font-weight:bold;"></span></div>
          <div id="email_not_sent" style="display:none;font-size:0.8em;margin-left:0.75em;text-align:center;padding:0.5em 0 0 0;">There was an issue sending the receipt to <span id="email_not_sent_to" style="color:red;font-weight:bold;"></span></div>
          <div id="email_pending" style="display:none;font-size:0.8em;margin-left:0.75em;text-align:center;padding:0.5em 0 0 0;color:#676767;">Sending...</div>
          <div id="email_invalid" style="display:none;font-size:0.8em;margin-left:0.75em;text-align:center;padding:0.5em 0 0 0;color:red;">Invalid Email Address</div>                  
          {% if page.body.receipt.receipt_header != "" %} 
          <p class="instructions" style="white-space: pre-line">
            {{ page.body.receipt.receipt_header }}
          </p>
          {% endif %} 
          {% if page.body.receipt.receipt_message_top != "" %} 
          <p class="instructions">
            {{ page.body.receipt.receipt_message_top }}
          </p>
          {% endif %} 
          <p class="instructions">
            {{ page.body.reference.description }} <strong>{{ page.body.reference.number }} </strong>
          </p>
		  <p class="instructions">
            {{ page.body.reference.timestamp }}
          </p>
        </div>
      </header>
      <!-- Start Transactions Table -->
      <div class="transactions-table">
        <div class="row total-header">
          <p class="label">{{ page.cart.grand_total.description }}</p>
          <p class="amount">{{ page.cart.grand_total.amount }}</p>
        </div>
        <div class="row items">
          {% for transaction in page.cart.transaction_rows %}
          <div class="row item">
            <p class="item-title">{{ transaction.description }} {{ transaction.ref_number }}</p>
            <p class="item-amount">{{ transaction.tax_type }} {{ transaction.total }}</p>
            <section class="details">
              {% for detail in transaction.details %}
              <p>
                <span class="label">{{ detail.Key }}</span>
                <span class="value">{{ detail.Value }}</span>
              </p>
              {% endfor %}
            </section>
            {% for nested in transaction.nested_transaction_rows %}
            <div class="row item">
              <p class="item-title">{{ nested.description }} {{ nested.ref_number }}</p>
              <p class="item-amount">{{ nested.tax_type }} {{ nested.total }}</p>
              <section class="details">
                {% for detail in nested.details %}
                <p>
                  <span class="label">{{ detail.Key }}</span>
                  <span class="value">{{ detail.Value }}</span>
                </p>
                {% endfor %}
              </section>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class="row items">
          {% for tender in page.cart.tender_rows %}
          <div class="row item">
            <p class="item-title">{{ tender.description }}</p>
            <p class="item-amount">{{ tender.total }}</p>
            <section class="details">
              {% for detail in tender.details %}
              <p>
                <span class="label">{{ detail.Key }}</span>
                <span class="value">{{ detail.Value }}</span>
              </p>
              {% endfor %}
            </section>
          </div>
          {% endfor %}
        </div>
        <div class="row additional-line-item">
          <p class="label">{{ page.cart.fee.description }}</p>
          <p class="amount">{{ page.cart.fee.amount }}</p>
        </div>
        <div class="row total-footer">
          <p class="label">{{ page.cart.grand_total.description }}</p>
          <p class="amount">{{ page.cart.grand_total.amount }}</p>
        </div>
      </div>
      <!-- End Transactions Table -->
      <div class="payment-method-summary">
        {% for detail in page.body.payment_summary %}
        <p class="card-info">
          <span class="label">{{ detail.Key }}</span>
          <span class="value">{{ detail.Value }}</span>
        </p>
        {% endfor %}
      </div>
      {% if page.body.receipt.receipt_message_bottom != "" %} 
      <p class="instructions">
        {{ page.body.receipt.receipt_message_bottom }}
      </p>
      {% endif %}
      {% if page.body.receipt.receipt_footer != "" %} 
      <p class="instructions">
        {{ page.body.receipt.receipt_footer }}
      </p>
      {% endif %}
      <div class="barcode-container" id="bcTarget" data-barcode-value="{{page.bodyreference.prefix}}{{page.body.reference.number}}" data-barcode-type="ean13">
        <p><strong>{{page.bodyreference.prefix}}{{page.body.reference.number}}</strong></p>
      </div>
      <div class="disclaimer">
        <p>{{ page.body.disclaimer |raw }}</p>
      </div>
      {% for btn in page.header.exit.buttons %}
        {% if btn.role == "exit" %}
          <div class="noprint" style="width:100%;text-align:center;">
            <button style="margin-bottom:10px;" class="modal-open-confirm">Exit</button>
          </div>
        {% endif %}
      {% endfor %}
    </section>
    <!-- BEGIN FOOTER -->
    <footer class="main" role="contentinfo">
      <div id="template-nav-footer">
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.footer.nav[0].nav_items %}
            <li class="nav-link">
              <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="logo-container">
          <p>{{ page.footer.description }}</p>
          <div class="logo-img-wrapper">
            <img src='{{ page.footer.image }}' alt="Footer-Logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
    <div class="modal">
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen" role="dialog" aria-label="Primary">
        <div class="modal-inner confirmation">
          <header role="none">
            <div class="header-glyph">
              <span class="fontastic-check-mark-2"></span>
              <!-- FONT AWESOME -->
            </div>
            <div class="header-content">
              <div class="main-message">
                <h1>Exit</h1>
              </div>
            </div>
          </header>
          <p class="modal-content">
            {{ page.header.exit.description }}
          </p>
          <div class="buttons-wrapper action-buttons-wrapper">
            {% for button in page.header.exit.buttons %}
              {% if button.role == 'exit' %}
                <a href="{{ button.url }}">
                  <button class="icon-right float-right action full-m">
                    <span>
                      {{ button.description }}
                    </span>
                  </button>
                </a> 
              {% elseif button.role == 'cancel' %}
                <button class="icon-left modal-close-confirm">
                  <span>
                      {{ button.description }}
                    </span>
                </button>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="loading-overlay">
    <p id="theme-main-color"></p>
    <div id="spinnerWrapper" class="spinner-wrapper">
    </div>
  </div>
  <script>
  var barcodeNum = "{{ page.body.reference.prefix }}{{ page.body.reference.number }}";
  var formIsValid;
  var timerID;
  </script>
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).click(function(e) { 
      session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}}); 
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
</body>

</html>