<!doctype html>
<html lang="en-us">

<head>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
    window.onpageshow = function(event) {
	  $(document).unbind('keydown').bind('keydown', function (event) {
      if (event.keyCode === 8) {
        var doPrevent = true;
        var types = ["text", "password", "file", "search", "email", "number", "date", "color", "datetime", 
          "datetime-local", "month", "range", "search", "tel", "time", "url", "week"];
        var d = $(event.srcElement || event.target);
        var disabled = d.prop("readonly") || d.prop("disabled");
        if (!disabled) {
            if (d[0].isContentEditable) {
                doPrevent = false;
            } else if (d.is("input")) {	
                var type = d.attr("type");
                if (type) {
                    type = type.toLowerCase();
                }
                if (types.indexOf(type) > -1) {
                    doPrevent = false;
                }
            } else if (d.is("textarea")) {
                doPrevent = false;
            }
        }
        if (doPrevent) {
            event.preventDefault();
            return false;
        }
      }
    });
      if (event.persisted) {
          window.location.reload(); 
          $('.loading-overlay').hide();
      }
    };
  </script>
</head>

<body>
  <div class="main-wrapper search">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
    <header id="nav-header" class="navigation" role="banner">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo">
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu">
          <img src="$path/img/menu-icon.png" alt="menu-icon">
        </button>
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
              <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->
    <section class="main-content" role="main">
      {% for error in page.body.errors %}
        <div class="global-item-prompt">{{ error }}</div>
      {% endfor %}
      <div {% if page.body.sections.length==2 %} class="float-left form" {% else %} class="form" {% endif %}>
        <form autocomplete="off" action={{ page.form_action | raw }} method="post">
      {% for section in page.body.sections %} 
        {% if forloop.length == 1 %}
          <div class="fieldset-wrapper">
            <div class="search-header-title-wrapper">
              <img class="search-icon" src="$path/img/search-icon_gray.png" alt="search-icon">
              <span class="header-title search-header-title" role="heading" aria-level="1">
              {% if section.description != "default" %}
                {{ section.description }}
              {% else %}
                Search - {{ section.fields[0].description }}
              {% endif %}
              </span>
              {% if section.help != "" %}
                <div class="tooltip-wrapper">
                  <div class="tooltip-item">
                    ?
                    <div class="tooltip">
                      <p>{{ section.help }}</p>
                    </div>
                  </div>
                </div>
               {% endif %} 
            </div>
            <fieldset class="fieldset-title show">
              {% for field in section.fields %} 
                {% if field.widget_type != "captcha" %}
                  <div for="{{field.simple.id}}" class="error" style="display:none">{{ field.description }}</div>
                  {% if field.widget_type == "tab_menu" %}
                    <div id="section-nav">
                      <p>{{ field.help }}</p>
                      <nav>
                        <ul id="js-navigation-menu" class="navigation-menu show">
                          {% for link in field.nav.nav_items %}
                          <li class="nav-link">
                            <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">
                              {{ link.description }}
                            </a>
                            <span class="search-link-spacer">|</span>
                          </li>
                          {% endfor %}
                        </ul>
                      </nav>
                    </div>
                  {% elseif field.widget_type == "text" %}
                    <p>{{ field.simple.value }}</p>
                  {% else %}
                    {% if field.widget_type == "input" %}
                      <div class="field span-width-12 {% if field.simple.required %}required{% endif %}" style="display:table" 
                        data-line="{{ field.simple.line_number }}">
                        <label for="{{ field.simple.name }}">{{ field.description }}</label>
                        <input style="display:table-cell" name="{{field.simple.name}}" 
                          type="{% if field.simple.hidden %}hidden{% else %}{{field.simple.field_type}}{% endif %}" 
                          class="{{field.simple.validation_name}} {% if field.simple.required %}required{% elseif field.simple.read_only %}readonly{% endif %}" 
                          id="{{field.simple.id}}" maxlength="{{field.simple.max_length}}"
                          {% if field.simple.read_only %}readonly disabled onfocus="this.blur()" {% endif %}                     
                          value="{{ field.simple.value }}" label="{{ field.simple.name }}"/> 
                        {% if field.help and field.help != "" %}
                          <div class="tooltip-wrapper">
                            <div class="tooltip-item">
                              ?
                              <div class="tooltip">
                                <p>{{ field.help }}</p>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    {% if field.widget_type == "dropdown" %} 
                      {% if field.simple.required %}
                      <div class="field required span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                        <label for="{{ field.simple.name }}">{{ field.description }}</label>
                        <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate required" id="{{field.simple.id}}" aria-label="{{field.simple.name}}"
                          name="{{field.simple.name}}">
                          {% for option in field.simple.options %}
                          <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                            {{ option.Key }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                      {% else %}
                      <div class="field span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                        <label for="{{ field.simple.name }}">{{ field.description }}</label>
                        <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate" 
                          id="{{ field.simple.id }}" name="{{ field.simple.name }}" aria-label="{{field.simple.name}}">
                        {% for option in field.simple.options %}
                          <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %}>
                            {{ option.Key }}
                          </option>
                        {% endfor %}
                        </select>
                      </div>
                      {% endif %} 
                    {% endif %} 
                    {% if field.widget_type == 'image' %}
                      <img src="{{ field.simple.url }}" class="span-12 {{field.simple.validation_name}}" 
                      alt="{{ field.description }}" /> 
                    {% endif %}
                  {% endif %} 
                {% endif %} 
              {% endfor %}
            </fieldset>
        </div>
        {% elseif forloop.length == 2 %}
          <div class="fieldset-wrapper two-methods span-width-5-5-tablet {% if forloop.index0 == 1 %}last-search-method{% endif %}">
            <fieldset class="fieldset-title show">
              <div class="search-header-title-wrapper">
                <img class="search-icon" src="$path/img/search-icon_gray.png" alt="search-icon">
                <span class="header-title search-header-title" role="heading" aria-level="1">
                  {% if section.description != "default" %}
                  {{ section.description }}
                  {% else %}
                  {{ section.fields[0].description }} Search
                  {% endif %}
                </span>
                {% if section.help != "" %}
                  <div class="tooltip-wrapper">
                    <div class="tooltip-item">
                      ?
                      <div class="tooltip">
                        <p>{{ section.help }}</p>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
          {% for field in section.fields %} 
            {% if field.widget_type != "captcha" %}
              <div for="{{field.simple.id}}" class="error">&nbsp;</div>
              {% if field.widget_type == "tab_menu" %}
                <div id="section-nav">
                  <p>{{ field.help }}</p>
                  <nav>
                    <ul id="js-navigation-menu" class="navigation-menu show">
                      {% for link in field.nav.nav_items %}
                      <li class="nav-link">
                        <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}
                        </a>
                        <span class="search-link-spacer">|</span>
                      </li>
                      {% endfor %}
                    </ul>
                  </nav>
                </div>
              {% elseif field.widget_type == "text" %}
                <p>{{ field.simple.value }}</p>
              {% else %}
                {% if field.widget_type == "input" %}
                  <div class="field span-width-12 {% if field.simple.required %}required{% endif %}" style="display:table" 
                    data-line="{{ field.simple.line_number }}">
                    <label for="{{ field.simple.name }}">{{ field.description }}</label>
                    <input style="display:table-cell" name="{{field.simple.name}}" 
                      type="{% if field.simple.hidden %}hidden{% else %}{{field.simple.field_type}}{% endif %}" 
                      class="{{field.simple.validation_name}} {% if field.simple.required %}required{% elseif field.simple.read_only %}readonly{% endif %}" 
                      id="{{field.simple.id}}" maxlength="{{field.simple.max_length}}"
                      {% if field.simple.read_only %}readonly disabled onfocus="this.blur()" {% endif %}                     
                      value="{{ field.simple.value }}" label="{{ field.simple.name }}"/> 
                    {% if field.help and field.help != "" %}
                      <div class="tooltip-wrapper">
                        <div class="tooltip-item">
                          ?
                          <div class="tooltip">
                            <p>{{ field.help }}</p>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                {% if field.widget_type == "dropdown" %} 
                  {% if field.simple.required %}
                    <div class="field required span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                      <label for="{{ field.simple.name }}">{{ field.description }}</label>
                      <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate required" 
                        id="{{field.simple.id}}" name="{{field.simple.name}}" aria-label="{{field.simple.name}}">
                        {% for option in field.simple.options %}
                        <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                          {{ option.Key }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  {% else %}
                    <div class="field span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                      <label for="{{ field.simple.name }}">{{ field.description }}</label>
                      <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate" 
                        id="{{ field.simple.id }}" name="{{ field.simple.name }}" aria-label="{{field.simple.name}}">
                      {% for option in field.simple.options %}
                        <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                          {{ option.Key }}
                        </option>
                      {% endfor %}
                      </select>
                    </div>
                  {% endif %} 
                {% endif %} 
                {% if field.widget_type == 'image' %}
                  <img src="{{ field.simple.url }}" class="span-12 {{field.simple.validation_name}}" 
                      alt="{{ field.description }}" />
                {% endif %}
              {% endif %} 
            {% endif %} 
          {% endfor %}
        </fieldset>
          {% if forloop.index0 == 0 %}
            </div>
            <div class="divider two-methods">&nbsp;</div>
          {% else %}
        </div>
          {% endif %} 
        {% elseif forloop.length > 2 %} 
          {% if forloop.index0 == 0 %}
          <ul class="accordion-tabs-minimal">
          {% endif %}
          <li class="tab-header-and-content">
            <a href="" class="tab-link">
            {% if section.description != "default" %}
              {{ section.description }}
            {% else %}
              {{ section.fields[0].description }} Search
            {% endif %}
            </a>
            <div class="tab-content">
              <div class="fieldset-wrapper">
                <fieldset class="fieldset-title show">
                  {% for field in section.fields %} 
                    {% if field.widget_type != "captcha" %}
                      <div for="{{field.simple.id}}" class="error"></div>
                      {% if field.widget_type == "tab_menu" %}
                        <div id="section-nav">
                          <p>{{ field.help }}</p>
                          <nav>
                            <ul id="js-navigation-menu" class="navigation-menu show">
                              {% for link in field.nav.nav_items %}
                              <li class="nav-link">
                                <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}
                                </a>
                                <span class="search-link-spacer">|</span>
                              </li>
                              {% endfor %}
                            </ul>
                          </nav>
                        </div>
                      {% elseif field.widget_type == "text" %}
                        <p>{{ field.simple.value }}</p>
                      {% else %}
                        {% if field.widget_type == "input" %}
                          <div class="field span-width-12 {% if field.simple.required %}required{% endif %}" style="display:table" 
                            data-line="{{ field.simple.line_number }}">
                            <label for="{{ field.simple.name }}">{{ field.description }}</label>
                            <input style="display:table-cell" name="{{field.simple.name}}" 
                              type="{% if field.simple.hidden %}hidden{% else %}{{field.simple.field_type}}{% endif %}" 
                              class="{{field.simple.validation_name}} {% if field.simple.required %}required{% elseif field.simple.read_only %}readonly{% endif %}" 
                              id="{{field.simple.id}}" maxlength="{{field.simple.max_length}}"
                              {% if field.simple.read_only %}readonly disabled onfocus="this.blur()" {% endif %}                     
                              value="{{ field.simple.value }}" label="{{ field.simple.name }}"/> 
                            {% if field.help and field.help != "" %}
                              <div class="tooltip-wrapper">
                                <div class="tooltip-item">
                                  ?
                                  <div class="tooltip">
                                    <p>{{ field.help }}</p>
                                  </div>
                                </div>
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                        {% if field.widget_type == "dropdown" %} 
                          {% if field.simple.required %}
                            <div class="field required span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                              <label for="{{ field.simple.name }}">{{ field.description }}</label>
                              <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate required" 
                                  id="{{field.simple.id}}" name="{{field.simple.name}}" aria-label="{{field.simple.name}}">
                                {% for option in field.simple.options %}
                                <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                                  {{ option.Key }}
                                </option>
                                {% endfor %}
                              </select>
                            </div>
                          {% else %}
                            <div class="field span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                              <label for="{{ field.simple.name }}">{{ field.description }}</label>
                              <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate" 
                                id="{{ field.simple.id }}" name="{{ field.simple.name }}" aria-label="{{field.simple.name}}">
                              {% for option in field.simple.options %}
                                <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                                  {{ option.Key }}
                                </option>
                              {% endfor %}
                            </select>
                        </div>
                          {% endif %} 
                        {% endif %} 
                        {% if field.widget_type == 'image' %}
                          <img src="{{ field.simple.url }}" class="span-12 {{field.simple.validation_name}}" 
                            alt="{{ field.description }}" /> 
                        {% endif %}
                      {% endif %}
                    {% endif %} 
                  {% endfor %}
                </fieldset>
              </div>
            </div>
          </li>
          {% if forloop.last == true %}
          </ul>
          {% endif %} 
          {% comment %} Below is where we close the if statement that controls the # of search panes {% endcomment %} 
        {% endif %} 
      {% endfor %} 
      {% comment %} This begins the 2nd For-Loop to capture the mobile version of the two-method search {% endcomment %} 
      {% for section in page.body.sections %} 
        {% assign listItemIndex = forloop.index %} 
        {% assign sectionIndex = forloop.index0 %} 
        {% if forloop.length > 1 %} 
          {% if forloop.index0 == 0 %}
            <ul class="accordion-tabs-minimal mobile-view">
          {% endif %} 
          {% if sectionIndex == 0 %} 
            {% for section in page.body.sections %} 
              {% assign tabIndex = forloop.index %}
              <a href="" class="tab-link" data-index="{{tabIndex}}">
              {% if section.description != "default" %}
                {{ section.description }}
              {% else %}
                {{ section.fields[0].description }} Search
              {% endif %}
              </a> 
            {% endfor %} 
          {% endif %}
          <li class="tab-header-and-content" data-index="{{listItemIndex}}">
          <div class="tab-content">
            <div class="fieldset-wrapper">
              <fieldset class="fieldset-title show">
          {% for field in section.fields %} 
            {% if field.widget_type != "captcha" %}
              <div for="{{field.simple.id}}" class="error"></div>
              {% if field.widget_type == "tab_menu" %}
                <div id="section-nav">
                <p>{{ field.help }}</p>
                <nav>
                  <ul id="js-navigation-menu" class="navigation-menu show">
                    {% for link in field.nav.nav_items %}
                    <li class="nav-link">
                      <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
                      <span class="search-link-spacer">|</span>
                    </li>
                    {% endfor %}
                  </ul>
                </nav>
                </div>
              {% elseif field.widget_type == "text" %}
                <p>{{ field.simple.value }}</p>
              {% else %}
                {% if field.widget_type == "input" %}
                  <div class="{% if field.simple.hidden %}{% else %}field span-width-12 {% if field.simple.required %}required{% endif %}{% endif %}" style="display:table" 
                    data-line="{{ field.simple.line_number }}">
                    <label for="{{ field.simple.name }}">{{ field.description }}</label>
                    <input style="display:table-cell" name="{{field.simple.name}}" 
                      type="{% if field.simple.hidden %}hidden{% else %}{{field.simple.field_type}}{% endif %}" 
                      class="{{field.simple.validation_name}} {% if field.simple.required %}required{% elseif field.simple.read_only %}readonly{% endif %}" 
                      id="{{field.simple.id}}" maxlength="{{field.simple.max_length}}"
                      {% if field.simple.read_only %}readonly disabled onfocus="this.blur()" {% endif %}                     
                      value="{{ field.simple.value }}" label="{{ field.simple.name }}"/> 
                    {% if field.help and field.help != "" %}
                      <div class="tooltip-wrapper">
                        <div class="tooltip-item">
                          ?
                          <div class="tooltip">
                            <p>{{ field.help }}</p>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                {% if field.widget_type == "dropdown" %} 
                  {% if field.simple.required %}
                  <div class="field required span-width-12" style="display:table">
                    <label for="{{ field.simple.name }}">{{ field.description }}</label>
                    <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate required" id="{{field.simple.id}}" name="{{field.simple.name}}" aria-label="{{field.simple.name}}">
                      {% for option in field.simple.options %}
                      <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                        {{ option.Key }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                  {% else %}
                  <div class="field span-width-12" style="display:table">
                    <label for="{{ field.simple.name }}">{{ field.description }}</label>
                    <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate" 
                      id="{{ field.simple.id }}" name="{{ field.simple.name }}" aria-label="{{field.simple.name}}">
                      {% for option in field.simple.options %}
                      <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                        {{ option.Key }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %} 
                {% endif %} 
                {% if field.widget_type == 'image' %}
                  <img src="{{ field.simple.url }}" class="span-12 {{field.simple.validation_name}}" 
                      alt="{{ field.description }}" />
                {% endif %}
              {% endif %} 
            {% endif %} 
          {% endfor %}
              </fieldset>
            </div>
          </div>
        </li>
          {% if forloop.last == true %}
          </ul>
          {% endif %} 
        {% endif %} 
      {% endfor %} 
      {% assign saw_captcha = false %}
      {% for section in page.body.sections %} 
        {% for field in section.fields %} 
          {% if field.widget_type == "captcha" %}
            {% assign saw_captcha = true %}
      <div class="captcha-wrapper">
        <div for="{{field.simple.id}}" class="error"></div>
        <div id="recaptcha0" data-sitekey="{{ field.simple.url }}" class="g-recaptcha" data-theme="light"></div>
      </div>
          {% endif %} 
        {% endfor %} 
      {% endfor %}
      <!-- <p class="search-disclaimer"> {{ page.header.description }} </p> -->
      <div class="form-buttons action-buttons-wrapper" role="navigation" aria-label="Search Buttons">
        {% for button in page.body.buttons %} {% if button.role == 'back' %}
        <button id="search_back" class="search-back-button" type="button" onclick=""cover();location.href='{{button.url}}'">
          {{ button.description }}
        </button>
        {% elseif button.role == 'cancel' %}
        <button id="search_cancel" class="search-cancel-button" type="button" onclick="cover();location.href='{{button.url}}'">
          {{ button.description }}
        </button>
        {% elseif button.role == 'next' %}
        <button id="search_next" class="search-next-button float-right icon-right action" type="submit" 
          name="_method_name.continue">
          {{ button.description }}
        </button>
        {% endif %} 
        {% endfor %}
      </div>
      </form>
    </div>
  </section>
  <!-- BEGIN FOOTER -->
  <footer class="main" role="contentinfo">
    <div id="template-nav-footer">
      <nav>
        <ul id="js-navigation-menu" class="navigation-menu show">
          {% for link in page.footer.nav[0].nav_items %}
          <li class="nav-link">
            <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="logo-container">
        <p>{{ page.footer.description }}</p>
        <div class="logo-img-wrapper">
          <img src='{{ page.footer.image }}' alt="Footer-Logo" />
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
  </div>
  <div class="loading-overlay">
    <p id="theme-main-color"></p>
    <div id="spinnerWrapper" class="spinner-wrapper"></div>
  </div>
  <script>
  var barcodeNum;
  var formIsValid;
  </script>

  {% if saw_captcha == true %}
  <script>
  var recaptchaSuccessCallback = function() {
    $('label[for="captcha"]').text('').hide();
  };

  var onloadCallback = function() {
    $('div.g-recaptcha').each(function(index, element) {
      var params = {};
      params['sitekey'] = $(element).attr('data-sitekey');
      params['theme'] = $(element).attr('data-theme');
      params['callback'] = recaptchaSuccessCallback;
      grecaptcha.render($(element).attr('id'), params);
    });
  };

  </script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
  {% endif %}
  
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    var timerID;
    $(document).click(function(e) { 
      session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}}); 
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
</body>

</html>
