<!doctype html>
<html lang="en-us">

<head>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload(); 
          $('.loading-overlay').hide();
      }
    };
  </script>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
</head>

<body>
  <div class="main-wrapper singlematch results">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
    <header id="nav-header" class="navigation" role="banner">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo"/>
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu">
          <span class="fontastic-mobile-menu"></span>
        </button>
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
            <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->
    <!-- Main Content -->
    <section class="main-content default" role="main">
      {% for error in page.body.errors %}
      <div class="global-item-prompt">{{ error }}</div>
      {% endfor %}
      <form autocomplete="off" action={{ page.form_action  | raw }} method="post">
        <!-- Results Header -->
        <div class="results-header">
          <div class="row-wrapper">
            <div class="results-summary-wrapper">
              <div class="results-summary">
                <img class="search-icon" src="$path/img/search-icon_gray.png" alt="">
                <div class="results-summary-label" role="heading" aria-level="1">{{ page.body.description }}</div>
              </div>
            </div>
            <div class="total-amount-owed-wrapper">
              <div class="total-amount-owed">
                <div class="total-amount-owed-label">Amount Owed: </div>
                <div class="total-amount-owed-value"></div>
              </div>
              <button id="sm_total_add_all" class="total-add-all-button" type="button">- REMOVE ALL</button>
            </div>
          </div>
          <div class="row-wrapper">
            <div class="total-selected-summary-wrapper">
            </div>
            <div class="total-amount-today-wrapper">
              <div class="main-item-group-payment-wrapper">
                <div class="total-selected-summary-label">You have selected <span class="total-selected-summary-value">0</span> total item(s)</div>
                <div class="total-amount-today-label">Total Amount Selected: </div>
                <div class="total-amount-today-value">$0.00</div>
              </div>
              <div class="pay-now-button-wrapper">
                <div class="in-cart-summary-label"><span class="in-cart-summary-value">0</span> item(s) in your cart</div>
                <button id="sm_pay_now" type="submit" class="pay-now-button" name="_method_name.continue">Pay Now</button>
              </div>
            </div>
          </div>
        </div>
        {% assign rows_idx = 0 %}
        {% assign fields_idx  = 0 %}                 
        <!-- Table Row -->
        {% for field in page.body.fields %}

        {% if field.widget_type == 'grid' %}
          {% assign canpay = false %}
          {% assign has_selector = false %}
          {% assign bal_field = false %}
          {% assign sel_field = false %}
          {% assign adj_bal_field = false %}
          {% assign balance = "0.00" %}
          {% assign block_type = field.grid.gparams.block_type %}

          {% for column in field.grid.columns %}
            {% if column.role == "RESERVED_AMOUNT_PAID" %}
              {% assign canpay = true %}
            {% elseif column.role == "RESERVED_SELECTED" %}
              {% assign has_selector = true %}
            {% elseif column.role == "RESERVED_ADJUSTED_BALANCE" %}
              {% assign adj_bal_field = column.name %}
            {% elseif column.role == "RESERVED_BALANCE" %}
              {% assign bal_field = column.name %}
            {% elseif column.role == "RESERVED_SELECT_QK" %}
              {% assign sel_field = column.name %}
            {% endif %}

            {% assign read_only = column.read_only %}
          {% endfor %}

          {% if adj_bal_field != false %}
            {% assign bal_field = adj_bal_field %}
          {% endif %}

        {% if block_type == 'block_fixed' or block_type == 'block_payment' or block_type == 'block_hoisted' or block_type == 'block_allocations' %}
        <div class="item-group-wrapper expander">
          <div class="item-group-prompt"
            {% if field.grid.gparams.block_type == 'block_hoisted' and field.grid.rows.size == 1 %} style="display:none;" {% endif %}>
            {{ field.help }}
          </div> 
          {% if field.grid.gparams.expand == true %}
          <div class="item-group expander-trigger"
            {% if field.grid.gparams.block_type == 'block_hoisted' and field.grid.rows.size == 1 %} style="display:none;" {% endif %}>
              <div class="item-group-description-wrapper">
                <div class="item-group-description">
                  <div class="expander-icon"></div>
                  <div class="item-group-description-label-wrapper">
                    <div class="item-group-description-number">{{ field.grid.rows | size }}</div>
                    <div class="item-group-description-label">{{ field.description }}:</div>
                    <div class="item-group-description-value">$</div>
                  </div>
                </div>
              </div>
              {% if canpay == true %}
              <div class="selected-summary-wrapper">
                <div class="item-group-payment-wrapper">
                  <div class="selected-summary-label">You have selected <span class="selected-summary-value">0</span> item(s)</div>
                  <div class="amount-today-label">Amount Selected: </div>
                  <div class="amount-today-value">$0.00</div>
                </div>
                <button id="sm_single_addall_{{fields_idx}}" class="add-all-button" type="button">- REMOVE ALL</button>
              </div>
              {% endif %}
            </div>         
          {% else %}
            <div class="item-group expander-trigger expander-hidden">
              <div class="item-group-description-wrapper">
                <div class="item-group-description">
                  <div class="expander-icon"></div>
                  <div class="item-group-description-label-wrapper">
                    <div class="item-group-description-number">{{ field.grid.rows | size }}</div>
                    <div class="item-group-description-label">{{ field.description }}:</div>
                    <div class="item-group-description-value">$</div>
                  </div>
                </div>
              </div>
              {% if canpay == true %}
              <div class="selected-summary-wrapper">
                <div class="item-group-payment-wrapper">
                  <div class="selected-summary-label">You have selected <span class="selected-summary-value">0</span> item(s)</div>
                  <div class="amount-today-label">Amount Selected: </div>
                  <div class="amount-today-value">$0.00</div>
                </div>
                <button id="sm_single_addall_{{fields_idx}}" class="add-all-button" type="button">- REMOVE ALL</button>
              </div>
              {% endif %}
            </div>          
          {% endif %}         
          <!-- Table Row Detail Group -->
          <div class="item-group-detail-wrapper expander-content">
            {% assign fields_idx = fields_idx | plus: 1 %}
            {% for match in field.grid.rows %} 
            <div class="item-group-detail" > <!-- TODO: handle read_only properly, since can't disable a DIV -->
              <div class="item-details-wrapper">
                {% assign canpay_lineitem = true %}
                {% for datum in match.data %}

                  {% if datum.Key == sel_field %}
                  <span class="item-title">{{ datum.Value }}: </span> 
                  {% endif %} 

                  {% if datum.Key == bal_field %}
                    {% assign bal_amt = datum.Value %}
                    {% if bal_amt contains "-" %}
                      {% assign balance = bal_amt | replace: "-", "-$" %}
                    {% else %}
                      {% assign balance = "$" | append: bal_amt %}
                    {% endif %}                                         
                  <span class="item-value"> {{ balance  }}</span> 
                  {% endif %}                

                {% endfor %}

                <ul class="item-details-list">
                  {% for column in field.grid.columns %} 
                    {% capture column_key %}{{ column.name }}{% endcapture %} 
                    
                    {% for datum in match.data %} 
                      {% if datum.Key == column_key and column.Key != sel_field and column.description != "" %} 
                        {% if column.role == "" %}
                          <li>
                            <span class="item-details-single-title">{{ column.description }}: </span>
                            {% if column.column_type contains "currency" %}
                            <span class="item-details-single-value1">{{ datum.Value | money }}</span>
                            {% else %}
                            <span class="item-details-single-value1">{{ datum.Value | raw}}</span>
                            {% endif %}
                          </li>
                        {% elseif column.role == "RESERVED_BUTTON" %}
                          <li class="nav-link">
                            <a onclick="window.open('{{ datum.Value }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ column.description }}</a>
                          </li>
                        {% elseif column.role == "RESERVED_BUTTON_INTERNAL" %}
                          <li class="nav-link">
                            <a href="{{ datum.Value }}" target="_blank">{{ column.description }}</a>
                          </li>
                        {% elseif column.role == "RESERVED_DETAILS" %}
                          <li class="nav-link">
                            <a class="det-outer-button" onclick="get_outer_details(this);" id="{{ datum.Value }}" 
                              data-url="{{ column.default_val }}" data-cbtid="{{ datum.Key }}">{{ column.description }}</a>
                          </li>
                        {% elseif column.role == "RESERVED_FEE" or column.role == "RESERVED_PENDING_PAYMENT" or column.role == "RESERVED_TOTAL_PAID" %}
                          <li>
                            <span class="item-details-single-title">{{ column.description }}: </span>                           
                            <span class="item-details-single-value1">{{ datum.Value | money }}</span>
                          </li>                             
                        {% endif %} 
                      {% endif %} 
                    {% endfor %} 
                  {% endfor %}
                </ul>
              </div>
              {% if canpay == true and canpay_lineitem == true %}
              {% assign rows_idx = rows_idx | plus: 1 %}
              <div class="item-payment-options-wrapper">
                <div class="item-payment-options">
                  <div class="error-label-wrapper">
                    <div for="sm_amt_{{fields_idx}}_{{rows_idx}}" class="error"></div>
                  </div>
                  <div class="item-payment-input-wrapper">
                    <div class="item-payment-input-label">PAY</div>
                    {% for column in field.grid.columns %} 
                      {% capture column_key %}{{ column.name }}{% endcapture %} 

                      {% for datum in match.data %}
                        {% if datum.Key == column_key and column.role == "RESERVED_SELECTED" %}
                        <span class="prop_RESERVED_SELECTED">
                          <input type=hidden class="item-payment-input-selector" value="{{ datum.Value }}"
                            name="args.{{field.grid.gparams.name}}.{{match.row_id}}._payment_selector"
                            {% if column.read_only %} readonly {% endif %}
                            data-column-key="{{ column_key }}" />
                        </span> 
                        {% endif %} 

                        {% if datum.Key == column_key and column.role == "RESERVED_AMOUNT_PAID" %}
                          {% if has_selector == false %}
                            <span class="prop_RESERVED_SELECTED">
                              <input type=hidden class="item-payment-input-selector" value="false"
                                name="args.{{field.grid.gparams.name}}.{{match.row_id}}._payment_selector"
                                data-column-key="_payment_selector" />
                            </span> 
                          {% endif %}
                          
                          <span class="prop_RESERVED_BALANCE" style="display:none;">{{ balance }}</span>
                          <span class="prop_RESERVED_AMOUNT_PAID">
                            <input id="sm_amt_{{fields_idx}}_{{rows_idx}}"
                              onfocus="if(this.value === '{{ balance }}') { this.Value = ''; }"
                              onblur="if(this.value === '') { this.value = '{{ balance }}'; }"
                              class="item-payment-input {{field.grid.gparams.name}} {{column.column_type}}"
                              type="text" value="{{ balance }}" placeholder="{{ balance }}"
                              name="args.{{field.grid.gparams.name}}.{{match.row_id}}.amount"
                              {% if column.read_only %} 
                                readonly onfocus="this.blur()"
                              {% else %}
                                onfocus="if (this.value === '') { this.value = '{{ balance }}'; }"
                              {% endif %} />
                          </span> 
                        {% endif %} 
                      {% endfor %} 
                    {% endfor %}
                  </div>
                  <button id="sm_single_add_{{fields_idx}}_{{rows_idx}}" class="add-single-button" type="button">+ Add</button>
                </div>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% elseif field.grid.gparams.block_type == 'block_display' %}
        <!-- Support Display blocks. -->
        {% assign alert_val = "" %} {% for datum in field.grid.rows[0].data %} {% if datum.Key == "ALERT" %} {% assign alert_val = datum.Value %} {% endif %} {% endfor %}
        <div class="item-group-wrapper prompt-only">
          <div class="item-group-prompt">{{ alert_val }}</div>
        </div>
        {% elseif field.grid.gparams.block_type == 'block_information' %}
        <!-- Support Info blocks. -->
        <div class="item-group-wrapper expander">
          <div class="item-group-prompt">{{ field.help }}</div>
          {% if field.grid.gparams.expand == true %}
            <div class="item-group expander-trigger">
              <div class="item-group-description-wrapper">
                <div class="item-group-description">
                  <div class="expander-icon"></div>
                  <div class="item-group-description-label-wrapper">
                    <div class="item-group-description-number"></div>
                    <div class="item-group-description-label">{{ field.description }}:</div>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="item-group expander-trigger expander-hidden">
              <div class="item-group-description-wrapper">
                <div class="item-group-description">
                  <div class="expander-icon"></div>
                  <div class="item-group-description-label-wrapper">
                    <div class="item-group-description-number"></div>
                    <div class="item-group-description-label">{{ field.description }}:</div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <!-- Table Row Detail Group -->
          <div class="item-group-detail-wrapper expander-content">
            {% for match in field.grid.rows %}
            <div class="item-group-detail">
              <div class="item-details-wrapper">
                <ul class="item-details-list">
                  {% for column in field.grid.columns %} 
                  {% capture column_key %}{{ column.name }}{% endcapture %} 
                  {% for datum in match.data %} 
                  {% if datum.Key == column_key %} 
                  {% if column.role == "" %}
                  <li>
                    <span class="item-details-single-title">{{ column.description }}: </span>
                    {% if column.column_type contains "currency" %}
                    <span class="item-details-single-value1">{{ datum.Value | money }}</span>
                    {% else %}
                    <span class="item-details-single-value1">{{ datum.Value }}</span>
                    {% endif %}
                  </li>
                  {% elseif column.role == "RESERVED_BUTTON" %}
                  <li class="nav-link">
                    <a onclick="window.open('{{ datum.Value }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ column.description }}</a>
                  </li>
                  {% endif %} {% endif %} {% endfor %} {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %} {% else %}
        <!-- Not a grid -->
          {% if field.widget_type == 'text' %}
          <!-- Text -->
        <div class="field span-width-12" style="display:table">
          <p>{{ field.simple.value | money }}</p>
          </div>
          {% endif %} 
          {% if field.widget_type == "input" %}
            <!-- Input -->
            <fieldset class="fieldset-title show">
              <div class="field span-width-12 {% if field.simple.required %}required{% endif %}" style="display:table" 
                data-line="{{ field.simple.line_number }}">
          <label for="{{ field.simple.name }}">{{ field.description }}</label>
                <input style="display:table-cell" name="{{field.simple.name}}" 
                  type="{% if field.simple.hidden %}hidden{% else %}{{field.simple.field_type}}{% endif %}" 
                  class="{{field.simple.validation_name}} {% if field.simple.required %}required{% elseif field.simple.read_only %}readonly{% endif %}" 
                  id="{{field.simple.id}}" maxlength="{{field.simple.max_length}}"
                  {% if field.simple.read_only %}readonly disabled onfocus="this.blur()" {% endif %}                     
                  value="{{ field.simple.value }}" label="{{ field.simple.name }}"/> 
                {% if field.help and field.help != "" %}
                  <div class="tooltip-wrapper">
                    <div class="tooltip-item">
                      ?
                      <div class="tooltip">
                        <p>{{ field.help }}</p>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </fieldset>
          {% endif %}
          {% if field.widget_type == "dropdown" %} 
            <fieldset class="fieldset-title show">
            {% if field.simple.required %}
              <div class="field required span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
          <label for="{{ field.simple.name }}">{{ field.description }}</label>
                <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate required" id="{{field.simple.id}}" 
                  name="{{field.simple.name}}" aria-label="{{field.simple.name}}">
            {% for option in field.simple.options %}
            <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
              {{ option.Key }}
            </option>
            {% endfor %}
          </select>
              </div>
            {% else %}
              <div class="field span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                <label for="{{ field.simple.name }}">{{ field.description }}</label>
                <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate" 
                  id="{{ field.simple.id }}" name="{{ field.simple.name }}" aria-label="{{field.simple.name}}">
                {% for option in field.simple.options %}
                  <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %}>
                    {{ option.Key }}
                  </option>
                {% endfor %}
                </select>
              </div>
            </fieldset>
            {% endif %} 
          {% endif %} 
          {% if field.widget_type == 'image' %}
            <fieldset class="fieldset-title show">
              <img src="{{ field.simple.url }}" class="span-12 {{field.simple.validation_name}}" 
              alt="{{ field.description }}" /> 
            </fieldset>
          {% endif %}
        {% endif %} {% endfor %}
        <p></p>
        <div style="text-align:center; width:95%;">
        Verify your payment amount and press the <b>NEXT</b> button to continue with your payment.<br>
        If you do not wish to make a payment at this time, return to the main page by pressing the <b>CANCEL</b> button.</div>
        <div class="results-navbar action-buttons-wrapper">
          {% for button in page.body.buttons %} 
          {% if button.role == 'cancel' %}
          <button id="sm_cancel" class="results-cancel-button" type="button" onclick="cover();location.href='{{button.url}}'">
            {{ button.description }}
          </button>
          {% elseif button.role == 'next' %}
          <button id="sm_next" class="results-next-button" type="submit" name="_method_name.continue">{{ button.description }}</button>
          {% endif %} {% endfor %}
        </div>
      </form>
    </section>
    <!-- BEGIN FOOTER -->
    <footer class="main" role="contentinfo">
      <div id="template-nav-footer">
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.footer.nav[0].nav_items %}
            <li class="nav-link">
              <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="logo-container">
          <p>{{ page.footer.description }}</p>
          <div class="logo-img-wrapper">
            <img src='{{ page.footer.image }}' alt="Footer-Logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
  <div class="loading-overlay">
    <p id="theme-main-color"></p>
    <div id="spinnerWrapper" class="spinner-wrapper">
    </div>
  </div>
  <div style="display: none;">
    {% for row in page.cart.transaction_rows %}
    <div class="row expander">
      <section class="details expander-content">
        {% for nested in row.nested_transaction_rows %}
        {% if nested.description != "" %}
          <p>
            <span class="label">Type:</span>
            <span class="value">{{ nested.description }}</span>
          </p>
        {% endif %}  
        {% if nested.tax_type != "" %}
          <p>
            <span class="label">Tax type:</span>
            <span class="value">{{ nested.tax_type }}</span>
          </p>
        {% endif %}
        {% if nested.total != "" %}
          <p>
            <span class="label">Total:</span>
            <span class="value">{{ nested.total }}</span>
          </p>
        {% endif %}
        {% for detail in nested.details %}
        <p>
          <span class="label nested-detail-key">{{ detail.Key }}</span>
          <span class="value nested-detail-value">{{ detail.Value }}</span>
        </p>
        {% endfor %}
        <p class="separator">- - -</p>
        {% endfor %}
      </section>
    </div>
    {% endfor %}
  </div>
  <script>
  var barcodeNum;
  var formIsValid;
  var timerID;
  </script>
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    $(document).click(function(e) { 
      session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}}); 
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
</body>

</html>
