<!doctype html>
<html lang="en-us">

<head>
  <script type="text/javascript">
    // On Page Load Set Page Show Listener
    // re: ticket #150 where Safari loads cached version of previous page
    // http://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
    // The page will detect that it has been loaded from cache and reload the current window
    window.onpageshow = function(event) {
      if (event.persisted) {
          window.location.reload(); 
          $('.loading-overlay').hide();
      }
	  
	  $(document).unbind('keydown').bind('keydown', function (event) {
      if (event.keyCode === 8) {
        var doPrevent = true;
        var types = ["text", "password", "file", "search", "email", "number", "date", "color", "datetime", "datetime-local", "month", "range", "search", "tel", "time", "url", "week"];
        var d = $(event.srcElement || event.target);
        var disabled = d.prop("readonly") || d.prop("disabled");
        if (!disabled) {
            if (d[0].isContentEditable) {
                doPrevent = false;
            } else if (d.is("input")) {
                var type = d.attr("type");
                if (type) {
                    type = type.toLowerCase();
                }
                if (types.indexOf(type) > -1) {
                    doPrevent = false;
                }
            } else if (d.is("textarea")) {
                doPrevent = false;
            }
        }

        if (doPrevent) {
          event.preventDefault();
          return false;
        }
      }});

      $(document).ready(function() { call_mirasecure_init(); });
    };
    
    // #26537 call Eigen
    function call_mirasecure_init() {
      var msiSel = $('#mirasecure_iframe');
      if (msiSel.length > 0) {
        // Bug IPAY-1543 MJO - Switched to new encryption method (removed mkey)
        mirasecure_init(msiSel.data('url'), msiSel.data('message'));
      }
    }
  </script>
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <title>{{ page.header.title }}</title>
  <link rel="stylesheet" href="$path/jquery.ui.v1.12.1.custom.css"></>
  <style> .ui-datepicker{max-width: 220px}</style>  
  <link rel="stylesheet" href="$path/css/main.css"/>
  <script src="$path/braintree.dropin.min.js"></script>
  <link rel='shortcut icon' href='{{ page.header.icon }}' />
  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="$path/js/ie11CustomProperties.min.js"><\/script>');</script>
</head>

<body>
  <div class="main-wrapper payment">
    <!-- BEGIN HEADER -->
    <div id="template-name" style="display: none;"> "TEMPLATE=" {{page.header.template_name}} </div>
    <header id="nav-header" class="navigation" role="banner">
      <div id="template-header" class="navigation-wrapper">
        <img class="nav-logo" src='{{ page.header.icon }}' alt="Logo" title="Logo" />
        {% if page.header.nav[0].nav_items.length > 0 %}
        <button class="navigation-menu-button" id="js-mobile-menu">
          <span class="fontastic-mobile-menu"></span>
        </button>
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.header.nav[0].nav_items %}
            <li class="nav-link"><a href="{{ link.url }}" target="_blank">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        {% if page.header.description != blank %}
          <section class="hero-unit">
            <div class="title">
              <h1> {{ page.header.description }} </h1>
            </div>
          </section>
        {% endif %}
      </div>
    </header>
    <!-- END HEADER -->

    <section class="main-content default" role="main">
      {% for error in page.body.errors %}
      <div class="global-item-prompt">{{ error }}</div>
      {% endfor %}
      <div class="payment-main-wrapper">
        <header>
          <div class="header-glyph payment-icon">
            <span class="fontastic-wallet"></span>
            <!-- LINECON-->
          </div>
          <div class="header-content">
            <div class="main-message">
              <h1>{{ page.body.description }}</h1>
            </div>
            {% for row in page.cart.transaction_rows %}
            {% capture choice_id %}{{match.row_id | plus: 1}}{% endcapture %}
            {% endfor %}
            
            {% if page.cart.count > 0 and page.cart.total.amount == "$0.00" %}
              <p class="instructions">
                Unpaid item(s) may not be paid with the selected tender
              </p> 
              <p class="instructions">
                 Please choose another tender
              </p>
            {% else %}
              <p class="instructions">
                You have chosen to pay {{ page.cart.count }} item(s). You can pay a total of {{ page.cart.grand_total.amount }}{% if page.cart.fee.amount != "" %} (including {{ page.cart.fee.amount }} in fees){% endif %} with the selected tender
              </p>
            {% endif %}  
            <div class="button-group">
              {% for section in page.body.sections %}
              <label for="payment-type-{{ section.description }}">
                <input type="radio" label="payment-type-{{ section.description }}" {% if section.fields.size > 0 %} checked {% endif %} 
                name="button-group" id="payment-type-{{ section.description }}" value="{{ section.description }}" 
                {% if section.url %} onclick="document.location.href='{{ section.url }}'" {% endif %} />
                <span class="button-group-item" title="{{ section.description }}">
                  {% if section.icon_path %}
                    <img src="{{ section.icon_path }}" alt="{{ section.description }}" title="{{ section.description }}">
                  {% else %}
                    {{ section.description }}
                  {% endif %}
                </span>
              </label>
              {% endfor %}
            </div>
          </div>
        </header>
        <div class="bill-summary-wrapper mobile-view">
          <section class="bill-summary default">
            <header>
              <div class="header-glyph">
                <span class="fontastic-tag"></span>
                <!-- OCTICON-->
              </div>
              <div class="header-content">
                <div class="bill-summary-message" role="heading" aria-level="1">
                  <p>{{ page.cart.description }}</p>
                </div>
              </div>
            </header>
            <div class="transactions-table">
              <button id="tender_retract2_mbl" class="float-right icon-right retract"><span>X</span></button>
              <div class="row total-header">
                <p class="label">Items</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
                <button id="tender_expand2_mbl" class="details small">
                  <span>Details</span>
                </button>
              </div>
              {% for row in page.cart.transaction_rows %}
              <div class="row expander">
                <header class="expander-trigger expander-hidden">
                  <p class="bill-summary-expander">
                    {{row.description}}
                  </p>
                  <p class="amount">{{ row.total }}</p>
                  <a href="{{row.delete.url}}" class="close-icon-link no-loader" aria-label="Cart Delete">
                    <p class="close-icon"></p>
                  </a>
                </header>
                <section class="details expander-content">
                  {% for nested in row.nested_transaction_rows %}
                  <p>
                    <span class="label">Type:</span>
                    <span class="value">{{ nested.description }}</span>
                  </p>
                  {% if nested.tax_type != "" %}
                  <p>
                    <span class="label">Tax type:</span>
                    <span class="value">{{ nested.tax_type }}</span>
                  </p>
                  {% endif %}
                  <p>
                    <span class="label">Total:</span>
                    <span class="value">{{ nested.total }}</span>
                  </p>
                  {% for detail in nested.details %}
                  <p>
                    <span class="label">{{ detail.Key }}</span>
                    <span class="value">{{ detail.Value }}</span>
                  </p>
                  {% endfor %}
                  <p class="separator">- - -</p>
                  {% endfor %}
                </section>
              </div>
              {% endfor %} 
              {% if page.cart.fsa_total.amount != "" %}
                <div class="row total-footer">
                  <p class="label">{{ page.cart.fsa_total.description }}</p>
                  <p class="amount">{{ page.cart.fsa_total.amount }}</p>
                </div> 
              {% endif %}
              {% if page.cart.event_total.amount != page.cart.total.amount %}
                <div class="row total-footer">
                  <p class="label">{{ page.cart.event_total.description }}</p>
                  <p class="amount">{{ page.cart.event_total.amount }}</p>
                </div> 
              {% endif %}
              {% if page.cart.fee.amount != "" %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.total.description }}</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
              </div>
              <div class="row total-footer">
                <p class="label">{{ page.cart.fee.description }}</p>
                <p class="amount">{{ page.cart.fee.amount }}</p>
              </div>
              {% endif %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.total.description }}</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
              </div>
              <!-- Process cart buttons if they are in JSON -->
              {% for button in page.cart.buttons %} 
              {% if button.role == 'cancel' %}
              <div class="add-another-payment-wrapper cart-button-wrapper">
                <button id="tender_add_item1" type="button" class="add-another-payment-button" onclick="location.href='{{button.url}}'">
                  {{ button.description }}
                </button>
              </div>
              {% elseif button.role == 'pay' %}
              <div class="pay-now-cart-wrapper cart-button-wrapper">
                <button id="tender_pay" type="button" class="pay-now-cart-button" onclick="location.href='{{button.url}}'">
                  {{ button.description }}
                </button>
              </div>
              {% endif %} {% endfor %}
            </div>
          </section>
        </div>
        <div class="form">
          <form name="form_class" autocomplete="off" action={{ page.form_action | raw }} method="post">
            {% for section in page.body.sections %}
            {% if section.fields.size > 0 %}
            {% capture tender_type %}{{ section.description | downcase }} {% endcapture %}
            {% if section.help != "" %}
            <p class="instructions">
              {{ section.help }}
              <br/>
            </p>            
            {% endif %}
            {% endif %}
            <fieldset id="payment-section-{{ section.description }}" {% if section.fields.size > 0 %} class="payment-section show" {% else %} class="payment-section hide" {% endif %}>
              {% if section.paypal %}
                {% assign enable_braintree = true %}
                {% assign client_id = section.paypal.client_id %}
                {% assign amount = section.paypal.amount %}
                {% assign enable_paypal = section.paypal.enable_paypal %}
                {% assign enable_venmo = section.paypal.enable_venmo %}
                {% assign line_items = section.paypal.line_items %}
                <div id="dropin-container"></div>
                {% comment %} hidden input already on page as a field {% endcomment %}
              {% else %}
                <header>
                  <span>Billing Information</span><span class="additional-text">&nbsp;(* = required fields)</span>
                </header>
              {% endif %}
              {% for field in section.fields %} 
              {% if field.simple.id == "args.credit_card_nbr" %} {% capture class_name %} credit_card_nbr {% endcapture %} 
              {% elseif field.simple.validation_name == "credit_card_nbr" %} {% capture class_name %}{{ field.simple.validation_name }} creditcardtypes {% endcapture %} 
              {% elseif field.simple.validation_name == "ccv" %} {% capture class_name %}{{ field.simple.validation_name }} digits {% endcapture %} 
              {% elseif field.simple.validation_name == "zip" %} {% capture class_name %}{{ field.simple.validation_name }} {% endcapture %} 
              {% elseif field.simple.validation_name == "EMAIL_RECEIPT" %} {% capture class_name %}{{ field.simple.validation_name }} email {% endcapture %}
              {% elseif field.simple.validation_name == "bank_routing_nbr" %} 
                {% capture class_name %}{{ field.simple.validation_name }} {% endcapture %}
                {% capture aba_url %}{{ field.simple.url }} {% endcapture %}
              {% else %} {% capture class_name %}{{ field.simple.validation_name }} {% endcapture %} 
              {% endif %}
              <div for="{{field.simple.id}}" class="error" role="alert"></div>
              {% if field.widget_type == "input" %} 
                <div class="{% if field.simple.hidden %}{% else %}field span-width-12 {% if field.simple.required %}required{% endif %}{% endif %}" style="display:table" 
                  data-line="{{ field.simple.line_number }}">
                  {% unless field.simple.hidden %}
                  <label for="{{ field.simple.name }}">{{ field.description }}</label>
                  {% endunless %}
                  <input style="display:table-cell" name="{{field.simple.name}}" 
                    type="{% if field.simple.hidden %}hidden{% else %}{{field.simple.field_type}}{% endif %}" 
                    class="{{ class_name }} {% if field.simple.required %}required{% elseif field.simple.read_only %}readonly{% endif %}" 
                    id="{{field.simple.id}}" minlength="{{field.simple.min_length}}" maxlength="{{field.simple.max_length}}" 
                    {% if field.simple.read_only %}readonly disabled onfocus="this.blur()" {% endif %}                     
                    {% if aba_url %} data-aba-url="{{aba_url}}" {% endif %}                      
                    value="{{ field.simple.value }}" /> 
                  {% if field.help and field.help != "" %}
                    <div class="tooltip-wrapper">
                      <div class="tooltip-item">
                        ?
                        <div class="tooltip">
                          <p>{{ field.help }}</p>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if field.widget_type == 'dropdown' %} 
                {% if field.simple.required %}
                <div class="field required span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                  <label for="{{field.simple.id}}">{{ field.description }}</label>
                  <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate required" 
                    id="{{field.simple.id}}" name="{{field.simple.name}}" aria-label="{{field.simple.name}}">
                    {% for option in field.simple.options %}
                    <option value="{{ option.Value }}" {% if field.simple.value == option.Value %} selected="selected" {% endif %} >
                      {{ option.Key }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                {% else %}
                <div class="field span-width-12" style="display:table" data-line="{{ field.simple.line_number }}">
                  <label for="{{field.simple.id}}">{{ field.description }}</label>
                  <select style="display:table-cell" class="{{field.simple.validation_name}} abbreviate" 
                    id="{{field.simple.id}}" name="{{field.simple.name}}" aria-label="{{field.simple.name}}">
                    {% for option in field.simple.options %}
                    <option value="{{ option.Value }}">{{ option.Key }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% endif %} {% endif %} {% if field.widget_type == 'image' %}
                <img src="{{ field.simple.url }}" class="span-12 checking-example" alt="check sample image" 
                  title="check sample image" /> {% endif %}
                {% if field.widget_type == 'iframe_mirasecure' %}
                  <div class="span-width-12" style="display:table">
                    <span id="mirasecure_iframe_span">
                      <iframe class="field span-width-12" style="display:table; height:400px" id="mirasecure_iframe" 
                        name="mirasecure_iframe" 
                        height="400px" width="600px"
                        data-url="{{ field.simple.url }}" data-message="{{ field.help }}">
                      </iframe>
                    </span>
                    <span style="display:none;" id="mirasecure_finished">
                      <p>
                        MiraSecure 
                        <img align="center" height="16" width="16" src="$path/img/checkmark.png" alt="checkmark_icon">
                      <br/>
                        Please click 'Next' when finished
                      </p>
                    </span>
                  </div>
                {% endif %}
              {% endfor %}
            </fieldset>
            {% endfor %}
            <div class="form-buttons action-buttons-wrapper" role="navigation" aria-label="Search Buttons">
              {% for button in page.body.buttons %} {% if button.role == 'back' %}
              <button id="tender_back" class="results-back-button" type="button" onclick="location.href='{{button.url}}'">
                {{ button.description }}
              </button>
              {% elseif button.role == 'cancel' %}
              <button id="tender_cancel" class="results-cancel-button" type="button" onclick="cover();location.href='{{button.url}}'">
                {{ button.description }}
              </button>
              {% elseif button.role == 'next' %}
              {% if tender_type contains "check" %}
              <button id="tender_next" class="results-next-button" type="button" onclick="cover_validate(this.form);">
                {{ button.description }}
              </button>
              {% else %}              
              <button id="tender_next" class="results-next-button" type="submit" onclick="setCCNbrEn();">
                {{ button.description }}
              </button>
              {% endif %}
              {% endif %} {% endfor %}
            </div>
          </form>
          </div>
          <div class="transactions-table mobile-view">
            <button id="tender_retract1" class="float-right icon-right retract"><span>X</span></button>
            <div class="row total-header">
              <p class="label">Items</p>
              <p class="amount">{{ page.cart.total.amount }}</p>
              <button id="tender_expand1" class="details small">
                <span>Details</span>
              </button>
            </div>
            {% for row in page.cart.transaction_rows %}
            <div class="row expander">
              <header class="expander-trigger expander-hidden">
                <p class="bill-summary-expander">
                  {{row.description}}
                </p>
                <p class="amount">{{ row.total }}</p>
                <a href="{{row.delete.url}}" class="close-icon-link no-loader" aria-label="Cart Delete">
                  <p class="close-icon"></p>
                </a>
              </header>
              <section class="details expander-content">
                {% for nested in row.nested_transaction_rows %}
                <p>
                  <span class="label">Type:</span>
                  <span class="value">{{ nested.description }}</span>
                </p>
                {% if nested.tax_type != "" %}
                <p>
                  <span class="label">Tax type:</span>
                  <span class="value">{{ nested.tax_type }}</span>
                </p>
                {% endif %}
                <p>
                  <span class="label">Total:</span>
                  <span class="value">{{ nested.total }}</span>
                </p>
                {% for detail in nested.details %}
                <p>
                  <span class="label">{{ detail.Key }}</span>
                  <span class="value">{{ detail.Value }}</span>
                </p>
                {% endfor %}
                <p class="separator">- - -</p>
                {% endfor %}
              </section>
            </div>
            {% endfor %} 
            {% if page.cart.fsa_total.amount != "" %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.fsa_total.description }}</p>
                <p class="amount">{{ page.cart.fsa_total.amount }}</p>
              </div> 
            {% endif %}
            {% if page.cart.event_total.amount != page.cart.total.amount %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.event_total.description }}</p>
                <p class="amount">{{ page.cart.event_total.amount }}</p>
              </div> 
            {% endif %}
            {% if page.cart.fee.amount != "" %}
            <div class="row total-footer">
              <p class="label">{{ page.cart.total.description }}</p>
              <p class="amount">{{ page.cart.total.amount }}</p>
            </div>
            <div class="row total-footer">
              <p class="label">{{ page.cart.fee.description }}</p>
              <p class="amount">{{ page.cart.fee.amount }}</p>
            </div>
            {% endif %}
            <div class="row total-footer">
              <p class="label">{{ page.cart.grand_total.description }}</p>
              <p class="amount">{{ page.cart.grand_total.amount }}</p>
            </div>
          </div>
        </div>
        <div class="bill-summary-wrapper">
          <section class="bill-summary default">
            <header>
              <div class="header-glyph">
                <span class="fontastic-tag"></span>
                <!-- OCTICON-->
              </div>
              <div class="header-content">
                <div class="bill-summary-message" role="heading" aria-level="1">
                  <p>{{ page.cart.description }}</p>
                </div>
              </div>
            </header>
            <div class="transactions-table">
              <button id="tender_retract2" class="float-right icon-right retract"><span>X</span></button>
              <div class="row total-header">
                <p class="label">Items</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
                <button id="tender_expand2" class="details small">
                  <span>Details</span>
                </button>
              </div>
              {% for row in page.cart.transaction_rows %}
              <div class="row expander">
                <header class="expander-trigger expander-hidden">
                  <p class="bill-summary-expander">
                    {{row.description}}
                  </p>
                  <p class="amount">{{ row.total }}</p>
                  <a href="{{row.delete.url}}" class="close-icon-link no-loader" aria-label="Cart Delete">
                    <p class="close-icon"></p>
                  </a>
                </header>
                <section class="details expander-content">
                  {% for nested in row.nested_transaction_rows %}
                  <p>
                    <span class="label">Type:</span>
                    <span class="value">{{ nested.description }}</span>
                  </p>
                  {% if nested.tax_type != "" %}
                  <p>
                    <span class="label">Tax type:</span>
                    <span class="value">{{ nested.tax_type }}</span>
                  </p>
                  {% endif %}
                  <p>
                    <span class="label">Total:</span>
                    <span class="value">{{ nested.total }}</span>
                  </p>
                  {% for detail in nested.details %}
                  <p>
                    <span class="label">{{ detail.Key }}</span>
                    <span class="value">{{ detail.Value }}</span>
                  </p>
                  {% endfor %}
                  <p class="separator">- - -</p>
                  {% endfor %}
                </section>
              </div>
              {% endfor %} 
              {% if page.cart.fsa_total.amount != "" %}
                <div class="row total-footer">
                  <p class="label">{{ page.cart.fsa_total.description }}</p>
                  <p class="amount">{{ page.cart.fsa_total.amount }}</p>
                </div> 
              {% endif %}
              {% if page.cart.event_total.amount != page.cart.total.amount %}
                <div class="row total-footer">
                  <p class="label">{{ page.cart.event_total.description }}</p>
                  <p class="amount">{{ page.cart.event_total.amount }}</p>
                </div> 
              {% endif %}             
              {% if page.cart.fee.amount != "" %}
              <div class="row total-footer">
                <p class="label">{{ page.cart.total.description }}</p>
                <p class="amount">{{ page.cart.total.amount }}</p>
              </div>
              <div class="row total-footer">
                <p class="label">{{ page.cart.fee.description }}</p>
                <p class="amount">{{ page.cart.fee.amount }}</p>
              </div>
              {% endif %}
              <!-- display tax rows -->
              {% for row in page.cart.tax_rows %}
                {% if row.total != ""  %}
                  <div class="row total-footer">
                    <p class="label">{{ row.description }}</p>
                    <p class="amount">{{ row.total }}</p>
                  </div>
                {% endif %}
              {% endfor %}
              <!-- display grand total -->
              <div class="row total-footer">
                <p class="label">{{ page.cart.grand_total.description }}</p>
                <p class="amount">{{ page.cart.grand_total.amount }}</p>
              </div>
              <!-- Process cart buttons if they are in JSON -->
              {% for button in page.cart.buttons %} {% if button.role == 'cancel' %}
              <div class="add-another-payment-wrapper cart-button-wrapper action-buttons-wrapper">
                <button id="tender_add_item2" type="button" class="add-another-payment-button" onclick="location.href='{{button.url}}'">
                  {{ button.description }}
                </button>
              </div>
              {% elseif button.role == 'pay' %}
              <div class="pay-now-cart-wrapper cart-button-wrapper action-buttons-wrapper">
                <button id="tender_pay" type="button" class="pay-now-cart-button" onclick="location.href='{{button.url}}'">
                  {{ button.description }}
                </button>
              </div>
              {% endif %} {% endfor %}
            </div>
          </section>
        </div>
    </section>
    <!-- BEGIN FOOTER -->
    <footer class="main" role="contentinfo">
      <div id="template-nav-footer">
        <nav>
          <ul id="js-navigation-menu" class="navigation-menu show">
            {% for link in page.footer.nav[0].nav_items %}
            <li class="nav-link">
              <a onclick="window.open('{{ link.url }}','mywindow','width=600,height=400,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">{{ link.description }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="logo-container">
          <p>{{ page.footer.description }}</p>
          <div class="logo-img-wrapper">
            <img src='{{ page.footer.image }}' alt="Footer-Logo" title="Footer-Logo" />
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
    <!-- BEGIN MODAL -->
    <div class="modal">
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner confirmation delete-confirmation">
          <header>
            <!-- <div class="header-glyph">
              <span class="fontastic-check-mark-2"></span>
            </div> -->
            <div class="header-content">
              <div class="main-message">
                <p>Delete Item?</p>
              </div>
            </div>
          </header>
          <p class="modal-content">
            Are you sure you want to delete the item totaling <span class="delete-confirmation-amount"></span> from the cart?
          </p>
          <div class="buttons-wrapper action-buttons-wrapper">
            <a href="" class="delete-confirmation-link">
              <button id="delete_confirm_button" class="icon-right float-right action full-m">
                <span>
                  Confirm
                </span>
              </button>
            </a> 
            <a href='#' class="no-loader">
              <button id="delete_cancel_btn" class="icon-left modal-close">
                <span>
                    Cancel
                </span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="loading-overlay">
      <p id="theme-main-color"></p>
      <div id="spinnerWrapper" class="spinner-wrapper">
      </div>
    </div>
    <script>
  var barcodeNum;
  var formIsValid;
  var timerID;
  </script>
  <script src="$path/jquery.v3.2.0.min.js"></script>
  <script src="$path/js/main.min.js"></script>
  <script src="$path/jquery.ui.v1.12.1.datepicker.min.js"></script>
  <script type="text/javascript">
    {% if enable_braintree %}
      var dropinContainer = document.getElementById("dropin-container");
      if (dropinContainer) {
        $(document).ready(function() { braintree_init("{{client_id}}", "{{amount}}", {{enable_paypal}}, {{enable_venmo}}, {{line_items |raw}}) });
      }
    {% endif %}
    $(document).click(function(e) {
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
    });
    session_timeout("{{page.header.exit.buttons[1].url |raw}}", {{page.header.session_timeout}});
  </script>
  <script>
    customize_theme_colors('{{page.themeColorsJson | raw}}');
  </script>
</body>

</html>
