﻿/* UMN TODO: need to clean up this file. Don't need all these classes for main menu */

@charset "UTF-8";
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v9/LAQwev4hdCtYkOYX4Oc7nPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v9/348gn6PEmbLDWlHbbV15d_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Heavy'), local('Raleway-Heavy'), url(https://fonts.gstatic.com/s/raleway/v9/ajQQGcDBLcyLpaUfD76UuPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

*,
::after,
::before {
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

img,
legend {
    border: 0
}

legend,
td,
th {
    padding: 0
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
optgroup,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre,
textarea {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.button-group {
    clear: both
}

.button-group::after {
    clear: both;
    content: "";
    display: table
}

.button-group input {
    display: none
}

.button-group label {
    margin-bottom: 0;
    float: left;
    width: 45%;
    font-size: 1.3em
}

@media screen and (min-width:728px) {
    .button-group label {
        font-size: 1em
    }
}

.button-group label .button-group-item {
    background: #fff;
    border-left: 1px solid #fff;
    border-radius: 5px;
    border-right: 1px solid #fff;
    color: #868686;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 400;
    line-height: 1;
    padding: .75em;
    width: 100%;
    min-height: 43px
}

@media screen and (min-width:728px) {
    .button-group label .button-group-item {
        border-bottom: 1px solid #fff;
        border-left: 0;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        width: auto;
        font-size: 1em;
        padding: .75em 1em
    }
    .navigation nav {
        display: none
    }
}

.button-group label .button-group-item:focus:hover,
.button-group label .button-group-item:hover:hover {
    border-bottom: solid #e17117;
    color: #e17117;
    -webkit-transition: .2s ease;
    transition: .2s ease
}

.button-group label input:checked+.button-group-item {
    background: 0 0;
    border-bottom: solid #e17117;
    box-shadow: none;
    color: #e17117;
    border-radius: 0
}

.navigation nav ul.navigation-menu {
    padding: 0 10px
}

.navigation nav ul.navigation-menu li a {
    color: #e17117
}

.navigation .navigation-menu-button {
    display: inline;
    float: right;
    position: absolute;
    top: .35em;
    height: 40px;
    max-height: 40px;
    right: .55em;
    font-size: 2em;
    color: #868686;
    text-decoration: none
}

@media screen and (min-width:728px) {
    .navigation .navigation-menu-button {
        display: none
    }
}

.navigation .navigation-menu-button img {
    height: 25px
}

.navigation .navigation-wrapper {
    text-align: center;
    position: relative;
    background: #f1f1f1;
    padding-top: .5em;
    min-height: 50px
}

.navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table
}

.navigation .logo {
    background: #e2e2e2
}

.navigation .logo img {
    max-height: 3em;
    background: 0 0;
    margin: 0
}

@media screen and (min-width:728px) {
    .navigation .navigation-wrapper {
        text-align: left
    }
    .navigation .logo {
        float: left
    }
    .navigation .logo img {
        margin: 30px 0 20px
    }
}

.navigation nav {
    float: none;
    margin-top: .5em
}

@media screen and (min-width:728px) {
    .navigation nav {
        float: right;
        margin: 2em 1em 1.5em 1.5em
    }
}

.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%
}

@media screen and (min-width:728px) {
    .navigation ul.navigation-menu {
        display: block;
        margin: 0;
        padding: 0
    }
}

.navigation ul.navigation-menu.show {
    display: block
}

.navigation ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    margin-bottom: 1.2em;
    padding-top: 1em;
    border-top: solid 1px #A0A0A0
}

@media screen and (min-width:728px) {
    .navigation ul li.nav-link {
        display: inline;
        text-decoration: none;
        width: auto
    }
    .navigation li.nav-link a {
        padding-right: 2em
    }
}

.navigation li.nav-link a {
    display: inline-block;
    text-decoration: none;
    color: #a9a9a9;
    font-size: .9em;
    -webkit-transition: .1s color linear;
    transition: .1s color linear
}

.navigation li.nav-link a:hover {
    color: #232d2f
}

fieldset header span {
    float: left
}

fieldset .button-group {
    float: left;
    padding-left: 15px
}

fieldset .button-group label .button-group-item {
    background-color: transparent;
    width: 50px;
    padding: 5px;
    height: 30px;
    border: 0;
    background-size: contain;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .3
}

fieldset .button-group label .button-group-item:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    opacity: .6
}

fieldset .button-group label input:checked+.button-group-item {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    background-size: contain;
    opacity: 1
}

.tooltip-item,
.tooltip-item .tooltip {
    background: #fff;
    position: absolute;
    text-align: center
}

fieldset .button-group label input:checked+.button-group-item:hover {
    opacity: 1
}

.buttons-wrapper {
    margin-top: 2.5em
}

.tooltip-wrapper {
    width: 15%;
    text-align: center;
    display: inline-block;
    float: right
}

.tooltip-item {
    border-radius: 105%;
    border: 1px solid #e17117;
    display: inline-block;
    color: #e17117;
    opacity: 1;
    padding: .25em .65em;
    top: 1em;
    right: .6em
}

.tooltip-item:focus .tooltip,
.tooltip-item:hover .tooltip {
    opacity: 1;
    visibility: visible
}

@media screen and (min-width:728px) {
    .tooltip-item {
        padding: .4em .75em;
        top: .75em;
        right: .5em
    }
}

.tooltip-item .tooltip {
    right: 0;
    bottom: 3.5em;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    color: #333;
    font-size: .9em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 16em;
    opacity: 0;
    padding: 1em;
    visibility: hidden;
    z-index: 1000;
    width: 10em;
    height: 10em
}

@media screen and (min-width:320px) {
    .tooltip-item .tooltip {
        margin-left: -8.75em
    }
}

@media screen and (min-width:728px) {
    .tooltip-item .tooltip {
        margin-left: -3.75em
    }
}

.tooltip-item .tooltip p {
    color: #333;
    line-height: 1.5em;
    margin: 0
}

.tooltip-item .tooltip:after {
    position: absolute;
    right: 0;
    left: 0;
    border: 8px solid transparent;
    bottom: -1.3em;
    color: #e17117;
    content: '▼';
    font-size: 1.4em;
    margin-left: -8px;
    text-align: center;
    text-shadow: 0 1px 1px #e2e2e2
}

.main-message::after,
.main-content::after,
.results-header::after,
.transactions-table .row::after {
    content: ""
}

.form-buttons {
    margin-bottom: 3em;
    float: left;
    width: 100%
}

@media screen and (min-width:728px) {
    .form-buttons {
        margin-bottom: 0
    }
}

.fieldset-button {
    min-width: 143px;
    min-height: 32px;
    text-align: center;
    margin-top: 0;
    text-transform: none
}

.fieldset-header-wrapper .button-group-item.fieldset-button {
    font-size: .8em;
    position: relative
}

.fieldset-header-wrapper .header-title {
    float: none
}

.fieldset-header-wrapper .fieldset-button-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%
}

.header-title .hide {
    display: none
}

.main-message {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto
}

.main-message::after {
    clear: both;
    display: table
}

@font-face {
    font-family: Metrize-Icons;
    src: url(../fonts/Metrize-Icons.eot);
    src: url(../fonts/Metrize-Icons.eot?#iefix) format("embedded-opentype"), url(../fonts/Metrize-Icons.ttf) format("truetype"), url(../fonts/Metrize-Icons.svg#Metrize-Icons) format("svg");
    font-weight: 400;
    font-style: normal
}

button {
    min-width: 134px;
    min-height: 48px
}

.results-header {
    background-color: #25282a;
    color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 1em
}

.amount-today-label,
.amount-today-value,
.selected-summary-label,
.item-group-description {
    color: #999
}

.results-header::after {
    clear: both;
    display: table
}

.results-header .results-summary-wrapper {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    padding: 1em;
    min-height: 75px;
    position: relative;
    font-size: 1.2em
}

.results-header .results-summary-wrapper:last-child {
    margin-right: 0
}

@media screen and (min-width:728px) {
    .results-header .results-summary-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 36.0264677513%
    }
    .results-header .results-summary-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:960px) {
    .results-header .results-summary-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }
    .results-header .results-summary-wrapper:last-child {
        margin-right: 0
    }
}

.results-header .total-selected-summary-wrapper {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    padding: 1em;
    min-height: 75px;
    position: relative
}

.results-header .total-selected-summary-wrapper:last-child {
    margin-right: 0
}

.results-header .total-amount-today-wrapper {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
    padding: 1em;
    position: relative;
    text-align: right
}

.results-header .total-amount-today-wrapper:last-child {
    margin-right: 0
}

.results-header .total-selected-summary-wrapper {
    padding-left: 3.3em
}

.results-header .total-amount-owed-wrapper {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
    padding: 1em;
    position: relative;
    text-align: right
}

.results-header .total-amount-owed-wrapper:last-child {
    margin-right: 0
}

@media screen and (min-width:728px) {
    .results-header .total-amount-owed-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 61.6158806508%
    }
    .results-header .total-amount-owed-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:960px) {
    .results-header .total-amount-owed-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }
    .results-header .total-amount-owed-wrapper:last-child {
        margin-right: 0
    }
}

.amount-today-label,
.amount-today-value,
.total-amount-owed,
.total-amount-today-label,
.item-group-description {
    font-size: 1.1em
}

.selected-summary-label,
.total-selected-summary-label {
    font-weight: 200;
    font-size: .9em
}

.centered-vertically {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.row-wrapper {
    display: block
}

.results-summary-value,
.results-summary-wrapper,
.results-item-value,
.total-amount-owed,
.total-amount-owed-label,
.total-amount-owed-value,
.total-amount-today-label,
.total-amount-today-value,
.total-selected-summary-label,
.total-selected-summary-wrapper {
    display: inline-block
}

.results-summary-label {
    display: inline
}

.results-summary {
    position: absolute;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.3em;
}

.main-menu-options::after {
    clear: both;
    content: ""
}

.results-navbar {
    padding: 1em 2em
}

.results-back-button {
    margin-right: 1.5em
}

.results-next-button {
    float: right;
    background-color: #e17117
}

.add-all-button,
.add-single-button,
.pay-now-button,
.results-back-button,
.results-cancel-button,
.results-next-button,
.total-add-all-button {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #666
}

.pay-now-button,
.results-next-button {
    color: #fff;
    margin-left: 1em
}

.total-add-all-button {
    margin-left: 1em
}

.selected {
    background: #f9d0bb
}


@media screen and (max-width:728px) {
    .results-header .results-summary-wrapper {
        float: none;
        display: block;
        width: 100%
    }
    .results-navbar {
        min-height: 225px
    }
    .results-back-button {
        width: 33%;
        min-width: 0
    }
}

.main-menu-group-detail {
    padding: 1em 1.2em;
    display: block;
    position: relative;
    min-height: 106px;
    background-color: #fff;
    margin: .5em auto;
    max-width: 100%;
    border-radius: 5px;
    border: 2px solid #e5e5e5
}

.main-menu-group-detail::after {
    clear: both;
    content: "";
    display: table
}

.main-menu-group-detail .main-menu-details-wrapper,
.main-menu-group-detail .search-option-details-wrapper {
    float: none;
    display: block;
    width: 100%
}

.main-menu-group-detail .main-menu-options-wrapper,
.main-menu-group-detail .search-option-options-wrapper {
    float: none;
    display: block;
    width: 100%;
    padding-top: .5em
}

.main-menu-group-detail .choose-button {
    margin-top: 0;
    -webkit-transform: translate(0, -5%);
    -ms-transform: translate(0, -5%);
    transform: translate(0, -5%)
}

@media screen and (min-width:320px) {
    .main-menu-group-detail,
    .search-option-group-detail {
        padding: 1em 1.9em 1em 2.725em
    }
    .main-menu-group-detail .main-menu-options-wrapper,
    .search-option-group-detail .main-menu-options-wrapper {
        margin-top: 0
    }
    .main-menu-group-detail .main-menu-details-wrapper,
    .search-option-group-detail .main-menu-details-wrapper {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%
    }
    .main-menu-group-detail .main-menu-details-wrapper:last-child,
    .search-option-group-detail .main-menu-details-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:728px) {
    .main-menu-group-detail,
    .search-option-group-detail {
        padding: 1em 1.9em 1em 2.725em
    }
    .main-menu-group-detail .main-menu-options-wrapper,
    .search-option-group-detail .main-menu-options-wrapper {
        margin-top: 1.6em
    }
    .main-menu-group-detail .main-menu-details-wrapper,
    .search-option-group-detail .main-menu-details-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%
    }
    .main-menu-group-detail .main-menu-details-wrapper:last-child,
    .search-option-group-detail .main-menu-details-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:728px) and (min-width:728px) {
    .main-menu-group-detail .main-menu-details-wrapper,
    .search-option-group-detail .main-menu-details-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 40.2913699012%
    }
    .main-menu-group-detail .main-menu-details-wrapper:last-child,
    .search-option-group-detail .main-menu-details-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:728px) and (min-width:960px) {
    .main-menu-group-detail .main-menu-details-wrapper,
    .search-option-group-detail .main-menu-details-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 55.2185274259%
    }
    .main-menu-group-detail .main-menu-details-wrapper:last-child,
    .search-option-group-detail .main-menu-details-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:728px) {
    .main-menu-group-detail .main-menu-options-wrapper,
    .search-option-group-detail .main-menu-options-wrapper {
        text-align: right;
        position: relative;
        padding-top: .8em;
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%
    }
    .main-menu-group-detail .main-menu-options-wrapper:last-child,
    .search-option-group-detail .main-menu-options-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:728px) and (min-width:728px) {
    .main-menu-group-detail .main-menu-options-wrapper,
    .search-option-group-detail .main-menu-options-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 57.3509785009%
    }
    .main-menu-group-detail .main-menu-options-wrapper:last-child,
    .search-option-group-detail .main-menu-options-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:728px) and (min-width:960px) {
    .main-menu-group-detail .main-menu-options-wrapper,
    .search-option-group-detail .main-menu-options-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 42.4238209762%
    }
    .main-menu-group-detail .main-menu-options-wrapper:last-child,
    .search-option-group-detail .main-menu-options-wrapper:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:960px) {
    .main-menu-group-detail .main-menu-options-wrapper,
    .search-option-group-detail .main-menu-options-wrapper {
        margin-top: .5em
    }
}

.main-menu-title {
    font-size: .9em;
    font-weight: 700;
    color: #333
}

.main-menu-value {
    color: #333;
    font-weight: 700
}

.results-main-menu-value {
    display: inline-block
}

.main-menu-details-list {
    list-style: none;
    padding: 0;
    font-size: .75em;
    color: #333
}

.main-menu-details-list li {
    margin-bottom: .5em;
    width: 100%
}

@media screen and (min-width:728px) {
    .search-option-title {
        text-align: left
    }
    .main-menu-details-list li {
        width: 100%
    }
}

.main-menu-details-list li:nth-child(odd) {
    float: left;
    margin-right: 1em
}

@media screen and (min-width:960px) {
    .main-menu-details-list li:nth-child(odd) {
        width: 50%
    }
}

.main-menu-details-single-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #888
}

.main-menu-details-single-value1,
.main-menu-details-single-value2 {
    font-weight: 700;
    color: #333
}

.main-menu-options {
    max-width: 68em;
    width: 100%;
    margin: 0;
    text-align: center
}

.main-menu-options::after {
    display: table
}

@media screen and (min-width:320px) {
    .main-menu-options .choose-button {
        margin-right: 2.3576515979%;
        width: 29.6291145264%;
        display: inline-block;
        float: none
    }
    .main-menu-options .choose-button:last-child {
        margin-right: 0
    }
}

body .main-wrapper::after,
header.navigation::after {
    display: table;
    clear: both;
    content: ""
}

.main-menu {
    margin-bottom: 0
}

@media screen and (min-width:728px) {
    .main-menu-options {
        text-align: right
    }
    .main-menu .row-wrapper:first-child {
        margin-bottom: 5em
    }
}

.main-menu-navbar {
    padding: 1em 2em;
    text-align: center
}

.main-menu-navbar .main-menu-back-button {
    margin-right: 2em
}

.main-content.default {
    padding: .5em
}

@media screen and (min-width:728px) {
    .main-menu-navbar {
        text-align: left
    }
    .main-menu-navbar .main-menu-back-button {
        margin-right: 1em
    }
    .main-content.default {
        margin-top: 2em
    }
}

.logo img {
    width: 220px
}

body {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    -ms-font-feature-settings: "lnum";
    -o-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    background: #004683;
    position: relative;
}

body .main-wrapper {
    max-width: 68em;
    margin: 0 auto;
    background: #f1f1f1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232d2f;
    padding: 0
}

button,
section.hero-unit .title h1 {
    font-family: Raleway, Helvetica, Arial, sans-serif
}

@media screen and (min-width:728px) {
    body .main-wrapper {
        padding: 0 15px 15px
    }
}

@media screen and (min-width:960px) {
    body .main-wrapper {
        padding: 0 40px 25px;
        max-width: 1200px
    }
}

a {
    text-decoration: none;
    color: inherit
}

header.navigation {
    max-width: 68em;
    background: #e2e2e2;
    margin-left: 0;
    margin-right: 0;
    min-height: 50px;
    position: relative
}

header.navigation .logo-container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%
}

header.navigation .logo-container:last-child,
header.navigation button:last-child {
    margin-right: 0
}

header.navigation .logo-container img.logo {
    height: 50px;
    width: 120px;
    margin: 0;
    background: 0 0
}

header.navigation button {
    float: left;
    display: block;
    width: 14.7019570017%;
    margin-right: 0
}

@media screen and (min-width:728px) {
    header.navigation button {
        display: none
    }
}

section.hero-unit {
    display: none;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    background: 0 0;
    padding: 0
}

section.hero-unit::after {
    clear: both;
    content: "";
    display: table
}

section.hero-unit .title {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-top: 30px
}

section.hero-unit .title:last-child {
    margin-right: 0
}

section.hero-unit .title h1 {
    float: left;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    position: relative
}

section.hero-unit .title h1.light {
    font-weight: 200
}

section.hero-unit .title h1 .pre {
    position: absolute;
    top: -.75em;
    left: 0;
    font-size: .5em;
    font-weight: 400
}

@media screen and (min-width:960px) {
    section.hero-unit .title h1 {
        font-size: 4em
    }
}

section.hero-unit p {
    clear: left
}

@media screen and (min-width:728px) {
    section.hero-unit {
        display: block
    }
}

.modal-inner header,
section header {
    padding: 1em 0
}

.modal-inner header .header-glyph,
section header .header-glyph {
    font-size: 2.2em;
    display: inline-block;
    float: left;
    color: #868686;
    padding-right: 10px;
    -webkit-transform: translate(0, 11%);
    -ms-transform: translate(0, 11%);
    transform: translate(0, 11%)
}

.modal-inner header .header-content,
section header .header-content {
    float: left;
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px)
}

.modal-inner header .header-content .main-message p,
section header .header-content .main-message p {
    color: #e17117;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: 200;
    float: none
}

@media screen and (min-width:728px) {
    .modal-inner header .header-content .main-message .search-header-title1-wrapper,
    section header .header-content .main-message .search-header-title1-wrapper {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }
    .modal-inner header .header-content .main-message .search-header-title1-wrapper:last-child,
    section header .header-content .main-message .search-header-title1-wrapper:last-child {
        margin-right: 0
    }
}

.modal-inner header .header-content .main-message .search-header-title2-wrapper,
section header .header-content .main-message .search-header-title2-wrapper {
    display: none
}

@media screen and (min-width:728px) {
    .modal-inner header .header-content .main-message .search-header-title2-wrapper,
    section header .header-content .main-message .search-header-title2-wrapper {
        float: left;
        margin-right: 2.3576515979%;
        width: 48.821174201%;
        padding-left: 1.6em;
        display: inline-block
    }
    .modal-inner header .header-content .main-message .search-header-title2-wrapper:last-child,
    section header .header-content .main-message .search-header-title2-wrapper:last-child {
        margin-right: 0
    }
}

.modal-inner header .header-content .instructions,
section header .header-content .instructions {
    clear: left;
    color: #868686;
    padding-top: 1em;
    font-size: 1.1em
}

.modal-inner header .header-content .button-group,
section header .header-content .button-group {
    margin-bottom: 15px
}

section.main-content {
    background: #c6893f;
    padding: 0 1em 75px
}

section.main-content::after {
    clear: both;
    content: "";
    display: table
}

@media screen and (min-width:728px) {
    section.main-content {
        padding-left: 2em;
        padding-right: 2em
    }
}

section.main-content .body-text {
    margin: 0;
    padding-top: .1em;
    clear: left
}

section.main-content nav {
    line-height: 1.7em;
    float: left
}

section.main-content ul.navigation-menu {
    clear: both;
    margin: 0 auto 20px;
    overflow: visible;
    width: 100%;
    display: block;
    padding: 0
}

section.main-content ul.navigation-menu.show {
    display: block;
    margin-bottom: 0
}

section.main-content ul li.nav-link {
    text-align: center;
    display: inline;
    text-decoration: none;
    width: auto
}

section.main-content ul li.nav-link .search-link-spacer {
    color: #d3d3d3;
    padding-right: .5em
}

section.main-content li.nav-link:last-child .search-link-spacer {
    display: none
}

section.main-content li.nav-link a {
    display: inline-block;
    color: #e17117;
    font-size: .9em;
    -webkit-transition: .1s color linear;
    transition: .1s color linear;
    padding-right: .5em
}

section.main-content li.nav-link a:hover {
    color: #232d2f;
    cursor: pointer
}

fieldset {
    max-width: 68em;
    clear: left;
    border: none;
    padding: 0;
    margin: 0 0 20px
}

fieldset::after {
    clear: both;
    content: "";
    display: table
}

fieldset header {
    width: 100%;
    font-weight: 700;
    float: left
}

fieldset header .additional-text {
    font-weight: 400
}

fieldset .field {
    border: 2px solid #e2e2e2;
    padding: 0 0 0 12px;
    border-radius: 5px;
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    height: 55px
}

fieldset .field label {
    display: table-cell;
    font-size: .8em;
    font-weight: 700;
    color: #868686;
    vertical-align: middle;
    max-width: 100px;
    height: 60px;
    text-transform: uppercase
}

@media screen and (min-width:1100px) {
    fieldset .field label {
        font-size: .75em
    }
}

fieldset .field label.full,
fieldset .field label.full-m {
    display: block
}

fieldset .field input,
fieldset .field select {
    border: none;
    outline: 0;
    display: table-cell;
    font-size: 1.6em;
    padding: .4em;
    font-weight: 200;
    width: 85%
}

@media screen and (min-width:728px) {
    section.main-content ul li.nav-link {
        text-align: right
    }
    fieldset .field label.full-m {
        display: table-cell
    }
    fieldset .field input,
    fieldset .field select {
        font-size: 1.8em
    }
}

fieldset .field input:focus,
fieldset .field select:focus {
    outline: #868686 solid 1px;
    box-shadow: 0 0 1px 1px #868686
}

fieldset .field .chosen-container {
    border: none;
    display: table-cell;
    width: 100%
}

fieldset .field .chosen-container a {
    width: 100%;
    float: right;
    border: none;
    background: 0 0;
    box-shadow: none;
    text-align: center
}

fieldset .field .chosen-container .chosen-drop {
    margin-top: -18px;
    float: right
}

fieldset .field select {
    margin: .25em 0 .5em;
    background: #fff
}

fieldset .field select.abbreviate {
    white-space: pre
}

fieldset .field.error {
    color: #e17117;
    border-color: #e17117
}

fieldset .field.error::-webkit-input-placeholder {
    color: #e17117
}

fieldset .field.error::-moz-placeholder {
    color: #e17117
}

fieldset .field.error:-moz-placeholder {
    color: #e17117
}

fieldset .field.error:-ms-input-placeholder {
    color: #e17117
}

fieldset .field.error label {
    color: #e17117
}

fieldset .field.error span {
    color: #e17117;
    font-weight: 700;
    font-size: .9em;
    position: absolute;
    top: -webkit-calc(100% + 2px);
    top: calc(100% + 2px);
    left: 15px
}

fieldset .field.required {
    padding-left: 10px
}

fieldset .field.required label::before {
    content: '*'
}

fieldset .field-no-border {
    border: none
}

button {
    background-color: #e2e2e2;
    border: 0;
    display: inline-block;
    text-decoration: none;
    background-clip: padding-box;
    color: #232d2f;
    font-weight: 400;
    font-size: .8em;
    padding: 12px 18px;
    text-transform: uppercase;
    clear: left;
    float: none;
    margin-top: 20px;
    position: relative;
    border-radius: 5px
}

button:hover:not(:disabled) {
    cursor: pointer;
    background: #c9c9c9;
    color: #000;
    -webkit-transition: .2s ease;
    transition: .2s ease
}

button:active:not(:disabled),
button:focus:not(:disabled) {
    background-color: #d5d5d5;
    cursor: pointer
}

button:disabled {
    cursor: not-allowed;
    opacity: .5
}

@media screen and (min-width:728px) {
    fieldset .field select.abbreviate {
        white-space: nowrap
    }
    button {
        margin-top: 0;
        width: auto;
        font-size: 1em
    }
}

button::before {
    font-size: 1.6em;
    color: #232d2f
}

@media screen and (min-width:728px) {
    button::before {
        font-size: 2em
    }
}

button.icon-left::before {
    float: left
}

button.icon-right::before {
    float: right
}

button.centered {
    display: block;
    margin: 20px auto 0
}

button.small {
    font-size: .7em;
    padding-right: 5px;
    padding-left: 0
}

button.small span {
    top: -.4em;
    padding: 0
}

button.small:before {
    font-size: 1.4em
}

button.action {
    background: #e17117;
    color: #fff;
    font-weight: 400;
    -webkit-transition: .2s ease;
    transition: .2s ease
}

button.action::before {
    color: #fff
}

button.action:hover:not(:disabled) {
    background: #b35a12;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    color: #fff
}

button.single {
    width: 100%
}

@media screen and (min-width:728px) {
    button.small:before {
        font-size: 1.5em
    }
    button.small {
        font-size: .8em
    }
    button.single {
        width: initial;
        float: right
    }
}

footer.main nav,
nav.standard {
    float: none
}

footer.main nav ul.navigation-menu,
nav.standard ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%
}

footer.main nav ul.navigation-menu.show,
nav.standard ul.navigation-menu.show {
    display: block
}

footer.main nav ul li.nav-link,
nav.standard ul li.nav-link {
    display: block;
    text-align: center;
    width: 100%
}

@media screen and (min-width:728px) {
    footer.main nav,
    nav.standard {
        float: left
    }
    footer.main nav ul.navigation-menu,
    nav.standard ul.navigation-menu {
        display: block;
        margin: 0;
        padding: 0
    }
    footer.main nav ul li.nav-link,
    nav.standard ul li.nav-link {
        display: inline;
        text-decoration: none;
        width: auto;
        text-align: right
    }
    footer.main nav ul li.nav-link:not(:last-child):after,
    nav.standard ul li.nav-link:not(:last-child):after {
        content: "|";
        color: #232d2f;
        font-size: .6em;
        position: relative;
        bottom: .2em
    }
    footer.main nav li.nav-link a,
    nav.standard li.nav-link a {
        padding-right: .8em;
        padding-left: .8em
    }
}

footer.main nav li.nav-link a,
nav.standard li.nav-link a {
    display: inline-block;
    text-decoration: none;
    color: #e17117;
    font-size: .9em;
    -webkit-transition: .1s color linear;
    transition: .1s color linear
}

footer.main nav li.nav-link a:hover,
nav.standard li.nav-link a:hover {
    color: #232d2f;
    cursor: pointer
}

footer.main {
    display: block;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    clear: left
}

footer.main nav {
    float: none
}

footer.main p {
    clear: left
}

footer.main .logo-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

footer.main .logo-container::after {
    clear: both;
    content: "";
    display: table
}

footer.main .logo-container p {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    text-align: left
}

footer.main .logo-container p:last-child {
    margin-right: 0
}

footer.main .logo-container .logo-img-wrapper {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%;
    text-align: right;
    padding-top: 1em;
}

.span-width-11,
.span-width-12 {
    width: 100%;
    float: left;
    display: block
}

footer.main .logo-container .logo-img-wrapper:last-child {
    margin-right: 0
}

footer.main .logo-container .logo-img-wrapper img {
    height: 20px;
    margin-top: .75em
}

.validation-error {
    color: red
}

.span-width-12 {
    margin-right: 2.3576515979%
}

.span-width-12.last-in-row,
.span-width-12:last-child {
    margin-right: 0
}

.span-width-11 {
    margin-right: 2.3576515979%
}

.span-width-11:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-11 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 91.4701957002%
    }
    .span-width-11:last-child {
        margin-right: 0
    }
}

.span-width-11.last-in-row {
    margin-right: 0
}

.span-width-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-10:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-10 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 82.9403914003%
    }
    .span-width-10:last-child {
        margin-right: 0
    }
}

.span-width-10.last-in-row {
    margin-right: 0
}

.span-width-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-9:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-9 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 74.4105871005%
    }
    .span-width-9:last-child {
        margin-right: 0
    }
}

.span-width-9.last-in-row {
    margin-right: 0
}

.span-width-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-8:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-8 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 65.8807828007%
    }
    .span-width-8:last-child {
        margin-right: 0
    }
}

.span-width-8.last-in-row {
    margin-right: 0
}

.span-width-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-7:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-7 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 57.3509785009%
    }
    .span-width-7:last-child {
        margin-right: 0
    }
}

.span-width-7.last-in-row {
    margin-right: 0
}

.span-width-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    width: 100%
}

.span-width-6:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-6 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }
    .span-width-6:last-child {
        margin-right: 0
    }
}

.span-width-6.last-in-row {
    margin-right: 0
}

.span-width-5-5-tablet {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-5-5-tablet:last-child {
    margin-right: 0
}

@media screen and (min-width:728px) {
    footer.main {
        padding: 1em 0;
        display: block
    }
    .span-width-5-5-tablet {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 44.5562720511%
    }
    .span-width-5-5-tablet:last-child {
        margin-right: 0
    }
}

.span-width-5-5-tablet.last-in-row {
    margin-right: 0
}

.span-width-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-5:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-5 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 40.2913699012%
    }
    .span-width-5:last-child {
        margin-right: 0
    }
}

.span-width-5.last-in-row {
    margin-right: 0
}

.span-width-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-4:last-child {
    margin-right: 0
}

@media screen and (min-width:728px) {
    .span-width-4 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%
    }
    .span-width-4:last-child {
        margin-right: 0
    }
}

.span-width-4.last-in-row {
    margin-right: 0
}

.span-width-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-3:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-3 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%
    }
    .span-width-3:last-child {
        margin-right: 0
    }
}

.span-width-3.last-in-row {
    margin-right: 0
}

.span-width-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-2:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-2 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 14.7019570017%
    }
    .span-width-2:last-child {
        margin-right: 0
    }
}

.span-width-2.last-in-row {
    margin-right: 0
}

.span-width-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%
}

.span-width-1:last-child {
    margin-right: 0
}

@media screen and (min-width:960px) {
    .span-width-1 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 6.1721527019%
    }
    .span-width-1:last-child {
        margin-right: 0
    }
}

.span-width-1.last-in-row {
    margin-right: 0
}

.outer-container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto
}

.outer-container::after {
    clear: both;
    content: "";
    display: table
}

.span-0-half,
.span-1,
.span-1-half,
.span-10,
.span-10-half,
.span-11,
.span-11-half,
.span-12,
.span-2,
.span-2-half,
.span-3,
.span-3-half,
.span-4,
.span-4-half,
.span-5,
.span-5-half,
.span-6-half,
.span-7,
.span-7-half,
.span-8,
.span-8-half,
.span-9,
.span-9-half {
    float: left;
    display: block
}

.span-0-half {
    margin-right: 2.3576515979%;
    width: 1.907250552%
}

.span-0-half:last-child {
    margin-right: 0
}

.span-1 {
    margin-right: 2.3576515979%;
    width: 6.1721527019%
}

.span-1:last-child {
    margin-right: 0
}

.span-1-half {
    margin-right: 2.3576515979%;
    width: 10.4370548518%
}

.span-1-half:last-child {
    margin-right: 0
}

.span-2 {
    margin-right: 2.3576515979%;
    width: 14.7019570017%
}

.span-2:last-child {
    margin-right: 0
}

.span-2-half {
    margin-right: 2.3576515979%;
    width: 18.9668591516%
}

.span-2-half:last-child {
    margin-right: 0
}

.span-3 {
    margin-right: 2.3576515979%;
    width: 23.2317613015%
}

.span-3:last-child {
    margin-right: 0
}

.span-3-half {
    margin-right: 2.3576515979%;
    width: 27.4966634515%
}

.span-3-half:last-child {
    margin-right: 0
}

.span-4 {
    margin-right: 2.3576515979%;
    width: 31.7615656014%
}

.span-4:last-child {
    margin-right: 0
}

.span-4-half {
    margin-right: 2.3576515979%;
    width: 36.0264677513%
}

.span-4-half:last-child {
    margin-right: 0
}

.span-5 {
    margin-right: 2.3576515979%;
    width: 40.2913699012%
}

.span-5:last-child {
    margin-right: 0
}

.span-5-half {
    margin-right: 2.3576515979%;
    width: 44.5562720511%
}

.span-5-half:last-child {
    margin-right: 0
}

.span-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%
}

.span-6:last-child {
    margin-right: 0
}

.span-6-half {
    margin-right: 2.3576515979%;
    width: 53.0860763509%
}

.span-6-half:last-child {
    margin-right: 0
}

.span-7 {
    margin-right: 2.3576515979%;
    width: 57.3509785009%
}

.span-7:last-child {
    margin-right: 0
}

.span-7-half {
    margin-right: 2.3576515979%;
    width: 61.6158806508%
}

.span-7-half:last-child {
    margin-right: 0
}

.span-8 {
    margin-right: 2.3576515979%;
    width: 65.8807828007%
}

.span-8:last-child {
    margin-right: 0
}

.span-8-half {
    margin-right: 2.3576515979%;
    width: 70.1456849506%
}

.span-8-half:last-child {
    margin-right: 0
}

.span-9 {
    margin-right: 2.3576515979%;
    width: 74.4105871005%
}

.span-9:last-child {
    margin-right: 0
}

.span-9-half {
    margin-right: 2.3576515979%;
    width: 78.6754892504%
}

.span-9-half:last-child {
    margin-right: 0
}

.span-10 {
    margin-right: 2.3576515979%;
    width: 82.9403914003%
}

.span-10:last-child {
    margin-right: 0
}

.span-10-half {
    margin-right: 2.3576515979%;
    width: 87.2052935503%
}

.span-10-half:last-child {
    margin-right: 0
}

.span-11 {
    margin-right: 2.3576515979%;
    width: 91.4701957002%
}

.span-11:last-child {
    margin-right: 0
}

.span-11-half {
    margin-right: 2.3576515979%;
    width: 95.7350978501%
}

.span-11-half:last-child {
    margin-right: 0
}

.span-12 {
    margin-right: 2.3576515979%;
    width: 100%
}

.span-12:last-child {
    margin-right: 0
}

@media screen and (min-width:728px) {
    .span-t-0-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 1.907250552%
    }
    .span-t-0-half:last-child {
        margin-right: 0
    }
    .span-t-1 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 6.1721527019%
    }
    .span-t-1:last-child {
        margin-right: 0
    }
    .span-t-1-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 10.4370548518%
    }
    .span-t-1-half:last-child {
        margin-right: 0
    }
    .span-t-2 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 14.7019570017%
    }
    .span-t-2:last-child {
        margin-right: 0
    }
    .span-t-2-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 18.9668591516%
    }
    .span-t-2-half:last-child {
        margin-right: 0
    }
    .span-t-3 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%
    }
    .span-t-3:last-child {
        margin-right: 0
    }
    .span-t-3-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 27.4966634515%
    }
    .span-t-3-half:last-child {
        margin-right: 0
    }
    .span-t-4 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%
    }
    .span-t-4:last-child {
        margin-right: 0
    }
    .span-t-4-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 36.0264677513%
    }
    .span-t-4-half:last-child {
        margin-right: 0
    }
    .span-t-5 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 40.2913699012%
    }
    .span-t-5:last-child {
        margin-right: 0
    }
    .span-t-5-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 44.5562720511%
    }
    .span-t-5-half:last-child {
        margin-right: 0
    }
    .span-t-6 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }
    .span-t-6:last-child {
        margin-right: 0
    }
}

@media screen and (min-width:960px) {
    .span-d-0-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 1.907250552%
    }
    .span-d-0-half:last-child {
        margin-right: 0
    }
    .span-d-1 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 6.1721527019%
    }
    .span-d-1:last-child {
        margin-right: 0
    }
    .span-d-1-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 10.4370548518%
    }
    .span-d-1-half:last-child {
        margin-right: 0
    }
    .span-d-2 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 14.7019570017%
    }
    .span-d-2:last-child {
        margin-right: 0
    }
    .span-d-2-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 18.9668591516%
    }
    .span-d-2-half:last-child {
        margin-right: 0
    }
    .span-d-3 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%
    }
    .span-d-3:last-child {
        margin-right: 0
    }
    .span-d-3-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 27.4966634515%
    }
    .span-d-3-half:last-child {
        margin-right: 0
    }
    .span-d-4 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%
    }
    .span-d-4:last-child {
        margin-right: 0
    }
    .span-d-4-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 36.0264677513%
    }
    .span-d-4-half:last-child {
        margin-right: 0
    }
    .span-d-5 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 40.2913699012%
    }
    .span-d-5:last-child {
        margin-right: 0
    }
    .span-d-5-half {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 44.5562720511%
    }
    .span-d-5-half:last-child {
        margin-right: 0
    }
    .span-d-6 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }
    .omega-d,
    .span-d-6:last-child {
        margin-right: 0
    }
}

.omega {
    margin-right: 0
}

.fontastic-tag::before {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.hide {
    display: none
}

.show {
    display: block
}

#print-button {
    display: none
}

.error {
    color: #e17117;
    font-weight: 600
}

.nav-logo {
    height: 40px
}

/* MByrd - Externalize all inline styles from the main menu */
.navigation-wrapper > img{
	width: 235px;
	height: 104px;
}

@media screen and (min-width:728px) {
    .omega-t {
        margin-right: 0
    }
    .nav-logo {
        height: 40px;
    }
}