/* CORE Business Technologies MiraSecure CSS */
/* Changes to this file need to be sent to deployments@eigendev.com to be applied */

.input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	border: 2px solid #e2e2e2;
}

.value-cell {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
}

.credit-row {
	padding: 0 0 0 12px;
	border-radius: 5px;
	display: table;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	height: 55px;
}

.label-cell {
    font-size: 0.75em;
    font-weight: bold;
    color: #868686;
    vertical-align: middle;
    max-width: 100px;
    height: 60px;
    text-transform: uppercase;
}

.submit-button {
    background-color: #4b86e3;
    color: white;
	border: 0;
	text-decoration: none;
	padding: 12px 18px;
	text-transform: uppercase;
	clear: left;
	min-width: 110px;
	border-radius: 5px;
	float: right;
}