/* global */

BODY { margin: 0px; }

.header *	{
	margin: 0;
	padding: 0;
}
.header img     { border: 0; }
.header acronym,
.header abbr	{
	border: none;
	}
.header	{
	width: 62em;
	}
		
/* top-level table   CAN BE FIXED OR PERCENTAGE*/
.main {
  height: 95%;
  width: 100%; /*width: 500px;*/
}

/*
.colorIt {
	background-color: white;
	clear:both;
	margin-top: 0;
	}
*/
 
/*.wrap1 *	{
	XXmargin: 0;
	XXpadding: 0;
	height: 95%;
	width: 95%;
	} 
*/

img { 
	border: 0; }
 
acronym  {
  border: none;
}
	
abbr  {
  border: none;
}

 .clear {
	clear: both;
	font-size: 1px;
	line-height: 0px;
	}
 .clear2 {
	clear: both;
	font-size: 1px;
	line-height: 0px;
	}
* html  .clear2	{
	font-size: 5em;
	}


/* 1st layer */

/* layer1 = my_cbc */
.a_cbc	{
	background-color: #ECECEA;
	/* put height on wrap1 to support space around a_cbc   height: 100%*/
	}

.outer_bottom	{
	background: url(../images/bgLvl1b.gif) bottom left repeat-x;
	}
.outer_left	{
	background: url(../images/bgLvl1l.gif) top left repeat-y;
	}
.outer_right	{
	background: url(../images/bgLvl1r.gif) top right repeat-y;
	}
.outer_top	{
	background: url(../images/bgLvl1t.gif) 0px 0px repeat-x;
	}
.outer_tl	{
	background: url(../images/bgLvl1tl.gif) 0px 0px no-repeat;
	}
.outer_tr	{
	background: url(../images/bgLvl1tr.gif) 100% 0px no-repeat;
	}
.outer_bl	{
	background: url(../images/bgLvl1bl.gif) 0px 100% no-repeat;
	}
.outer_br	{
	background: url(../images/bgLvl1br.gif) bottom right no-repeat;
	}

.report_border_content {
	width:100%;
	height: 100%;
	margin-left: 20%;
	margin-right: 20%;
}

/* user Info */

 .userInfo01	{
	float: 				right;
	}

* html  .userInfo01	{
	margin: 0 0 0 0;
	}
 .userInfo01 li	{
	display: 			inline;
	list-style-type: 	none;
	XXfont-size: 		1.1em;
	color: 				#2F2F2F;
	font-variant:		small caps;
	margin: 			0.4em;
	}
	
 .userInfo01 .span01  {
	font-size:			small;
}

 .userInfo01 .span01:first-letter  {
	font-size:			110%;
	color:				red;
}

 .logout	{ /* size02 small logout button */
	background: url(../images/btnSize02.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 66px;
	height: 19px;
	XXfont-size: 1em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	text-transform: none;
	}
* html  .logout	{
	XXfont-size: .9em;
	}

/* appContent */


/* tamenu = tabs */

.tabs
{
   float:			left;
   /*font-size:		1.1 em;
   text-transform:	uppercase;
   font-weight:		bold;
   margin:			0,0,0,0;*/
   /*margin-left: 	7px;*/   /* from edge of tab content to account for rounded corner */
}

.tabs TD
{
	height: 1em;
}

UL.tabs 
{
   XXmargin           : 0 0 0 2.0em;
   margin-left: 10px;
}

.tabs LI
{
   display          : inline;
   list-style-type:	none;
}

.tabs A
{
   float: 				left;
   background: 			url(../images/tab_tr.gif) no-repeat right top;
   background-position:	100% -150px;
   background-color:	#F7F7F7;
   border-bottom: 		1px solid #84B0C7;
   XXborder-bottom: 		1px solid lime;
   text-decoration: 	none;
   color: 				#888;
   font-size:			small;
   text-decoration:		none;
   font-variant:		small-caps;
   cursor:				hand;
}

.tabs .tab
{
   float:				left;
   display:				block;
   background:			url(../images/tab_l.gif) no-repeat left top;
   background-position:	0% -150px;
   padding-left:  		12px;
   padding-right: 		14px;
   padding-top: 		7px;
   white-space:			nowrap;
   font-size:			small;
}

/*.tabs A:hover
{
   background-position: 100% -150px;
   color:				black;
   background-color:	white;
}*/

.tabs A.current
{
   background-position: 100% -150px;
   color:				black;
   background-color:	white;
   border-bottom: 		1px solid white;
}



.tabs A:link, DIV.tabs A:visited,
.tabs A:active, DIV.tabs A:hover
{
   color            : #115E94;
}

.tabs .tab:first-letter
{
	font-size:			110%;
}
	
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs SPAN {float : none;}
/* End IE5-Mac hack */

.tabs A:hover SPAN
{
   background-position: 0% -150px;
}


/* * html DIV.tabs	{
	height: 1%;
	position: relative;
	top: 1px;
	padding: 0 33px 0 0;
	}
	
html>body DIV.tabs ul	{
	margin: 0 1.5em 0 1.5em;
	position: relative;
	top: 1px;
} */


/* table stuff */

 table	{
	XXfont-size: 1em;
	}
	
/* table01 = vector_fields */
.vector_fields	{
	width: 100%;
}
.vector_fields TR TD 
{
	border-bottom: 1 solid #DDD;
}
.vector_fields TR TH
{   
	margin: 2px; border: 4 solid white; XXbackground-color: #EEE;
	padding-left: 2px; padding-right: 2px;
	font-size: smaller; vertical-align: bottom;
	border-bottom: 1 solid #999;
}

.core_event TD 
{
  vertical-align: top;
}

	
/* tableHelp01 = section_bottom */
 .section_bottom	{
	height: 1px;
	}
* html  .section_bottom	{
	height: 3.5em;
	}

 /* th	{
	text-transform: small-caps;
	color: #888;
	text-align: right;
	padding: 0 1em .1em 0;
	border-bottom: 1px solid #888;
	} */
	
/* first = description */
 th.description	{
	text-align: left;
	}
	
/* r0 = r0 */
.vector_fields tr.r0 td	{
	padding: .3em .5em .1em 0;
	color:				black;
	} 

.vector_fields tr.r0-highlight td	{
	padding: .3em .5em .1em 0;
	color:				black;
	XXbackground-color:	#F7F7F7;
	}

.vector_fields th {
	text-align: left;
}

td	{
	XXfont-size: 1em;
	padding: 0 .5em .1em 0;
}
	
.action_group {
	height: 100%;
	width: 70%;
	padding: 0.7em 1em 1.5em 1em; 
}


* html  .action_group {
	height: 100%;
	width: 70%;
	padding: 0.7em 1em 1.5em 1em;
}

.modal .action_group {
	height: 100%;
	width: 70%;
	padding: 1.7em 1em 1.5em 1em; 
}


* html  .modal .action_group {
	height: 100%;
	width: 70%;
	padding: 2em 1em 1.5em 1em;
}

/* ====================== event_group ============ */
.event_group_border_content {
  XXpadding: 1.5em;
  XXpadding-right:2.2em;
  XXbackground-color: red;
}

.event_group  {
	height: 100%;
	width: 30%;
	 /*padding: 0em;  1.2em 1em 1.5em 1em; */

}

* html  .event_group  {
	height: 100%;
	width: 30%;
	/*padding: 0em;   1.2em 1em 1.5em 1em; */
    padding-top: 1em;  /* should be part of outer's content area padding*/
	padding-right: 1em;
}

.core_event .description A { line-height: 125%; font-weight: bold }/*Changed to from 90% to 125% by JS 3/3/2005*/	
.core_event .total { font-weight: bold }
	
.event_group H2	{
	text-align: center;
}

* html  .event_group H2	{
	text-align: center;
}

/* ====================== receipt_event_group ======== */
.receipt_event_group  {
	padding: 1.2em 1em 1.5em 1em;
}

* html  .receipt_event_group  {
	padding: 1.2em 1em 1.5em 1em;
}


/* ---------------------- event_group_sections ------ */
/*.event_group_section { height: 100%; width: 100%}
.event_group_section_top { height: 2em}
.event_group_section_middle_tbl { height: 100%; width:100%}
.event_group_section_middle { 
	height: 100%; 
	overflow: auto;
	padding-left: 0.7em;
	padding-right: 0.7em;
	margin-right: 0.7em;
}
.event_group_section_bottom { height: 2em; }
.event_group_section_middle TD {
  vertical-align: top;
  font-size: larger;
  }
.event_group_section_middle A {
  text-decoration: none;
  color: black;
  font-weight: bold;
  }
.event_group_section_middle A:hover {
  background-color: #DDD;
  }
.event_group_section_top H2 { text-align: center }*/
  
/* ---------------------- event_group_top ---------- */
/*.event_group_top {
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	height: 20em;
	overflow: auto;
	XXmargin: 0 2em 3.5em 1.4em;
	XXposition: relative;
	XXtop: 1.5em;
	XXbackground-color: orange;
}
* html .event_group_top	{
	XXmargin: 0 2em 0 1.4em;
}
html>body .event_group_top	{
	overflow:-moz-scrollbars-vertical;
}
	
.event_group_top td	{
	XXpadding: .3em .5em .3em 0;
	border-bottom: 1px solid #EBEBE9;
	}
.event_group_top tr.r0 td	{  
	XXpadding: .7em .5em .3em 0;
	color:				black;
	XXbackground-color:	white;
	}
.event_group_top tr.r0-highlight td	{
	XXpadding: .7em .5em .3em 0;
	color:				black;
	XXbackground-color:	#F7F7F7;
	}
 .event_group_top .nav  {
	color:				black;
	XXbackground-color:	white;
}

 .event_group_top .nav-highlight  {
	color: 				black;
	XXbackground-color:	#F7F7F7;
}*/

/* ---------------------- event_group_bottom ---------- */
/*.event_group_bottom	{
	XXpadding: 0 0 1em 0;
	text-align: center;
	XXbackground-color: pink;
}
* html  .event_group_bottom	{
	XXpadding: 2em 0 1em 0;
}*/

.grand_total {
  text-align: center;
  XXpadding-bottom: 1em;
}

.return_link {
	text-align: center;
	XXpadding-bottom: 1em;
}

TR.bottom TD 
{
	padding-bottom: 13px;
}

.grand_total SPAN.key {
 font-weight: bold;
 padding-right: 0.2em;
 font-variant: small-caps;
}

.grand_total SPAN.value {
 font-weight: bold;
}

/* input01 = text */

* html  .text	{
	XXfont-size: 1em;
	}
	
.text	{
	XXwidth: 100%;
	text-align: left;
	padding: 0 3px 0 0.2em;
	height: 1.4em;
	border:none;
	border-left: 1 solid #888;
	border-bottom: 1 solid #888;
	color:				black;
	font-weight: bold;
	XXbackground-color:	white;
	}
	
INPUT.readonly 
{ border: 0px;
}

.total INPUT 
{
 text-align:right;
 width:6em;
}
TD.total 
{ text-align:right;
}
TH.total 
{
 text-align:right;
}

TABLE.account_summary 
{ border: 2 solid black;
}

.amount_due 
{
 text-align:right;
 width: 6em;
}

.financial_aid
{
 text-align:right;
 width: 6em;
}



	
.text-highlight	{
	  background-color:	#F7F7F7;
	}
		
 .text-focus	{
	background-color:	yellow;
	}

/* size01 = continue */

 INPUT.continue	{
	background: url(../images/btnSize01.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 44px;
	height: 18px;
	XXfont-size: 1em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	letter-spacing: 1px;
	}
TD.continue {
  text-align: right;
  width: 20px;
}
* html  .continue	{
	XXfont-size: .9em;
	}


.transactions {
 width: 100%;
}
.transactions TD.total {
 text-align: right;
}
.transactions TD.void_transaction {
 width: 1.5em;
 font-size: smaller;
 position: relative;
 top: 0.3em;
}
.transactions TD.void_transaction A
{
 color: #BBB;
}
.transactions TD.void_transaction A:hover
{
 color: black;
}


/* transaction_details */

TABLE.transaction_group_details 
{
   margin-left:1.2em;
}
TABLE.transaction_group_details TD
{
   font-size: smaller;
   border: 0px;
   padding-left: 10px;
   white-space: nowrap;
}

TABLE.transaction_details {
	display: block;
	margin-left: 1.2em;
}

TABLE.transaction_details TD
{
  font-size: smaller;
  border: 0px;
  padding-left: 10px;
}

.transaction_details_closed {
	display: none;
}

 .total	{
	font-weight: bold;
 }
	
/* size03 = finish_buy */
 BUTTON.finish_buy	{
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	XXfont-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	font-variant: small-caps;
	}
DIV.finish_buy {
 text-align: center;
}
	
/* To be added later */
 .TrashCan	{
	background: url(../images/trashcan.gif) top left no-repeat;
	color: #FFF;
	XXbackground-color: #2458AC;
	width: 35px;
	height: 24px;
	XXfont-size: 1em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	letter-spacing: 1px;
	background-color:	#F7F7F7
	}
 .Closed	{
	background: url(../images/closed.gif) top left no-repeat;
	width: 19px;
	height: 19px;
	margin:	none;
	border: none;
	cursor: pointer;
	cursor: hand;
	background-color:	#F7F7F7
	}
 .Opened	{
	background: url(../images/opened.gif) top left no-repeat;
	width: 19px;
	height: 19px;
	margin:	none;
	border: none;
	cursor: pointer;
	cursor: hand;
	background-color:	#F7F7F7
	}
 .noTrashCan	{
	color: #FFF;
	background-color: white;
	width: 35px;
	height: 24px;
	XXfont-size: 1em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	letter-spacing: 1px;
	}

 .clearAll	{
	text-align: left;
	margin: 0 1.7em;
	text-transform: uppercase;
	position: relative;
	top: -1em;
	}

 .deleteAll	{
	text-align: left;
	margin: 0 1.7em;
	text-transform: uppercase;
	position: relative;
	top: -1em;
	}
/* end of to be added later */



/*
.first_section_list	TABLE.section_list{
  height: 50%;
  width: 100%;
	}
* html  .first_section_list	TABLE.section_list{
  height: 50%;
  width: 100%;
	}

.second_section_list TABLE.section_list	{
	height: 50%;
	width: 100%;
	XXpadding: 0.7em 1em 1.5em 1em; 
	}
	
* html  .second_section_list TABLE.section_list	{
	height: 50%;
	width: 100%;
	XXpadding: 0.7em 1em 1.5em 1em;
	}
*/

TABLE.action_group 
{
	height: 100%;
}

.first_section_list .stack {
  height: 55%;
  width: 100%;
}

.second_section_list .stack {
	height: 45%;
	width: 100%;
}

.section_list .top { 
	height: 1em;
}

.section_list .middle { 
	height: 100%; 
	width: 100%;
	overflow: auto; 
	margin-right: 1em;
}

.section_list .bottom { 
	height: 1em;
}

/*.Section_list 
{
	height: 50%;
	width: 100%;
}*/

/* ------------- start of core event -------------*/
.core_event .top { 
	height: 1em;
}

.core_event .middle { 
	height: 100%; 
	width: 100%;
	overflow: auto; 
	margin-right: 0px;
}

.core_event .bottom { 
	XXheight: 3em;
}

.core_event
{
	height: 100%;
	width: 100%;
}

/*
.first_section_list_middle_tbl { 
  height: 95%; 
  width:100%
}

.second_section_list .align_left {
	text-align: left;
	width: 100%;
}
*/

 .footer {
   font-size: smaller;
   padding-bottom: 8px;
   padding-left: 10px;
   XXheight: 5%;
 }

 .department_icon 
 {
	margin-top: 15px;
 }
 


/* new is similiar to layer3box1 */	
/*   =============================== buying =============== */

.buying	{
	XXclear: both;
	XXmargin: 2em 0 0 0;
	XXheight: 100%;
	XXbackground-color: lime;
}

.file_status {
	height: 100%;
	width: 70%;
	padding: 1.7em 1em 1.5em 1em; 
}


/*   =============================== select department / new =============== */


.new {
	background-color: white;
	width: 30em;
	text-align: left;
}

.new_border_content	{
   XXpadding: 2em;
   XXpadding-left: 4em;
}

/*
.start {
  height: 26em;
}
*/

.start LI {
 font-size: 2em;
 margin-left: 1em;
}

/*   =============================== modal =============== 
 BUG: shopping_list needs to be over more.
*/

.current_focus {
  background-color:white;
}

BUTTON.return_to_buying {
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	font-variant: small-caps;
}



DIV.return_to_buying {
 text-align: center;
}

/*   =============================== buying no shopping list =============== 
 BUG: shopping_list needs to be over more.
*/

.core_event_alternative {
  XXheight: 30em;
  padding-top: 1em;
}
.none_bottom {
 background-color: #ECECEA;
}


/*  =========== */
.req_flag {
 color: red;
 position: relative;
 left: -0.5em;
}

.k {
  XXfont-variant: small-caps;
  text-align:right;
  vertical-align: bottom;
  padding-left: 7px;
}
SPAN.required_message 
{ 
 font-size: smaller;
}

SPAN.k { /* padding between label and input for multi-fields-per-line */
 padding-right: 0.3em;
}

/*.core_event TD {
  vertical-align: top;
  font-size: larger;
}

.core_event A {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.core_event A:hover {
 background-color: #DDD;
}
*/

.v {
  width: 20em; /* hack */
} 

/* ============================= Tender Page ======================== */
.tendering .stack {
  height: 100%;
  width: 100%;
}

.submit {
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	font-variant: small-caps;
}

A.button 
{
	background: url(../images/btnSize02.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 66px;
	height: 19px;
	font-size: smaller;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	text-decoration: none;
}

TD.button_bar 
{ vertical-align: text-top;
}

INPUT.add_to_list 
{ background: url(../images/btnSize02.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 66px;
	height: 19px;
	font-size: smaller;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	text-decoration:none;
}

.transaction_group_details .total 
{
	 font-weight: normal;
}


A.back {
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	font-variant: small-caps;
	padding-top: 8px;
	text-decoration: none;
}

A.delete {
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	font-variant: small-caps;
	padding-top: 8px;
	text-decoration: none;
}

/*   =============================== modal =============== 
 BUG: shopping_list needs to be over more.
*/

.modal .stack {
  height: 100%;
  width: 100%;
}

.current_focus {
  background-color:white;
}

BUTTON.return_to_buying {
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	font-variant: small-caps;
}

DIV.return_to_buying {
 text-align: center;
}

/*   =============================== receipted =============== 
*/

.receipted .a_core_event {
  background-color:white;
  XXwidth: 30em;
  XXwidth: 40%;
}

.receipt 
{
	padding-top: 1.7em;  /* shouldn't put here.  Should be padding of container */
}

.receipted TD.left
{
	padding-top: 20px;  /* shouldn't need.  aligns top of left column area to core event top */
}


.receipt .border_content .top TD  /* pushing down the image at the top of the shopping list */
{
	padding-top: 10px;
}



.a_cbc_border_content {
	/*text-align: center;*/
  padding: 10px;
}

.receipted {
  text-align: center;
  /*
  padding:1.7em;
  overflow:auto;
	*/
}

.receipted TD.left .inner_border_content 
{
	 padding: 15px; 
     padding-right: 25px;  
     padding-bottom: 25px;
     text-align: left;
     
}

TABLE.receipted 
{
	 margin-left: 15px; 
     margin-right: 15px; 
     height: 100%;
}

.receipted P.legal 
{
	font-weight: bold;
}

DIV.confirmation_number_label 
{ 
  font-size: smaller;
  text-align: center;
  width: 100%;
}
DIV.confirmation_number 
{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: Navy;
}

/*
.a_cbc_border_content .footer {
	text-align: left;
	height: 5%;
}
*/

DIV.legal {
  XXfont-size: 10 px;
}

.return_uri A {
  text-decoration: underline;
  background-color: white;
}

.core_event_top {
  text-align: left;
  padding-left: 2 em;  /* this is a hack for now */
}

.core_event_top TABLE {
  width: 70%;
}

.receipt {
  text-align: center;
}


INPUT.submit {
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	font-variant: small-caps;
}

.second_section_list_fs_bottom_buttons .submit {
	background: url(../images/btnSize04.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	XXwidth: 104px;
	width: 180px;
	height: 44px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	font-variant: small-caps;
}

.hyperlinks TD {
  vertical-align: top;
  font-size: larger;
  }
.hyperlinks A {
  text-decoration: none;
  color: black;
  font-weight: bold;
  }
.hyperlinks A:hover {
  background-color: #DDD;
  }
  
.search_area	{
	height: 100%;
	width: 70%;
	padding: 1.7em 1em 1.5em 1em; 
}


* html  .search_area	{
	height: 100%;
	width: 70%;
	padding: 1.7em 1em 1.5em 1em; 
}

/* ====================== search_area ============ */

.area_search_form  {
	height: 100%;
	overflow: auto;
	padding-left: 1em;
	/*padding-top: 1em;
	padding-bottom: 1em;*/
	margin: 0 0.5em 0 0;
}

.area_search_form .tender_select {
	width: 11.5em;
}

.area_search_form .screen_select {
	width: 11.5em;
}
.search_list  {
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	height: 100%;
	overflow: auto;
	margin-right: 0.5em;
}

/* ====================== search_area ============ */

.report_crit_form  {
	height: 100%;
	overflow: auto;
	padding-left: 1em;
	text-align: center;
	margin-right: 0.5em;
}

.report_crit_form .tender_select {
	width: 11.5em;
}

.report_crit_form .screen_select {
	width: 11.5em;
}

/* ====================== detail_area ============ */
.detail_area	{
	height: 100%;
	width: 30%;
	padding: 1.7em 1em 1.5em 1em;
}

* html .detail_area	{
	height: 100%;
	width: 30%;
	padding: 1.7em 1em 1.5em 1em;
}
	
.detail_area H2	{
	text-align: center;
	color: black;
}

* html .detail_area H2	{
	text-align: center;
	color: black;
}

.detail_area_border_content {
}

/* ---------------------- detail_area_sections ------ */
.detail_area_section { 
	height: 100%; 
	width: 100%
}

.detail_area_section_top { 
	padding-left: 1em;
	padding-top: 0.1em;
	height: 1em;
}

.detail_area_section_middle { 
	height: 50%;
	XXoverflow: auto; 
	XXpadding: 0.7em 1em 1.5em 1em; 
	XXpadding-left: 1em;
	XXpadding-right: 1em;
	XXmargin-right:0.5em;
	XXvertical-align: top;
}

.detail_area_section_middle TD {
  vertical-align: top;
  font-size: larger;
}
  
.detail_area_section_middle A {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
  
.detail_area_section_bottom {
	width: 100%;
}

.detail_area_section_middle2 { 
	height: 0.1em;
}

.detail_area_section_bottom2 { 
	height: 0.2em;
}

.area_video_journal {
	overflow: auto;
	height: 100%;
	padding-left: 1em;
	padding-right: 0.5em;
	margin: 0 0.5em 0 0;
}

.area_image_list {
	overflow: auto;
	height: 100%;
	width: 100%;
	padding-left: 1em;
	margin: 0 0.5em 0 0;
}

/* =========================== highlighting rows File Status Page =========================*/
.Section TABLE { border-collapse: collapse}
 TR.hover TD { background-color: #CCC; border-bottom: 1 solid #AAAAAA}
 /*.vector_fields TR TD { background-color: #EEE; border-bottom: 1 solid white}
 TR.R1 TD { font-size: large }
 LI.hover { background-color: #DDD; display: inline}*/
 
.print_info {
	text-align: center;
}

.inner 
{
	background-color: White;
}

/* ============================= For div inner in search result page only == */
/* ============================= Min added on 03/31/06                    == */
#search_result_div { background-color: White; overflow: auto; }
#search_result_div .middle_DIV{ overflow: auto; height: 100%; margin-right: 0px; margin-left: 0px; }
#search_result_div .vectorFieldsWrap01	
{	
	padding: 0 18px 0 18px; 
	height: 1%; 

}


/* ============================= GEO.border_scroll  */
  DIV.inner { background-color: white; }
  TABLE.border_content { height: 100%; width: 100%; }
  TABLE.middle_TABLE { width:100%; height:100%; } 
  .border_content TR.top { height:10px; text-align:center;} 
  DIV.middle_DIV { overflow: auto; height: 100%; margin-right: 0px; margin-left: 10px; }
  .border_content TR.bottom { height:10px;} 

/* ============================= for GEO.stack  */
  .stack .upper { height: 10px; } /* content will expand it */
  .stack .lower {height: 100%}
TABLE 
{
	border-collapse: collapse
}

FORM 
{  margin: 0px; padding:0px;
}

DIV.prompt 
{ padding-top: 4px;
}

TABLE.border_content 
{
	padding-left: 7px;
	
}

/* scroll-bar inside a section.  less header at top.*/
.border_content TR.top TD {
  font-size: 2px;
}
DIV.middle_DIV {  /* avoids scrolling area cutting into rounded upper-right corner */
  padding-right: 5px;
}

/* for tabs to not have spacing between tabs and tab-area*/
.stack TR.upper TD {
  margin:0px;padding:0px;
}

UL.tabs {  /* removes line between tab and tab-area */
  position:relative;
  top:1px;
}

P.core_event_prompt 
{
  font-size: 12pt; 	
}

INPUT.args-quantity 
{
 width: 2em;	
}

INPUT.amount
{ width: 5em;
}

TR.subapps TD
{
	font-size:x-small;
}
TR.nowrap TD
{ 
	white-space:nowrap; padding:0px;
}

TABLE.criteria_group
{
	border: 1px solid #999; 
	background-color: #EEE;
	padding: 4px; vertical-align: top;
}
.req_flag2
{
 font-size: x-small;
 color: Red;
}
