.a_portal	{
	background-color: #ECECEA;
	/* put height on wrap1 to support space around a_cbc   height: 100%*/
	}

.a_portal_border_content {
	/*text-align: center;*/
  padding: 10px;
}



TABLE.application_link a:link {
	text-decoration:none;
	color:#2458AC;
	font-weight:bold;
	cursor: pointer;
	cursor: hand;
	display: block; 
	text-align: left; 
	}

TABLE.application_link a:visited {
	text-decoration:none;
	color:#2458AC;
	font-weight:bold;
	cursor: pointer;
	cursor: hand;
	display: block; 
	text-align: left; 
	}
SPAN.is_shown {
 text-decoration:none;
	color:black;
	font-weight:bold;
	font-size: larger;
	background-color: White;
	display: block;
 text-align: left; 
     border: 1px solid #888;
     padding: 3px;
	}
DIV.quit a:link{
	text-decoration:none;
	color:RED;
	font-weight:bold;
	cursor: pointer;
	cursor: hand;
	display: inline;
 text-align: left; 
	}
DIV.quit a:visited {
	text-decoration:none;
	color:#2458AC;
	font-weight:bold;
	cursor: pointer;
	cursor: hand;
	display: block; 
	text-align: left; 
	}

TABLE.window_controls 
{
	width: 100%;
	margin: 0px;
	 border-collapse: collapse;
}
TABLE.window_controls TD.left 
{ text-align: left;
  vertical-align: top;
  XXpadding:0px;
}
TABLE.window_controls TD.right 
{ text-align: right; vertical-align: top;
  XXpadding:20px;
}
A.window_control 
{
}



INPUT.sign_in	{
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	XXfont-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	font-variant: small-caps;
	}

INPUT.sign_in_fields{
    	width: 150px;
        }
INPUT.file_date_from
{
 width: 100px;
}
INPUT.file_date_to
{
 width: 100px;
}

DIV.sign_in {
 text-align: center;
}



BUTTON.sign_out	{
	background: url(../images/btnSize03_signout.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	XXfont-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	font-variant: small-caps;
	}
DIV.sign_out {
 text-align: center;
}

Button.hide, Button.quit 
{
	background: url(../images/btnSize02.gif) top left no-repeat;
	color: #FFF;
	XXbackground-color: #2458AC;
	background-color: Lime;
	width: 66px;
	height: 19px;
	font-size: smaller;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: hand;
	text-decoration:none;
}

.not_running {
	background-color: white;
	width: 20em;
	text-align: left;
}

.not_running_border_content	{
   padding: 2em;
}

.locked {
	background-color: white;
	width: 20em;
	text-align: left;
}

.locked_border_content	{
   padding: 2em;
}

.portal_app .border_content .top TD  /* pushing down the image at the top of the shopping list */
{
	padding-top: 10px;
}
DIV.portal_app
{
	height:480px;
}

TABLE.portal_app_table
{
	width:800px;
}

TD.app_bar { vertical-align: top; }

DIV.login_user { font-weight: bold; }

TABLE.top_bar { width: 100%; border-collapse: collapse; margin:0px; }

TABLE.top_bar TD.left { text-align: left }

TABLE.top_bar TD.right { text-align: right; font-weight: bold; }

TABLE.app 
{
	color: Black; padding: 2px; margin: 3px;font-weight: bold;
	margin-left: 5px;
	cursor: hand;
	width: 150px;
}
TABLE.app TD
{
	xxborder: 1 solid red;
}
TABLE.has_subapp 
{cursor:default;
}
TR.subapps TD 
{
	 width:111px;
}
TABLE.app TD.label { text-align: left; xxwidth: 40px; }
TABLE.app TD.icon { text-align: right; width: 25px;  }


TABLE.minimized 
{
	border: 1px solid #999;
	 background-color: #DDD; 
	}
TABLE.launchable {  /* no background */
	border: 1px solid #AAA;
	xxborder: 1 solid red;
}
TABLE.running 
{   border: 1px solid #777;
	background-color: #999; /* dark grey */
	color: White; 
}
TABLE.app A { color: Black; text-decoration: none }
TABLE.app A:link  { }
TABLE.app A:visited {  }
TABLE.app A:active  {  }
TABLE.app A:hover { color: Blue; text-decoration: underline; }
TR.subapps A { color: Blue; text-decoration: normal}


TD.app_title { padding-left: 4px; font-size: 12pt; font-weight: bold; color: Black; text-align: left}
TD.left { width: 20px; text-align: right }

#reset  /* INPUT.clear */
{	BORDER-RIGHT: medium none; 
	BORDER-TOP: medium none; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: smaller; 
	BACKGROUND: url(../images/btnSize02.gif) #DDD no-repeat left top; 
	BORDER-LEFT: medium none; 
	WIDTH: 66px; 
	CURSOR: hand; 
	COLOR: black;
	BORDER-BOTTOM: medium none; 
	HEIGHT: 18px; 
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none;
	margin-top:15px;
	font-variant: small-caps;
}
#reset2  /* INPUT.clear */
{	BORDER-RIGHT: medium none; 
	BORDER-TOP: medium none; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: x-small; 
	BACKGROUND: url(../images/btnSize02.gif) #DDD no-repeat left top; 
	BORDER-LEFT: medium none; 
	WIDTH: 66px; 
	CURSOR: hand; 
	COLOR: black;
	BORDER-BOTTOM: medium none; 
	HEIGHT: 18px; 
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none;
	margin-bottom: 10px;
	font-variant: small-caps;
}
DIV.navigation
{
	text-align: right;
	xxborder: 1 solid red;
	padding-left: 2em;
}
DIV.navigation A.button 
{
  height: 17px;
  margin:0px;
  top: -17px;
  position:static;
}

/* file windows*/
DIV.core_file_list DIV
{ padding-left: 5px; font-family: monospace; font-size: 9pt}

DIV.core_file_list SELECT
{ xxheight:200px; font-family: monospace; font-size: 9pt }

OPTION.opened { background-color: #FFFF99} /* light yellow */
OPTION.locked { background-color: #99FF99} /* light green */
OPTION.updated { background-color: #D3E6F9; } /* light blue */
OPTION.accepted { background-color: White }
OPTION.error { background-color: Red }
DIV.prompt{color:#999; font-size: 1em; padding: 2px; xxwidth:100px;}

TD.form_key{ vertical-align:top}
DIV.expanded{ border: 1px solid #AAA; padding: 3px; background-color: #F8F8F8; }
TBODY.expanded{ border: 1px solid #AAA; padding: 3px; background-color: #F8F8F8; }
HR.form_seperator { border: 0.6 solid blue; width: 80% ; height:0.6px;}
TD.form_action_bar{ text-align:left;}

DIV.department_custom_reports_header
{
	color:#333; font-size: 1em; font-weight:bold;
}
DIV.user_custom_reports_header
{
	color:#333; font-size: 1em; font-weight:bold;
}