<TABLE align='left' border='0'>
 <TR> 
  <TD colspan='7'>
  <P/>
  <PRE>
    <LI style='float: left; display: block; text-decoration: underline;'>Dynamic Content Configuration</LI>
    <LI style='float: left; display: block;'>&#149; Fixed Text should be in double quotes</LI>
    <LI style='float: left; display: block;'>&#149; Spaces need to be enclosed in double quotes</LI>
    <LI style='float: left; display: block;'>&#149; current_datetime will print the date time stamp</LI>
    <LI style='float: left; display: block;'>&#149; use dynamic placeholders like:</LI> 
    account.bank_name, account.account_nbr, file.id, file.effective_date, current_datetime, event.actual_date, event.total, event.id, tender.total</LI>
  </PRE>
  </TD>
 </TR>
 <TR style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <TD width='67' valign='top' style='width:90.6pt;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'></P>
  </TD> 
  <TD width='100' valign='top' style='width:70.5pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  
  <P style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN><B style='mso-bidi-font-weight:normal'>Workgroup</B></SPAN><B
  style='mso-bidi-font-weight:normal'></B></P>
  </TD>
  <TD width='100' valign='top' style='width:70.5pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN><B style='mso-bidi-font-weight:normal'>CoreFile</B></SPAN><B
  style='mso-bidi-font-weight:normal'></B></P>
  </TD>
  <TD width='159' valign='top' style='width:69.6pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><B style='mso-bidi-font-weight:normal'>Receipt</B></P>
  </TD>
  <TD width='79' valign='top' style='width:69.1pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><B style='mso-bidi-font-weight:normal'>Tender</B></P>
  </TD>
  <TD width='85' valign='top' style='width:75.0pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><B style='mso-bidi-font-weight:normal'>Transaction</B></P>
  </TD>
  <TD width='88' valign='top' style='width:60.05pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><B style='mso-bidi-font-weight:normal'>Bank</B></P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><B style='mso-bidi-font-weight:normal'></B></P>
  </TD>
 </TR>
 <TR style='mso-yfti-irow:1'>
  <TD width='67' valign='top' style='width:90.6pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>Object Name</P>
  </TD>
  <TD width='83' valign='top' style='width:74.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>workgroup</P>
  </TD>
  <TD width='100' valign='top' style='width:70.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>file</P>
  </TD>
  <TD width='159' valign='top' style='width:69.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>event</P>
  </TD>
  <TD width='79' valign='top' style='width:69.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>tender</P>
  </TD>
  <TD width='85' valign='top' style='width:75.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>tran</SPAN></P>
  </TD>
  <TD width='88' valign='top' style='width:60.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>account</P>
  </TD>
 </TR>
 <TR style='mso-yfti-irow:2;mso-yfti-lastrow:yes'>
  <TD width='67' valign='top' style='width:90.6pt;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>Available fields</P>
  </TD>
  <TD width='83' valign='top' style='width:74.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>id</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>name</P>
  </TD>
  <TD width='100' valign='top' style='width:70.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>id</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>name</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>effective_date</SPAN></P>
  </TD>
  <TD width='159' valign='top' style='width:69.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>receipt_nbr</SPAN></P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>actual_date</SPAN></P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>created_stamp.user</SPAN></P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>created_stamp.datetime</SPAN></P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>id</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>total</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'></P>
  </TD>
  <TD width='79' valign='top' style='width:69.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>description</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>id</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>total</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>&#42;all custom and <SPAN>std </SPAN>fields for the specific
  tender</P>
  </TD>
  <TD width='85' valign='top' style='width:75.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>description</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>id</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>amount</P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>&#42;all custom and <SPAN>std </SPAN>fields for the specific
  transaction</P>
  </TD>
  <TD width='88' valign='top' style='width:60.05pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>bank_name</SPAN></P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>account_nbr</SPAN></P>
  <P  style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><SPAN>routing_nbr</SPAN></P>
  </TD>
 </TR>
</TABLE>

