TH#selected_header
{
  width: 40px;
}
/* Bug#7083 was 100px ANU */
TH#core_event_id_header
{
  width: 100px;
}
TH#check_nbr_header
{
  width: 100px;
}
TH#amount_header
{
  width: 150px;
}


/* Bug #10219 Mike O */
TABLE.balancing {
 /*border: #909090 1px dotted;*/
  text-align: left;
 }

TABLE.balancing TD
{
  padding-left: 5px;
}

TR.balancing
{
  /* Bug #10117 Mike O  */
  /* display: block; */
  font-weight: bold;
  color: #909090;
  text-decoration: none;
}
TR.balancing TD
{
  border-bottom: black 1px solid;
}

TABLE.balancing TH 
{
  color: #0000FF; /*IPAY-1546 SM - Accessibility.  Changed color to blue */
  border-bottom: 1 solid #AAA;
  padding-right: 10px;
}

DIV.dialog_title
{
  font-size: 140%;
  font-weight: bold;
  text-align: left; /* Bug #10219 Mike O - Cross browser alignment issues */
}

/* Bug 18921 MJO - Force file management screen to full size to prevent headers from jumping */
DIV.dialog_title_file_selection_app
{
  width: 815px;
}

TD.portal_app_button
{
  text-align: left;
  xxwidth: 40px;
  cursor: hand;
}

/* USER DEPOSITS BALANCING REPORT */
DIV.DIV_User_deposits_balancing_report
{
  padding: 1em 1em 1em 1em;
  /* Bug #10105 Mike O - Firefox alignment issues 
  float: left; Bug 10878 NJ*/
}
DIV.DIV_User_deposits_balancing_report DIV.report_prompt
{
  padding: 5px 1px 5px 1px;
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
}
TABLE.User_deposits_balancing_report TH
{
  line-height: 0.8em;
  font-size: 0.7em;
  font-weight: normal;
  color: #555;
}
TABLE.User_deposits_balancing_report TD
{
  line-height: 0.8em;
  padding-right: 0.5em;
  font-size: 0.75em;
  color: #000;
}
TABLE.User_deposits_balancing_report
{
  border: 1px solid #bbb;
/*Bug 10878 NJ*/
  width:70%;
  margin-left:0;
  margin-right:auto;
/*end Bug 10878 NJ*/
}
TABLE.User_deposits_balancing_report TD.money TH.money /*Bug 13471-right align amount headers*/
{
  text-align: right;
}
TABLE.User_deposits_balancing_report TD.f_user_name
{
  font-size: 0.7em;
  white-space: nowrap;
}

/*TABLE.User_deposits_balancing_report TD.f_Name { font-weight: bold; white-space: nowrap; font-size: 0.9em; color: black;}
*/
/* END OF USER DEPOSITS BALANCING REPORT */

/* LOCKED FILE ACTIVE EVENTS REPORT */
DIV.DIV_Active_events_report
{
  padding: 1em 1em 1em 1em;
}
DIV.DIV_Active_events_report DIV.report_prompt
{
  padding: 5px 1px 5px 1px;
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
}
TABLE.Active_events_report TH
{
  line-height: 0.8em;
  font-size: 0.7em;
  font-weight: normal;
  color: #555;
}
TABLE.Active_events_report TD
{
  line-height: 0.8em;
  padding-right: 0.5em;
  font-size: 0.75em;
  color: #000;
}
TABLE.Active_events_report
{
  border: 1px solid #bbb;
/*Bug 10878 NJ*/
  width:70%;
  margin-left:0;
  margin-right:auto;
/*end Bug 10878 NJ*/
}
TABLE.Active_events_report TD.money TH.money /*Bug 13471-right align amount headers*/
{
  text-align: right;
}
TABLE.Active_events_report TD.datetime
{
  font-size: 0.65em;
}
TABLE.Active_events_report TD.f_receipt_nbr
{
  font-size: 0.7em;
}
TABLE.Active_events_report TD.f_user_name
{
  font-size: 0.7em;
  white-space: nowrap;
}

/* FILE ACCEPT APP */
TABLE.file_accept_app_file_info TD
{
  text-align: right;
  font-size: 0.7em;
  padding-right: 4.6em;
}

/*Bug 10878 NJ*/
UL
{
	list-style-type:none;
}
/*end Bug 10878 NJ*/
