/* Hidden Element Used to Pass SASS variable to JS for Spinner Color */

#theme-main-color {
  display: none;
  color: $theme-main-color;
  color: var(--theme-main-color);
}


/* Container */

.main-content.default {
  padding: .5em;
  @include media($tablet) {
    margin-top: 2em;
  }
}

.logo img {
  width: 220px;
}


/* Images */

$background-image: url(/);
@mixin center {
  text-align: center;
}

.clearfix {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Custom Styles */

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  background: $body-background;
  background: var(--body-background-color);
  position: relative;
  .main-wrapper {
    @include outer-container;
    margin: 0 auto;
    background: $wrapper-background;
    background: var(--wrapper-background-color);
    font-family: $primary-font;
    color: $content-text;
    color: var(--content-text-color);
    padding: 0;
    @include media($tablet) {
      padding: 0 15px 15px 15px;
    }
    @include media($desktop) {
      padding: 0 40px 25px 40px;
      max-width: $content-max;
    }
  }
  /* Background Image Support */
  /*   background: url('http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg');
   background-size: cover;
   background-position: center;*/
}

a {
  text-decoration: none;
  color: inherit;
}

header.navigation {
  background-color: $header-background;
  background-color: var(--header-background-color);
  margin-left: 0;
  margin-right: 0;
  min-height: 50px;
  position: relative;
  padding: 0.5em;
  .logo-container {
    @include span-columns(10 of 12);
    img.logo {
      @include size(120px 50px);
      margin: 0;
      background: transparent;
    }
  }
  button {
    @include media($tablet) {
      display: none;
    }
    @include span-columns(2 of 12);
    @include omega;
  }
}

section.hero-unit {
  display: none;
  @include outer-container;
  background: transparent;
  padding: 0;
  .title {
    @include span-columns(12);
    margin-top: 30px;
    h1 {
      color: $header-font-color;
      color: var(--header-font-color);
      float: left;
      font-family: $header-font;
      font-size: 3.0em;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      position: relative;
      &.light {
        font-weight: 200;
      }
      .pre {
        position: absolute;
        top: -.75em;
        left: 0;
        font-size: 0.5em;
        font-weight: 400;
      }
    }
  }
  p {
    clear: left;
  }
  @include media($tablet) {
    display: block;
  }
}

section header,
.modal-inner header {
  padding: 1em 0px;
  .header-glyph {
    display: inline-block;
    float: left;
    color: #4298e7;                 // IPAY-1085 UMN
    //color: var(--darkgray-color); // IPAY-1085 UMN
    padding-right: 10px;
    transform: translate(0%, 11%);
    font-size: 2em;
    @include media($desktop) {
      font-size: 2.2em;
    }
  }
  .header-content {
    float: left;
    width: calc(100% - 50px);
    // IPAY-1085 UMN
    .bill-summary-message {
      p {
        @include widget-header-text;
        color: #4298e7;
        float: none;
      }
    }
    .main-message {
      p, h1 {
        @include widget-header-text;
        color: var(--theme-main-color);  // IPAY-1085 UMN
        float: none;
      }
      .search-header-title1-wrapper {
        @include media($tablet) {
          @include span-columns(6);
        }
      }
      .search-header-title2-wrapper {
        display: none;
        @include media($tablet) {
          @include span-columns(6);
          padding-left: 1.6em;
          display: inline-block;
        }
      }
    }
    .instructions {
      clear: left;
      color: $darkgray;
      color: var(--darkgray-color);
      padding-top: 1em;
      font-size: 1.1em;
    }
    .button-group {
      margin-bottom: 15px;
    }
  }
}

section.main-content {
  background: $content-background;
  background: var(--content-background-color);
  padding: 0 1.0em 75px;
  @include clearfix;
  @include media($tablet) {
    padding-left: 2.0em;
    padding-right: 2.0em;
  }
  .receipt & {
    padding-bottom: 0;
  }
  .body-text {
    margin: 0;
    padding-top: .1em;
    clear: left;
  }
  nav {
    line-height: 1.7em;
    float: left;
  }
  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto 20px;
    overflow: visible;
    padding: 0;
    width: 100%;
    display: block;
    &.show {
      display: block;
      margin-bottom: 0;
    }
  }
  /* Nav items */
  ul li.nav-link {
    display: block;
    text-align: center;
    width: 100%;
    @include default-nav-link;
    @include media($tablet) {
      text-align: right;
    }
    .search-link-spacer {
      color: lightgray;
      padding-right: .5em;
    }
  }
  li.nav-link:last-child .search-link-spacer {
    display: none;
  }
  li.nav-link a {
    display: inline-block;
    color: $theme-main-color;
    color: var(--theme-main-color);
    font-size: 0.9em;
    transition: 0.1s color linear;
    &:hover {
      color: $black;
      color: var(--black-color);
      cursor: pointer;
    }
    padding-right: 0.5em;
  }
}


/* Forms */

fieldset {
  @include outer-container;
  clear: left;
  border: none;
  padding: 0;
  margin: 0 0 20px 0;
  header {
    width: 100%;
    font-weight: bold;
    float: left;
    .additional-text {
      font-weight: normal;
    }
  }
  .field {
    padding: 0 0 0 1em;
    background-color: lighten($lightgray, 7%);
    border-radius: 5px;
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    height: 55px;
    label {
      display: table-cell;
      font-size: 0.8em;
      font-weight: bold;
      color: $darkgray;
      color: var(--darkgray-color);
      vertical-align: middle;
      height: 60px;
      text-transform: uppercase;
      word-break: break-word;
      @include media(1100px) {
        font-size: 0.75em;
      }
      &.full {
        display: block;
      }
      &.full-m {
        display: block;
        @include media($tablet) {
          display: table-cell;
        }
      }
    }
    input,
    select {
      border: 2px solid $lightgray;
      outline: 0;
      display: table-cell;
      font-size: 1em;
      height: 100%;
      padding: 0 .4em;
      margin-top: auto;
      margin-bottom: auto;
      font-weight: 200;
      width: 100%;
      border-radius: 0 5px 5px 0;
      &:focus {
        outline: 1px solid $darkgray;
        outline: 1px solid var(--darkgray-color);
        box-shadow: 0 0 1px 1px $darkgray;
        box-shadow: 0 0 1px 1px var(--darkgray-color);
      }
    }
    input {
      @include media($tablet) {
/*        font-size: 1.8em;
        height: 2em;*/
        font-size: 1.6em;
        height: 100%;
      }
    }
    input.combo-input {
      text-overflow: clip;

      @include media($tablet) {
/*        font-size: 1.8em;
        height: 2em;*/
        font-size: 1em;
        height: 100%;
      }
    }
	/* Removed Bug 22665 NAM */

    /* Bug 23457 RDM - Updating for multiselect */
    /* Chosen Overrides */
    .chosen-container {
      border: none;
      display: table-cell;
      width: 100%;
      a {
        width: 100%;
        float: right;
        background: none;
        text-align: center;
      }
      .chosen-drop {
        transform: translate(-3px, 2px);
        float: right;
      }
    }
    .chosen-container-multi {
      .chosen-choices {
        height: 100%!important;
        padding: 15px 5px;
        border: 0px;
        box-shadow: 0 0 0px 0px black;
        background-image: none;
      }
    }
    .chosen-container-active {
      .chosen-choices {
        outline: 1px solid #868686;
        box-shadow: 0 0 1px 1px #868686;
      }
    }
    select {
      margin: 0.25em 0 .5em;
      background: white;
      &.abbreviate {
        white-space: pre;
        @include media($tablet) {
          white-space: nowrap;
        }
      }
    }
    &.error {
      color: $theme-main-color;
      color: var(--theme-main-color);
      border-color: $theme-main-color;
      border-color: var(--theme-main-color);
      @include placeholder {
        color: $theme-main-color;
        color: var(--theme-main-color);
      }
      label {
        color: $theme-main-color;
        color: var(--theme-main-color);
      }
      span {
        color: $theme-main-color;
        color: var(--theme-main-color);
        font-weight: bold;
        font-size: 0.9em;
        position: absolute;
        top: calc(100% + 2px);
        left: 15px;
      }
    }
    &.required {
      padding-left: 10px;
      label::before {
        content: '*';
        color: red;
      }
    }
  }
  .field-no-border {
    border: none;
  }
}

button {
  background-color: $lightgray;
  background-color: var(--lightgray-color);
  border: 0;
  display: inline-block;
  text-decoration: none;
  background-clip: padding-box;
  color: $black;
  color: var(--black-color);
  font-weight: normal;
  font-size: 0.8em;
  padding: 12px 18px;
  text-transform: uppercase;
  font-family: $header-font;
  clear: left;
  float: none;
  margin-top: 20px;
  position: relative;
  min-width: 110px;
  @include media($tablet) {
    margin-top: 0;
    width: auto;
    font-size: 1.0em;
  }
  &:hover:not(:disabled) {
    background: $lightgray-darken;
    background: var(--lightgray-darken-color);
    color: black;
    @include transition(0.2s ease);
  }
  &::before {
    font-size: 1.6em;
    color: $black;
    color: var(--black-color);
    @include media($tablet) {
      font-size: 2.0em;
    }
  }
  &.icon-left {
    @include icon("left");
  }
  &.icon-right {
    @include icon("right");
  }
  &.centered {
    display: block;
    margin: 20px auto 0;
  }
  &.small {
    font-size: 0.7em;
    padding-left: 5px;
    padding-right: 5px;
    padding-left: 0;
    span {
      top: -0.4em;
      padding: 0;
    }
    &:before {
      font-size: 1.4em;
      @include media($tablet) {
        font-size: 1.5em;
      }
    }
    @include media($tablet) {
      font-size: 0.8em;
    }
  }
  /* this styling for emphasis; submit, confirm, etc. */
  &.action {
    background: $theme-main-color;
    background: var(--theme-main-color);
    color: white;
    &::before {
      color: white;
    }
    font-weight: normal;
    @include transition(0.2s ease);
    &:hover:not(:disabled) {
      background: $theme-dark-color;
      background: var(--theme-main-color-darken);
      @include transition(0.2s ease);
      color: white;
    }
  }
  &.single {
    width: 100%;
    @include media($tablet) {
      width: initial;
      float: right;
    }
  }
}

nav.standard {
  float: none;
  @include media($tablet) {
    float: left;
  }
  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media($tablet) {
      display: block;
      margin: 0;
      padding: 0;
    }
    &.show {
      display: block;
    }
  }
  /* Nav items */
  ul li.nav-link {
    display: block;
    text-align: center;
    width: 100%;
    @include media($tablet) {
      @include default-nav-link;
      text-align: right;
      &:not(:last-child):after {
        content: "|";
        color: $black;
        color: var(--black-color);
        font-size: 0.6em;
        position: relative;
        bottom: 0.2em;
      }
    }
  }
  li.nav-link a {
    display: inline-block;
    text-decoration: none;
    color: $theme-main-color;
    color: var(--theme-main-color);
    font-size: 0.9em;
    transition: 0.1s color linear;
    &:hover {
      color: $black;
      color: var(--black-color);
      cursor: pointer;
    }
    @include media($tablet) {
      padding-right: 0.8em;
      padding-left: 0.8em;
    }
  }
}


/* Footer */

footer.main {
  display: block;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  clear: left;
  @include media($tablet) {
    padding: 1em 0;
  }
  nav {
    @extend nav.standard;
    float: none;
  }
  p {
    clear: left;
  }
  .logo-container {
    @include outer-container;
    max-width: 100%;
    p {
      @include span-columns(10);
      text-align: left;
    }
    .logo-img-wrapper {
      @include span-columns(2);
      text-align: right;
      img {
        height: 20px;
        margin-top: .75em;
      }
    }
  }
  @include media($tablet) {
    display: block;
  }
}

.validation-error {
  color: $error;
  color: var(--error-color);
}

.accordion-tabs {
  @include media($tablet) {
    text-align: right;
  }
}

// Neat Grid Classes
.span-width-12 {
  @include span-columns(12);
  label {
    width: 75px;
    @include media($tablet) {
      width: 120px;
    } 
    @include media($desktop) {
      width: 200px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-11 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(11);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 120px;
    } 
    @include media($desktop) {
      width: 200px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-10 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(10);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 120px;
    } 
    @include media($desktop) {
      width: 200px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-9 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(9);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 120px;
    } 
    @include media($desktop) {
      width: 200px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-8 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(8);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 120px;
    } 
    @include media($desktop) {
      width: 120px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-7 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(7);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 120px;
    } 
    @include media($desktop) {
      width: 120px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-6 {
  @include span-columns(6);
  width: 100%;
  @include media ($desktop) {
    @include span-columns(6);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 120px;
    } 
    @include media($desktop) {
      width: 100px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-5-5-tablet {
  @include span-columns(12);
  @include media ($tablet) {
    @include span-columns(5.5);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 75px;
    } 
    @include media($desktop) {
      width: 75px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-5 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(5);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 75px;
    } 
    @include media($desktop) {
      width: 75px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-4 {
  @include span-columns(12);
  @include media ($tablet) {
    @include span-columns(4);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 75px;
    } 
    @include media($desktop) {
      width: 75px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-3 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(3);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 75px;
    } 
    @include media($desktop) {
      width: 75px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-2 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(2);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 75px;
    } 
    @include media($desktop) {
      width: 75px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.span-width-1 {
  @include span-columns(12);
  @include media ($desktop) {
    @include span-columns(1);
  }
  label {
    width: 75px;
    @include media($tablet) {
      width: 75px;
    } 
    @include media($desktop) {
      width: 75px;
    } 
  }
  &.last-in-row {
    margin-right: 0;
  }
}

.outer-container {
  @include outer-container;
}

.omega {
  @include omega;
}

.omega-t {
  @include media($tablet) {
    @include omega;
  }
}

.omega-d {
  @include media($desktop) {
    @include omega;
  }
}


/* Glyph transformations */

.fontastic-tag::before {
  @include transform(scaleX(-1));
}


/* Standard styling classes */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

button {
  border-radius: $base-border-radius;
}

#print-button {
  display: none;
}

.error {
  color: $theme-main-color;
  color: var(--theme-main-color);
  font-weight: 600;
}

div.error, label.error {             // IPAY-1085 UMN fix a11y issues with duplicate labels by label -> div
  display: table;
}

.nav-logo {
  height: 40px;
}

.loading-overlay {
  background: rgba(0, 0, 0, 0.64);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  display: none;
}

.spinner-wrapper {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: white;
  border-radius: 12px;
  img {
    width: 90%;
    padding: 1em 0;
  }
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0.25em !important;
}

.main-page-navbar {
  padding: 1em 2em;
  float: left;
  width: 100%;
}

.cart-button-wrapper {
  text-align: center;
  font-size: 1.1em;
  &:last-child {
    margin-bottom: .5em;
    @include media($desktop) {
      margin-bottom: -2em;
    }
  }
  @include media($tablet) {
    margin-top: 1em;
  }
  button {
    width: 100%;
    font-size: 0.9em;
  }
}

.pay-now-cart-wrapper button {
  background: $theme-dark-color;
  background: var(--theme-main-color);
  color: white;
}

.combo-select {
  border: none;
}

.card-container {
  flex-direction: column;
  justify-content: space-evenly;
  @media(min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  @media(min-width: $tablet) {
    width: 15em;
  }
  box-shadow:0.2em 0.2em 0em 0.1em $theme-dark-color;
  box-shadow:0.2em 0.2em 0em 0.1em var(--theme-main-color-darken);
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $theme-dark-color;
  border: 1px solid var(--theme-main-color-darken);
  .card-img-container {
    height: 5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      height: 5em;
    }
    @media(min-width: $tablet) {
      height: 10em;
      width: 10em;
      img {
        height: 10em;
      }
    }
  }
  .card-title-container {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
  }
}

.card:hover {
  cursor: pointer;
}