/*Colors*/

$error: red;
$black: #232d2f;
$white: #fff;
$lightgray: #e2e2e2;
$lightgray-darken: darken(#e2e2e2, 20%);
$darkgray: #868686; // #7d7d7d;
$core-dark-blue: #044f7c;             /* IPAY-1077 UMN a11y darkest color from our hexagon logo */
$core-third-darkest-blue: #2170A4;    /* IPAY-1077 UMN a11y third-darkest color from our hexagon logo */
$core-second-darkest-blue: #015E97;   /* IPAY-1077 UMN a11y second-darkest color from our hexagon logo */

/* Bug 20642 UMN responsive UI */
/*
$theme-main-color: #16458e; 
$theme-light-color: #9dc8e8;  // IPAY-1085 UMN
$body-background: --theme-main-color-lighten;
*/
$theme-main-color: #0060A9;           /* IPAY-1077 UMN a11y taken from iPayment */
$theme-complementary-color: #D19E00;
$theme-dark-color: #004987; // from logo
$theme-light-color: lighten($theme-main-color, 50%);
$body-background: #005D96; // from logo

$wrapper-background: #e2e2e2;
$content-background: #fff;
$header-background: #e2e2e2;
$header-font-color: #232d2f;
$content-text: $black;
$base-border-radius: 5px;

/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Raleway:900,500,200&subset=all');
$header-font: "Raleway", Helvetica, Arial, sans-serif;
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*Font Sizes*/

$tiny: 0.8em;

/*Breakpoints*/

$content-max: 1200px;
$desktop: 960px;
$tablet: 728px;
$mobile: 320px;

/* RDM ADD CSS VARS SO THEMES CAN BE SET VIA JS */
:root {
  --theme-main-color: $theme-main-color;
  --theme-complementary-color: $theme-complementary-color;
  --theme-main-color-darken: $theme-dark-color;
  --theme-main-color-lighten: $theme-light-color;
  --error-color: $error;
  --black-color: $black;
  --white-color: $white;
  --lightgray-color: $lightgray;
  --lightgray-darken-color: $lightgray-darken;
  --darkgray-color: $core-dark-blue;
  --body-background-color: $body-background;
  --wrapper-background-color: $wrapper-background;
  --content-background-color: $content-background;
  --header-background-color: $header-background;
  --header-font-color: $header-font-color;
  --content-text-color: $content-text;
}

/*Mixins*/

@mixin default-nav-link {
  display: inline;
  text-decoration: none;
  width: auto;
}

@mixin default-border {
  border: 1px solid $lightgray;
  border: 1px solid var(--lightgray-color);
  border-radius: 5px;
}

@mixin align-right {
  text-align: right;
}

/*override column spans specified in styling for an element*/

@mixin neat-ignore {
  width: inherit;
  margin-left: 0;
  margin-right: 0;
}

@mixin widget-header-text {
    color: #4298e7;                    // IPAY-1085 UMN
    //color: var(--theme-main-color);  // IPAY-1085 UMN
    font-family: $header-font;
    float: left;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: bold;
    float: none;
    font-size: 1.5em;

    @include media($desktop) {
      font-size: 1.8em;
    }
}

/*button icon placement, right or left*/

@mixin icon($dir) {
  @if $dir == right {
    &::before {
      float: right;
    }
  }
  @if $dir == left {
    &::before {
      float: left;
    }
  }
}
