.multimatch-group-detail, .search-option-group-detail {
  border-bottom: solid 1px;
  padding: 1em 1.2em;
  display: block;
  position: relative;
  @include outer-container;
  min-height: 106px;
  background-color: white;
  margin: .5em 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 5px;
  border: solid 2px #e5e5e5;

  .multimatch-details-wrapper, .search-option-details-wrapper {
    float: none;
    display: block;
    width: 100%;
  }

  .multimatch-options-wrapper, .search-option-options-wrapper {
    float: none;
    display: block;
    width: 100%;
    padding-top: .5em;
  }

  .choose-button {
    margin-top: 0px;
    transform: translate(0,-5%);
  }

  @include media($mobile) {
    padding: 1em 1.9em 1em 2.725em;
        /*    min-height: 106px;
    border: solid 2px rgba(0,0,0,0);
    border-top: solid 2px #e2e2e2;
    margin-top: .05em;
    max-width: 100%;*/

    .multimatch-options-wrapper {
        margin-top: 0;
    }
    
    .multimatch-details-wrapper {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;

        &:last-child {
          margin-right: 0;
        }
    }
  }

  @include media($tablet) {
    padding: 1em 1.9em 1em 2.725em;

    // Lighter Background Version
/*    min-height: 106px;
    border: solid 2px rgba(0,0,0,0);
    border-top: solid 2px #e2e2e2;
    margin-top: .05em;
    max-width: 100%;*/

    .multimatch-options-wrapper {
      margin-top: 1.6em;
    }

    .multimatch-details-wrapper {
      @include span-columns(12);

      @include media($tablet) {
        @include span-columns(5);
      }

      @include media($desktop) {
        @include span-columns(6.75);
      }
    }

    .multimatch-options-wrapper {
      text-align: right;
      position: relative;
      padding-top: .8em;
      @include span-columns(12);

      @include media($tablet) {
        @include span-columns(7);
      }

      @include media($desktop) {
        @include span-columns(5.25);
      }
    }
  }

  @include media($desktop) {

    .multimatch-options-wrapper {
      margin-top: .5em;
    }
  }
}

.multimatch-group-detail:last-child {
  /*border: none;*/
}

.multimatch-title {
  font-size: .9em;
  font-weight: bold;
  color: #333;
}

.search-option-title {
    text-align: center;
    margin-bottom: .5em;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-top: .9em;

    @include media($tablet) {
      text-align: left;
    }

    @include media($desktop) {
      text-align: left;
      margin-top: 1.25em;
    }
}

.multimatch-value {
  color: #333;
  font-weight: bold;
}

.results-multimatch-value {
  display: inline-block;
}

.multimatch-details-list {
  list-style: none;
  padding: 0;
  font-size: .75em;
  color: #333;

  li {
    margin-bottom: .5em;

    width: 100%;
    
    @include media($tablet) {
      width: 100%;
      /*@include span-columns(12);*/
    }

    @include media($desktop) {
      /*@include span-columns(6);*/
    }

  }

  li:nth-child(odd) {
    float: left;
    margin-right: 1em;

    @include media ($desktop) {
      width: 50%;
    }
  }
}

.multimatch-details-single-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #044f7c;                  // IPAY-1079 UMN a11y contrast issue darkest color from our hexagon logo
}

.multimatch-details-single-value1, .multimatch-details-single-value2 {
  font-weight: bold;
  color: #333;
}

.multimatch-options {
  @include outer-container;
  width: 100%;
  margin: 0;
  text-align: center;

  @include media($tablet) {
    text-align: right;
  }

  .choose-button {
    @include media($mobile) {
      @include span-columns(3.75);
      display: inline-block;
      float: none;
    }
  }
}

.multimatch {
  margin-bottom: 0;

  @include media($tablet) {
    .row-wrapper:first-child {
      margin-bottom: 5em;
    }
  }
}

.multimatch-navbar {
  padding: 1em 2em;
  /*min-height: 225px;*/
  text-align: center;

  .multimatch-back-button {
    margin-right: 2em;
  }
  
  @include media($tablet) {
    text-align: left;

    .multimatch-back-button {
      margin-right: 1em;
    }
  }

}

