@mixin transactions-expanded {
  @include span-columns(4);
  @include omega;
  header {
    display: block;
  }
  padding: 0px 20px 4em;
  .transactions-table {
    border: none;
    div.row:not(.total-header) {
      display: block;
    }
    div.row.total-header {
      display: none;
      button.details {
        display: none;
      }
    }
    .row {
      display: block;
      .title {
        color: white;
        font-weight: normal;
        font-size: 1.2em;
        @include span-columns(6);
      }
      .amount {
        color: white;
        font-size: 1.2em;
        @include omega;
      }
      border: none;
      .details {
        p {
          padding-bottom: 2px;
          font-size: 1.0em;
          .label {
            color: white;
            text-transform: capitalize;
            padding-right: 5px;
          }
        }
        .separator {
          padding-bottom: 10px;
          color: #FFFFFF; //IPAY-1206 - SM
          color: var(#FFFFFF);
          font-family: "Raleway", Helvetica, Arial, sans-serif;
          text-align: center;
          font-size: 1.8em;
        }
      }
      &.total-footer {
        .label {
          @include span-columns(6);
          color: white;
          font-weight: normal;
          font-size: 1.2em;
        }
        .amount {
          font-weight: normal;
          font-size: 1.2em;
          margin-top: 1em;
        }
      }
    }
    .row.expander {
      .bill-summary-expander {
        @include span-columns(6);
        display: inline-block;
        font-size: 1.2em;
       cursor: pointer;
        &:before {
          font-family: 'Metrize-Icons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          content: "\e11d";
          color: #4298e7;                    // IPAY-1085 UMN
          //color: var(--theme-main-color);  // IPAY-1085 UMN
          margin-right: 0.5em;
        }
      }
      .expander-hidden {
        .bill-summary-expander {
          &:before {
            font-family: 'Metrize-Icons';
            speak: none;
            font-style: normal;
            font-weight: 800;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            content: "\e105";
            color: #4298e7;                    // IPAY-1085 UMN
            //color: var(--theme-main-color);  // IPAY-1085 UMN
            margin-right: 0.5em
          }
        }
      }
      .bill-summary-x-icon {
        color: #4298e7;                    // IPAY-1085 UMN
        //color: var(--theme-main-color);  // IPAY-1085 UMN
        @include span-columns(1);
        display: inline-block;
        text-align: right;
        font-size: 1.2em;
        margin-left: .25em;
      }
      .title {
        @include span-columns(6);
      }
    }
  }
}

@mixin transactions-default {
  border: none;
  .row {
    padding: 0;
    .title,
    .amount {
      font-size: .9em;
    }
    .label,
    .value {
      font-size: 1.1em;
    }
  }
  div.row:not(.total-header) {
    display: none;
  }
  .row.total-header {
    padding: 0;
    text-align: center;
    border: none;
    button {
      width: 100%;
      margin-right: 0;
    }
    .label {
      margin-bottom: initial;
      text-align: inherit;
      padding: 0;
      font-size: 1.4em;
      @include media($mobile) {
        display: block;
        width: 100%;
        margin-top: 0;
      }
      @include media($tablet) {
        width: 100%;
        max-width: 100%;
        display: block;
      }
    }
    .amount {
      font-weight: bold;
      text-align: inherit;
      margin-top: 0;
      font-size: 2em;
      margin-bottom: 0;
      @include media($mobile) {
        display: block;
        width: 100%;
      }
      @include media($tablet) {
        width: 100%;
        max-width: 100%;
        display: block;
        margin-bottom: 0.5em;
      }
    }
    .details.small {
      width: 100%;
      font-size: 1em;
      margin-bottom: 0;
      @include media($tablet) {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
  }
}

.payment {
  .main-content {
    margin-bottom: 2em;
    @include span-columns(12);
    @include media($tablet) {
      @include span-columns(10);
      @include omega;
    }
    @include media($desktop) {
      @include span-columns(8);
      @include omega;
    }
    .header-content .instructions {
      padding-top: 0;
    }
  }
  header {
    padding-bottom: 0;
  }
  .main-content.default {
    width: 100%;
    @include media($mobile) {
      padding-bottom: 0;
    }
    @include media ($tablet) {
      padding: 1em 1em 2em;
    }
    .transactions-table.mobile-view {
      display: none;
    }
    .expanded.mobile-view {
      @include media($mobile) {
        transition: position 0.5s linear;
        @include transactions-expanded;
        width: 50%;
        max-width: 50%;
        right: 1em;
        position: absolute;
        background: $black;
        background: var(--black-color);
        height: auto;
        transition: height 0.5 linear;
        div.row:not(.total-header) {
          display: block;
          &:nth-of-type(2) {
            margin-top: 45px;
          }
        }
        div.row.total-header {
          display: none;
        }
        button.retract {
          display: block;
          position: absolute;
          text-align: center;
          right: 0;
          margin-top: 0;
          min-width: 12%;
          background-color: white;
          border-radius: 0;
          font-size: 1.25em;
          span {
            width: 0;
          }
          &::before {
            color: white;
          }
        }
        .row {
          padding: 0 0 1em;
        }
        .row header .amount {
          margin-right: 2em;
        }
        .row .details p {
          margin-bottom: .5em;
        }
        .row .amount {
          display: inline-block;
          float: right;
          font-size: 1.25em;
        }
        .row .title {
          display: inline-block;
          width: 50%;
          font-size: 1.25em;
        }
        .row .bill-summary-expander {
          display: inline-block;
          font-size: 1.25em;
          margin-right: 1em;
        }
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        overflow: auto;
        color: white;
      }
      @include media($tablet) {
        display: none;
      }
    }
    header {
      .header-content {
        .button-group {
          label {
            text-align: center;
            @include media($mobile) {
              min-width: 0;
            }
            @include media($tablet) {
              min-width: 190px;
            }
            .button-group-item {
              width: 100%;
              border-radius: 0;
              border-bottom: solid rgba(0, 0, 0, 0);
              &:focus,
              &:hover {
                background: $lightgray;
                background: var(--lightgray-color);
                color: black;
                @include transition(0.2s ease);
              }
            }
            input:checked + .button-group-item {
              background: none;
              border-bottom: solid $theme-main-color;
              border-bottom: solid var(--theme-main-color);
              box-shadow: none;
              color: $theme-main-color;
              color: var(--theme-main-color);
            }
          }
        }
      }
    }
  }
  .bill-summary-wrapper {
    @include outer-container;
    display: none;
    @include media($tablet) {
      @include span-columns(3.5);
      border-radius: 5px;
      transform: none;
      margin-top: 0;
      padding: 0;
      text-align: left;
      @include omega;
      .transactions-table {
        &:not(.expanded) div.row:not(.total-header) {
          display: none;
        }
        button.retract {
          display: none;
        }
      }
    }
    @include media($desktop) {
      @include transactions-expanded;
      padding: 0;
      text-align: left;
      .transactions-table {
        &:not(.expanded) div.row:not(.total-header) {
          display: block;
        }
      }
    }
    &.mobile-view {
      display: block;
      @include span-columns(12);
      width: 120%;
      background-color: $theme-dark-color;
      background-color: var(--theme-main-color-darken);
      transform: translate(-8.5%, 0);
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
      @include media($tablet) {
        display: none;
      }
    }
    .bill-summary {
      background: $black;
      background: var(--black-color);
      color: white;
      padding: 1em 0;
      width: 80%;
      @include media($tablet) {
        max-width: 100%;
        padding: 1em 2em 2em;
        width: 100%;
        @include omega;
        .transactions-table {
          &:not(.expanded) div.row:not(.total-header) {
            display: none;
          }
          button.retract {
            display: none;
          }
        }
      }
      @include media($desktop) {
        @include transactions-expanded;
        width: 100%;
        .transactions-table {
          &:not(.expanded) div.row:not(.total-header) {
            display: block;
          }
        }
      }
      margin-top: 0;
      padding: 1em 2em 2em;
      display: inline-block;
      border-radius: 5px;
      .transactions-table {
        border: none;
        .row {
          padding: 0;
          .label,
          .value {
            font-size: 1.1em;
          }
        }
        div.row:not(.total-header) {
          display: none;
        }
        .row.total-header {
          padding: 0;
          text-align: center;
          border: none;
          button {
            width: 100%;
            margin-right: 0;
          }
          .label {
            margin-bottom: initial;
            text-align: inherit;
            padding: 0;
            font-size: 1.4em;
            @include media($mobile) {
              display: block;
              width: 100%;
              margin-top: 0;
            }
            @include media($tablet) {
              width: 100%;
              max-width: 100%;
              display: block;
            }
          }
          .amount {
            font-weight: bold;
            text-align: inherit;
            margin-top: 0;
            font-size: 2em;
            margin-bottom: 0;
            @include media($mobile) {
              display: block;
              width: 100%;
            }
            @include media($tablet) {
              width: 100%;
              max-width: 100%;
              display: block;
              margin-right: 2em;
              margin-bottom: 0.5em;
            }
          }
          .details.small {
            width: 100%;
            margin-top: .75em;
            font-size: 1em;
            @include media($tablet) {
              margin-bottom: 0;
            }
          }
        }
        button.retract {
          display: none;
        }
        &.expanded {
          @include media($tablet) {
            transition: position 0.5s linear;
            @include transactions-expanded;
            width: 50%;
            max-width: 50%;
            right: 1em;
            position: absolute;
            background: $black;
            background: var(--black-color);
            top: 140px;
            height: auto;
            transition: height 0.5 linear;
            div.row:not(.total-header) {
              display: block;
              &:nth-of-type(2) {
                margin-top: 45px;
              }
            }
            div.row.total-header {
              display: none;
            }
            button.retract {
              display: block;
              position: absolute;
              text-align: center;
              right: 0;
              margin-top: 0;
              min-width: 12%;
              background-color: white;
              border-radius: 0;
              font-size: 1.25em;
              span {
                width: 0;
              }
              &::before {
                color: white;
              }
            }
            .row {
              border-bottom: 1px solid #e2e2e2;
            }
            .row .details p {
              margin-bottom: .5em;
            }
            .row .amount {
              display: inline-block;
              float: right;
              font-size: 1.1em;
              margin-right: 2em;
            }
            .row .title {
              display: inline-block;
              width: 50%;
              font-size: 1.25em;
            }
            .row .bill-summary-expander {
              display: inline-block;
              font-size: 1.25em;
              margin-right: 1em;
            }
          }
          z-index: 100;
        }
      }
      header .header-glyph {
        @include span-columns(2);
        margin-right: 0.5em;
        display: inline-block;
      }
      header .header-content {
        @include span-columns(8.5);
        display: inline-block;
      }
    }
  }
  section header {
    @include outer-container;
    margin-bottom: 10px;
  }
  section header .header-glyph {
    display: inline-block;
    @include media($mobile) {
      @include span-columns(2);
    }
    @include media($tablet) {
      @include span-columns(1.25);
    }
    @include media($desktop) {
      @include span-columns(1);
    }
  }
  section header .header-content {
    display: inline-block;
    @include media($mobile) {
      @include span-columns(10);
    }
    @include media($tablet) {
      @include span-columns(10.75);
    }
    @include media($desktop) {
      @include span-columns(11);
    }
  }
  fieldset {
    @include outer-container;
    .span-t-6 {
      @include media($tablet) {
        @include span-columns(12);
      }
      @include media($desktop) {
        @include span-columns(6);
      }
    }
    .span-t-6.omega-t {
      @include media($desktop) {
        @include span-columns(6);
        margin-right: 0;
      }
    }
  }
}

fieldset {
  &.payment-section {
    width: 100%;
  }
  header {
    span {
      float: left;
    }
  }
  .button-group {
    float: left;
    padding-left: 15px;
    label {
      .button-group-item {
        background-color: transparent;
        width: 50px;
        padding: 5px;
        height: 30px;
        border: 0;
        &[data-payment-type=amex] {
          background-image: url('/images/amex.png');
        }
        &[data-payment-type=visa] {
          background-image: url('/images/visa.png');
        }
        &[data-payment-type=mastercard] {
          background-image: url('/images/mastercard.png');
        }
        &[data-payment-type=discover] {
          background-image: url('/images/discover.png');
        }
        background-size: contain;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        opacity: 0.3;
        &:hover {
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%);
          opacity: 0.6;
        }
      }
      input:checked+.button-group-item {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        background-size: contain;
        opacity: 1;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.modal-inner.confirmation {
  .bill-summary-wrapper {
    float: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .bill-summary.default {
    float: none;
    padding: 2em;
    color: #4298e7;  // IPAY-1085 UMN
  }
  p {
    color: white;
  }
  .ack-receipt {
    p {
      color: #333;
    }
  }
}

.modal-inner.confirmation header {
  padding: 0;
  .header-content {
    margin-bottom: 2em;
  }
}

.modal-inner.delete-confirmation {
  width: 90%;
  @include media($tablet) {
    width: 50%;
  }
}

.buttons-wrapper {
  margin-top: 2.5em;
}

.checking-example {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  max-width: 525px;
}

.payment {
  fieldset {
    .field {
      input {
        // max-width: 85%;
      }
    }
  }
}

.tooltip-wrapper {
  width: 15%;
  text-align: center;
  display: inline-block;
  float: right;
}

/* Bug 26786 MJO tool-tip changes */
.tooltip-item {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: white !default;
  $tooltip-background: $theme-main-color;
  $tooltip-background: var(--theme-main-color);
  $tooltip-color: $base-font-color;
  $tooltip-max-width: 80vw;
  $tooltip-arrow-width: 8px;
  $tooltip-shadow: 0 1px 1px #e2e2e2;
  $tooltip-distance-from-item: 3.5em;
  $tooltip-arrow-distance-from-box: -1.3em;
  background: white;
  border-radius: 105%;
  border: 1px solid $theme-main-color;
  border: 1px solid var(--theme-main-color);
  display: inline-block;
  position: absolute;
  text-align: center;
  color: $theme-main-color;
  color: var(--theme-main-color);
  opacity: 1;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 1.5em;
  right: .55em;
  font-size: .8em;
  @include media($tablet) {
    padding: .25em .65em;
    top: 1em;
    right: .6em;
  }
  &:focus .tooltip,
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  @include media($tablet) {
    padding: .4em .65em;
    top: 1.25em;
    right: .5em;
    width: 25px;
    height: 25px;
  }
  .tooltip {
    @include position(absolute,
    null 0 $tooltip-distance-from-item 0);
    @include transition (all 0.2s ease-in-out);
    background-color: $tooltip-background;
    background: #37424a;
    border-radius: $base-border-radius;
    border: 2px solid #e2e2e2;
    color: $tooltip-color;
    font-size: 0.9em; // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
    line-height: 1.5em;
    margin: 0 auto;
    max-width: $tooltip-max-width;
    opacity: 0;
    padding: 1em;
    text-align: center;
    visibility: hidden;
    z-index: 1000;
    width: max-content;
    max-width: 20em;
    min-height: 5em;
    margin: 0;
    min-width: 10em;
    transform: translateX(-50%);
    left: 15px;
    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin: 0;
    }
    &:after {
      @include position(absolute,
      null 0 null 0);
      border: $tooltip-arrow-width solid transparent;
      bottom: $tooltip-arrow-distance-from-box;
      color: $tooltip-background;
      content: '▼';
      font-size: 1.4em;
      margin-left: -$tooltip-arrow-width;
      text-align: center;
      text-shadow: $tooltip-shadow;
    }
  }
}

.payment-main-wrapper {
  display: inline-block;
  flex-grow: 1;
  position: relative;
  width: 100%;
  @include media($tablet) {
    @include span-columns(8.5);
    margin-right: 1em;
    padding: 0em 1em;
  }
  @include media($desktop) {
    @include span-columns(8);
    margin-right: 1em;
    padding: 0em 1em;
  }
}

.close-icon {
  display: inline-block;
}

.form-buttons {
  margin-bottom: 3em;
  float: left;
  width: 100%;
  button {
    display: block;
    width: 100%;
  }
  @include media($tablet) {
    margin-bottom: 0;
    button {
      margin-top: 0;
      width: auto;
      display: inline-block;
    }
  }
}
