@font-face {
  font-family: 'Metrize-Icons';
  src: url('../fonts/Metrize-Icons.eot');
  src: url('../fonts/Metrize-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Metrize-Icons.ttf') format('truetype'), url('../fonts/Metrize-Icons.svg#Metrize-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$light-text: #044f7c;         // IPAY-1078 UMN a11y insuffcient contrast core dark blue
$med-text: #555555;           // IPAY-1078 UMN a11y insuffcient contrast
$dark-text: #333333;
$light-theme-color: #f9d0bb;

/* Results Section at Top of Container */

button {
  min-width: 134px;
  min-height: 48px;
  margin-top: 1em;
}

.results-header {
  background-color: #03284a;                           // IPAY-1085 UMN
  //background-color: var(--theme-main-color-darken);  // IPAY-1085 UMN
  color: white;
  border-radius: 5px;
  @include outer-container;
  max-width: 100%;
  padding: 1em;
  .now-text {
    display: none;
  }
  .pay-now-amount-value {
    display: inline-block;
  }
  .total-add-all-button {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include media($tablet) {
      display: inline-block;
      width: auto;
      margin-left: 1em;
    }
  }
  .total-amount-today-value {
    margin-bottom: 1em;
  }
  .pay-now-button {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    @include media($tablet) {
      display: inline-block;
      width: auto;
      margin-left: 1em;
    }
  }
  .results-summary-wrapper {
    @include span-columns(5);
    padding: 1em;
    min-height: 75px;
    position: relative;
    float: none;
    display: block;
    width: 100%;
    @include media($tablet) {
      @include span-columns(4.5);
    }
    @include media($desktop) {
      @include span-columns(6);
    }
  }
  .total-selected-summary-wrapper {
    float: none;
    display: block;
    width: 100%;
    min-height: 0;
    text-align: center;
    padding-left: 1em;
    position: relative;
    @include media($tablet) {
      @include span-columns(3);
      padding: 1em;
      min-height: 75px;
    }
  }
  .total-amount-today-wrapper {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0;
    position: relative;
    @include media($tablet) {
      @include span-columns(9);
      padding: 1em;
      text-align: right;
    }
  }
  .results-summary-wrapper {
    font-size: 1.2em;
  }
  .total-selected-summary-wrapper {
    padding-left: 3.3em;
  }
  .total-amount-owed-wrapper {
    @include span-columns(7);
    padding: 1em;
    position: relative;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    @include media($tablet) {
      @include span-columns(7.5);
      text-align: right;
    }
    @include media($desktop) {
      @include span-columns(6);
    }
  }
}

.total-amount-owed,
.total-amount-today-label,
.amount-today-label,
.amount-today-value,
.item-group-description {
  font-size: 1.1em;
}

.amount-today-label,
.amount-today-value,
.item-group-description {
  color: $light-text;
}

.item-group-description-underline {
  margin-left: 1.5em;
}

.total-selected-summary-label,
.selected-summary-label {
  font-weight: 200;
  font-size: .9em;
}

.selected-summary-label {
  color: $light-text;
}

.centered-vertically {
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.row-wrapper {
  display: block;
}

.results-summary-wrapper,
.total-selected-summary-label,
.results-search-icon,
.results-summary-value,
.results-item-value,
.total-selected-summary-wrapper,
.total-amount-owed,
.total-amount-owed-label,
.total-amount-owed-value,
.total-amount-today-label,
.total-amount-today-value,
.pay-now-button {
  display: inline-block;
}

.results-summary-label {
  display: inline;
}

.total-amount-today-label {
  margin-bottom: 1em;
}

.results-search-icon {
  width: 4%;
  margin-right: .2em;
  opacity: .5;
  -ms-transform: translate(0, 14%);
  transform: translate(0, 14%);
}


/* First Row */

.total-selected-summary-label {
  display: block;
}

.results-summary {
  position: relative;
  color: white;
  font-family: $header-font;
  font-weight: 200;
  font-size: 1.3em;
  @include media($tablet) {
    position: absolute;
  }
}


/* Second Row */

.total-amount-owed-value {
  font-weight: bold;
}

.total-amount-today-value {
  font-weight: bold;
  font-size: 1.6em;
}

.pay-now-button {
  background-color: $theme-main-color;
  background-color: var(--theme-main-color);
  color: white;
}


/* Other Rows */

.expander {
  .item-group {
    display: block;
    min-height: 106px;
    position: relative;
    background-color: #f7f7f7;
    padding: 1em .9em;
    /* this overflow: hidden makes the parent height */
    /* adjust to its floated children */
    overflow: hidden;
    @include media($tablet) {
      padding: 0 .9em;
    }
  }
  .expander-trigger {
    position: relative;
    cursor: pointer;
  }
  .expander-icon {
    cursor: pointer;
    &:before {
      font-size: 1.4rem;
      content: '-';
      color: #fff;
	  text-align: center;
      width: 1.8rem;
      height: 1.8rem;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  -ms-border-radius: 8px;
	  -o-border-radius: 8px;
	  border-radius: 8px;
	  position: absolute;
	  left: 1.1111111111rem;
	  top: 1.5rem;
      background: $theme-complementary-color;
      background: var(--theme-complementary-color);
    }
  }
  .close-icon {
    &:after {
      font-family: 'Metrize-Icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\e0cf";
      color: #4298e7;                    // IPAY-1085 UMN
      //color: var(--theme-main-color);  // IPAY-1085 UMN
      margin-left: 1em;
      position: absolute;
      right: 0;
    }
  }
  .expander-hidden {
    .expander-icon {
      &:before {
        font-size: 1.6rem;
		content: '+';
		color: #fff;
		text-align: center;
        width: 1.8rem;
        height: 1.8rem;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
		position: absolute;
		left: 1.1111111111rem;
		top: 1.5rem;
		background: $theme-dark-color;
		background: var(--theme-main-color-darken)
      }
    }
    .close-icon {
      &:after {
        font-family: 'Metrize-Icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        content: "\e0cf";
        color: #4298e7;                    // IPAY-1085 UMN
        //color: var(--theme-main-color);  // IPAY-1085 UMN
        margin-left: 1em;
      }
    }
  }
  .expander-hidden + .expander-content {
    display: none;
  }
  .expander-hidden > .expander-content {
    display: none;
  }
}

.item-group-wrapper {
  min-height: 106px;
  background-color: white;
  margin: .5em 0;
  @include outer-container;
  max-width: 100%;
  border-radius: 5px;
  border: solid 2px #e5e5e5;
  .item-group-description-wrapper {
    float: none;
    text-align: center;
    display: block;
    width: 100%;
    min-height: 0;
    position: relative;
    background-color: #f7f7f7;
    padding: 1em;
    @include media($tablet) {
      @include span-columns(6);
      padding: 2em 1em;
      min-height: 106px;
    }
  }
  .selected-summary-wrapper {
    float: none;
    text-align: center;
    display: block;
    width: 100%;
    min-height: 0;
    padding-top: 0;
    margin-top: 0;
    position: relative;
    background-color: #f7f7f7;
    @include media($tablet) {
      @include span-columns(6);
      padding: 1.8em 1em 1em;
      text-align: right;
      min-height: 106px;
      display: inline-block;
      float: none;
    }
    .add-all-button {
      float: none;
      text-align: center;
      display: block;
      width: 100%;
      margin-top: 0;
      margin-left: 0;
      transform: translate(0, -25%);
      @include media($tablet) {
        margin-left: 1em;
        display: inline-block;
        width: auto;
      }
    }
    &.one-item {
      display: none;
    }
  }
  &.prompt-only {
    min-height: 0;
    padding-bottom: 1em;
    background-color: #f7f7f7;
  }
  &.highlighted-item {
    .item-group, .item-group-prompt {
      display: none;
    }
    .item-group-detail {
      border-top: none;
    }
  }
}

.expander-icon,
.item-group-description-wrapper,
.item-group-description-number,
.item-group-description-label,
.item-group-description-value,
.item-group-payment-wrapper,
.main-item-group-payment-wrapper,
.amount-today-label,
.amount-today-value {
  display: inline-block;
}

.item-group-description-wrapper {
  padding-left: 2em;
}

.selected-summary-label {
  margin-bottom: .5em;
}

.item-group-payment-wrapper {
  margin-bottom: 2em;
}

.item-group-detail {
  display: block;
  min-height: 106px;
  position: relative;
  border: solid 2px rgba(0, 0, 0, 0);
  border-top: solid 2px #e2e2e2;
  margin-top: .05em;
  padding: 1em 1.2em;
  @include outer-container;
  max-width: 100%;
  @include media($tablet) {
    padding: 1em 1.9em 1em 2.725em;
  }
  .add-single-button {
    margin-top: 0px;
    transform: translate(0, -5%);
  }
  .item-details-wrapper {
    float: none;
    display: block;
    width: 100%;
    @include media($tablet) {
      @include span-columns(5);
    }
    @include media($desktop) {
      @include span-columns(6.75);
    }
  }
  .item-payment-options-wrapper {
    float: none;
    display: block;
    width: 100%;
    padding-top: .5em;
    text-align: right;
    position: relative;
    @include media($tablet) {
      padding-top: .8em;
      @include span-columns(7);
    }
    @include media($desktop) {
      @include span-columns(5.25);
    }
  }
}

.item-details-list {
  list-style: none;
  padding: 0;
  font-size: .75em;
  color: $light-text;
  li {
    margin-bottom: .5em;
    width: 100%;
    @include media($tablet) {
      width: 100%;
    }
  }
  li:nth-child(odd) {
    float: left;
    margin-right: 1em;
    @include media ($desktop) {
      width: 50%;
    }
  }
}

.item-title {
  font-size: .9em;
  font-weight: bold;
  color: $dark-text;
}

.item-value {
  color: $light-text;
  font-weight: bold;
}

.item-details-single-title {
  text-transform: uppercase;
  font-weight: bold;
}

.item-details-single-value1,
.item-details-single-value2 {
  font-weight: bold;
  color: $med-text;
}

.item-payment-options {
  @include outer-container;
  width: 100%;
  margin: 0;
  text-align: center;
  @include media($tablet) {
    text-align: right;
  }
  .error-label-wrapper {
    margin-top: 1em;
    @include media($tablet) {
      margin-top: 0;
    }
  }
  div.error, label.error {             // IPAY-1085 UMN fix a11y issues with duplicate labels by label -> div
    margin: 1em auto;
    display: none;
    @include media($desktop) {
      margin: 0em auto;
    }
  }
  .item-payment-input-wrapper {
    margin-right: 1em;
    min-height: 43px;
    min-width: 180px;
    border-radius: 5px;
    border: solid 2px #e5e5e5;
    padding-right: .1em;
    margin-top: 1em;
    @include media($mobile) {
      @include span-columns(6.5);
      display: inline-block;
      float: none;
      text-align: left;
    }
    .item-payment-input {
      width: 120px;
      height: 43px;
      border: none;
      font-size: 1.3em;
      font-weight: 200;
      color: #555555;           // IPAY-1078 UMN a11y insuffcient contrast
      @include media($mobile) {
        width: 80%;
        padding-left: 1em;
        text-align: center;
      }
    }
    .item-payment-input-label {
      position: relative;
      display: inline-block;
      -ms-transform: translate(-50%, -15%);
      transform: translate(-50%, -15%);
      font-size: .75em;
      color: #044f7c;         // IPAY-1078 UMN a11y insuffcient contrast core dark blue
      font-weight: bold;
      @include media($mobile) {
        transform: translate(50%, -15%);
        width: 15%;
        text-align: center;
      }
    }
  }
  .add-single-button {
    @include media($mobile) {
      @include span-columns(3.75);
      display: inline-block;
      float: none;
    }
  }
}


/* Results Navbar */

.results-navbar {
  min-height: 225px;
  padding: 1em 2em;
  @include media($tablet) {
    min-height: 0;
  }
}

.results-back-button {
  margin-right: 1.5em;
}

.results-next-button {
  float: right;
  background-color: $theme-main-color;
  background-color: var(--theme-main-color);
  color: white;
}

.total-add-all-button,
.add-all-button,
.add-single-button,
.pay-now-button,
.pay-now-button-finish,
.results-next-button,
.results-back-button,
.results-cancel-button {
  font-family: $header-font;
  font-size: 14px;
  font-weight: 400;
  color: $med-text;
}

.pay-now-button,
.results-next-button {
  color: white;
  margin-left: 1em;
}

.total-add-all-button {
  margin-left: 1em;
}

.selected {
  background: $theme-light-color;
  background: var(--theme-main-color-lighten);
}

.item-group-detail.selected {
  border: solid 2px $theme-main-color;
  border: solid 2px var(--theme-main-color);
}

.item-group-prompt {
  color: $theme-main-color;
  color: var(--theme-main-color);
  background-color: #f7f7f7;
  padding: 1em 2em 0;
  @include media($tablet) {
    padding: 1em 2em 0;
  }
}

.item-group-description-number,
.expander-icon,
.item-group-description-label {
  display: inline;
}

.item-group-description-wrapper,
.item-group-description {
  text-align: left;
}

.global-item-prompt {
  color: #e40000; /* IPAY-1076 UMN a11y */
  background-color: #f7f7f7;
  font-weight: 600;
  padding: 1em;
  border: solid 3px;
}

.pay-now-button-wrapper {
  float: right;
  width: 100%;
}

.item-group-description-label-wrapper {
  border-bottom: solid;
  /* padding-bottom: .25em; */
  /* line-height: 2em; */
  cursor: pointer;
  margin-left:45px; 
}

.in-cart-label {
  text-align: center;
  text-transform: uppercase;
/*  border-bottom: solid 1px lightgray;
  padding: 1em;*/
  color: $theme-main-color;
  color: var(--theme-main-color);
}

.in-cart-summary-label {
  display: none;
  margin-bottom: 1em;
}
