.main-wrapper.search   .main-content {
  @include outer-container;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding-bottom: 3em;
  padding-top: 1em;
  
  @include media ($tablet) {
    margin-top: 2em; 
  }

  .body-text {
    margin-top: 1em;
    /*text-align: center;*/
  }

  .button-group.search-button-group {
    padding: 1em 0;
    @include media($tablet) {
      display: none;
    }
  }
  .form {
    // @include row(table);   couldn't get this to work; ideally styling as table would allow for consistent vert alignment
    // @include fill-parent();
    /*float: left;*/
  }
  fieldset {
    &[id=title1a-fieldset] {
      display: none;
      &.show {
        @include span-columns(12);
        @include media($tablet) {
          @include span-columns(5.75);
          /*@include outer-container;*/
        }
      }
      &.hide {
        display: none;
        @include media($tablet) {
          @include span-columns(5.75);
          /*@include outer-container;*/
        }
      }
      @include media($tablet) {
        @include span-columns(5.75);
        /*@include outer-container;*/
      }
    }
    &[id=title1b-fieldset] {
      display: none;
      &.show {
        @include span-columns(12);
        @include media($tablet) {
          @include span-columns(5.75);
          /*@include outer-container;*/
        }
      }
      @include media($tablet) {
        display: block;
        @include span-columns(5.75);
        @include outer-container;
      }
      clear:none;
    }
  }
  div.divider {
    display: none;
    @include media($tablet) {
      display: block;
      @include span-columns(0.5);
      /*@include omega;*/
      position: relative;
      height: 278px; // arbitrary, hack solution used since table display not working
      margin-top: 1em;
      margin-right: 1.5em;
      &::after {
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 2px solid $lightgray;
        border-left: 2px solid var(--lightgray-color);
      }
    }
  }
}

.search-icon {
  width: 21px;
  margin-right: .2em;
  /*-webkit-transform: translate(0, 7%);
  transform: translate(0, 7%);*/
}

.search-header {
  padding: 1em 0 1em;
  display: none;

  @include media($tablet) {
    padding: 2.5em 0 1em;
    display: block;
  }
}

.fieldset-button {
  min-width: 143px;
  min-height: 32px;
  text-align: center;
  margin-top: 0;
  text-transform: none;
}

.fieldset-header-wrapper .search-button-group {
  padding-left: 0;

  @include media($tablet) {
    display: none;
  }
}

.fieldset-header-wrapper .button-group-item.fieldset-button {
  font-size: .8em;
  position: relative;
}

.fieldset-header-wrapper .header-title {
  float: none;
}

.fieldset-header-wrapper .fieldset-button-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.header-title .hide{
  display: none;
}

.main-message {
  @include outer-container;
}

/*.search-header-title1 {
  @include span-columns(6);
}

.search-header-title2 {
  @include span-columns(6);
  margin-left: 1em;
}*/

.search-header-title {
  @include widget-header-text;
  float: none;
  display: inline;
}

.search-header-title1a, .search-header-title2 {
  display: none;

  @include media($tablet) {
    display: inline;
  }
}

.search-header-title1c {
  display: inline;
  @include media($tablet) {
    display: none;
  }
}

.search-header-title1a.show-title, .search-header-title2 {
  display: inline;

  @include media($tablet) {
    display: inline;
  }
}

.search-header-title1b {
  display: none;

  .show-title {
    display: inline;

    @include media($tablet) {
      display: none;
    }
  }
}

.search-header-title1b.show-title {
  display: inline;

  @include media($tablet) {
    display: none;
  }
}

.search-plate-input {
  @include span-columns(12);
  
  @include media($desktop) {
    @include span-columns(7);
  }
}

.search-state-select {
  @include span-columns(12);

  @include media($desktop) {
    @include span-columns(5);
    margin-right: 0;
  }
}

.search-platetype-select {
  @include span-columns(12);
}

.search-by-title1a-label, .search-by-title1b-label {
  @include span-columns(6);
}

.search-next-button2 {
  margin-top: 1.5em;

  @include media($tablet) {
    margin-top: 2.43em;
  }

  @include media($desktop) {
    margin-top: 4em;
  }

  @include media(1200px) {
    margin-top: 2.9em;
  }
}

.search-next-button1 {
  margin-top: 1.5em;

  @include media($tablet) {
    margin-top: 3.36em;
  }

  @include media(886px) {
    margin-top: 5em;
  }

  @include media($desktop) {
    margin-top: 1.5em;
  }
}

.title1a-fieldset, .title1b-fieldset {
  display: none;
}

.title1a-fieldset.show, .title1b-fieldset.show {
  display: block;
}

.search-disclaimer {
  text-align: center;
  float: left;
  /*margin-top: 5em;*/
}

.float-left {
  float: left;
}

.fieldset-wrapper {
  position: relative; 
}

.fieldset-wrapper.two-methods {
  display: none;

  @include media($tablet) {
    display: block;
  }
}