// used for both receipt transactions and payment side transactions-table
// since these may actually be two distinct objects, using this one class might not be the best implementation
// (see .payments class, @mixin transactions-expanded,  in _payments.scss)

.transactions-table {
  @include default-border;
  clear: left;
  .row {
    @include outer-container;
    padding: .5em 2.25em;
    border-bottom: 1px solid $lightgray;
    border-bottom: 1px solid var(--lightgray-color);
    font-size: 0.9em;
    max-width: initial;
    &:first-child {
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 10px;
    }
    .label, .item-title, .item-subtitle {
      @include span-columns(6);
      font-size: 1.1em;
    }
    .item-title {
      font-weight: bold;
    }
    &.additional-line-item .title {
      font-weight: normal;
    }
    .item-amount, .subtitle-amount, .amount {
      @include span-columns(4);
      @include align-right;
      @include omega;
      font-size: 1.1em;
    }

    .item-subtitle, .subtitle-amount {
      margin-top: .25em;
    }

    .details {
      p {
        clear: left;
        font-size: $tiny;
        margin: 0;
        &:last-child {
          margin-bottom: 10px;
        }
        .label {
          @include neat-ignore;
          clear: left;
          text-transform: uppercase;
          color: $darkgray;
          color: var(--darkgray-color);
          font-weight: bold;
          font-size: 1.2em;
          padding-right: 1px;
          // TODO need better way to make sure longest possible string fits on one line
        }
        .value {
          width: inherit;
          font-size: 1.2em;
          margin-left: .3em;
        }
      }

      .separator {
        padding-bottom: 10px;
        color: #e17117;
        font-family: "Raleway", Helvetica, Arial, sans-serif;
        text-align: center;
        font-size: 1.8em;
      }
    }
    &.total-header {
      /*font-size: 1.2em;*/
      background: $black;
      background: var(--black-color);
      .label {
        color: $lightgray;
        color: var(--lightgray-color);
        font-size: 1.2em;
      }
      .amount {
        color: $white;
        color: var(--white-color);
        font-size: 1.2em;
      }
    }
    &.total-footer {
      text-transform: capitalize;
      p {
        font-weight: bold;
        /*margin-bottom: 0;*/
      }
      date {
        padding-bottom: 10px;
      }
    }
  }
  .row + div > .row {
    border-bottom: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
