/*// button-group

border-bottom: solid 1px #C0C0C0;

// button-group label 
  min-width: 200px;
  text-align: center;

// button-group label:active 

  border-bottom: solid orange;

// label .button-group-item

  background: none;
  color: orange;*/