.not_running {
	background-color: white;
	width: 20em;
	text-align: left;
}


.locked {
	background-color: white;
	width: 20em;
	text-align: left;
}

.locked_border_content	{
   padding: 2em;
}

/* Login fields */
INPUT.sign_in_fields
{
   width: 150px;
}
DIV.sign_in {
 text-align: center;
}
INPUT.sign_in	{
	background: url(../images/btnSize03.gif) top left no-repeat;
	color: #FFF;
	background-color: #2458AC;
	width: 104px;
	height: 44px;
	XXfont-size: 1.3em;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	cursor: hand;
	font-variant: small-caps;
	}		