@media print
{
    /* RDM BUG 24903 - Brought print code over from \baseline\business\include\print.css */
    *
    {
        /* MByrd 21805 display: block !important;*/
        overflow: visible !important;
        float: none !important;
        vertical-align: top !important;
        height: auto !important; /* Bug #11082 Mike O - Stop Firefox from printing tons of blank pages */
        position: relative !important; /* Bug #11082 Mike O - Stop Firefox from printing tons of blank pages */
    }
    
    *
    {
        *position: static !important;
    }

    /* RDM BUG 24258 - Don't display buttons on print */
    button {display: none;}
    
    TH { font-size: 0.53em; }
    
    TR.item TD { font-size: 0.60em; }
    TR.void TD { font-size: 0.60em; }

    TR.group_level_0 TD { font-size: 0.80em; }
    TR.group_level_1 TD { font-size: 0.73em; }
    TR.group_level_2 TD { font-size: 0.67em; }

    TABLE.group_criteria TD { font-size:0.67em; }
    TABLE.group_criteria TH { font-size:0.67em; }

    TR.group_level_0 TD.count { font-size: 0.67em; }
    TR.group_level_1 TD.count { font-size: 0.60em;}
    TR.group_level_2 TD.count { font-size: 0.53em;}

    TABLE.report_criteria TD { font-size: smaller; }

    TABLE.report_info TD { font-size:smaller; }
    TD.report_detail_key { font-size:0.33em; } 
    TD.report_detail_value { font-size: xx-small; }
}
@media screen 
{
    TH { font-size: 0.8em; }

    TR.item TD { font-size: 0.9em; }
    TR.void TD { font-size: 0.9em; }

    TR.group_level_0 TD { font-size: 1.2em; }
    TR.group_level_1 TD { font-size: 1.1em; }
    TR.group_level_2 TD { font-size: 1.0em; }

    TABLE.group_criteria TD { font-size:1em; }
    TABLE.group_criteria TH { font-size:1em; }

    TR.group_level_0 TD.count { font-size: 1.0em; }
    TR.group_level_1 TD.count { font-size: 0.9em;}
    TR.group_level_2 TD.count { font-size: 0.8em;}

    TABLE.report_criteria TD { font-size:smaller; }

    TABLE.report_info TD { font-size:smaller; }
    TD.report_detail_key { font-size:0.5em; } 
    TD.report_detail_value { font-size: x-small; }
}

TABLE { /*border-collapse: collapse */}

/* header */
TH {
  color: #0000FF; /*IPAY-1546 SM Accessibility.  Changed color to blue*/
  border-bottom: 1 solid #AAA;
}


/* group_level */
TR.group_level_0 TD
{
	/*background-color: #EEE; */
	border-bottom: 3px solid black ; 
	/*border-top: 3px solid black ; */
}

TR.group_level_0 TD.group_name
{
	border-left: 3px solid black ; 
}
TR.group_level_0 TD.count
{
	/*border-right: 3px solid black ; */
}

TR.group_level_1 TD 
{
	/*background-color: #DDD;  */
	border-bottom: 2px solid black ; 
	line-height: 1.2em;
}

TR.above_group_level_1 TD
{
	height: 1.5em;
}


TR.group_level_2 TD 
{
	/*background-color: #CCC;  */
	border-bottom: 1px solid black ; 
}

/* group */
TABLE.group_criteria TD { border: 0px; font-weight: bold; }
TABLE.group_criteria TH { border: 0px; }

/* item */
TR.item TD { line-height: 0.9em; }
TR.void TD { line-height: 0.9em; color:	#B22222;}/* IPAY-1546 SM Accessibility.  Change to dark red for voids */

TD { padding-left: 3px; padding-right: 3px; }

TD.Decimal { text-align: right; white-space: nowrap}

TD.Integer { text-align: right }

TD.Number { text-align: right; white-space: nowrap}

TD.count { font-style: italic; text-align: right; }

TR.group_level_1 TD.count { position: relative; /*left: -.5em;*/}
TR.group_level_1 TD.total { position: relative; /*left: -.5em;*/ white-space: nowrap}

TR.group_level_2 TD.count { position: relative; left: -0.5em;}
TR.group_level_2 TD.total { position: relative; left: -0.5em; white-space: nowrap}



TR.group_level_1 TD.group_name { /*position: relative; left: 1em; */}
TR.group_level_2 TD.group_name { /*position: relative;*/ left: 1.0em;}


TH { text-align: left; }
TH.total {text-align: right }

TD.count { font-style: italic; text-align: right; }

H2.title { margin: 0px }

TABLE.report_criteria { /*width: 700px;*/ margin-left: 2em;}
TABLE.report_criteria  TD
{
    color:black;
    padding-left: 2px;
}
TABLE.report_criteria  TD.key
{ 
  color:#0000FF;
}
TABLE.report_criteria  TD.value
{
 /*font-weight:bold;*/
}
TABLE.report_info  TD
{
    color:black;
    padding-left: 2px;
}
TABLE.report_info  TD.key
{ 
  color:#0000FF;/*IPAY-1546 SM Accessibility.  Changed to blue*/
}
TABLE.report_info  TD.value
{
 /*font-weight:bold;*/
}
TABLE.report_detail 
{
	  margin-left: 20px;
}
TD.report_detail_key
{
	font-style:italic; color: #696969; text-align: right; 
} 
TD.report_detail_value
{
    color: #505050;
}
DIV.consolidated_report
{
 /*border: 1px solid black; */
}
TD.file_filter_prompt
{
font-weight:bold;
}
TD.report{ border: 1px solid #C2A57D; padding: 0.5em; margin: 2px; }
/*TABLE.report{ border: 1px solid #AAA; padding: 3px; } */

TD.source_group{ white-space: nowrap; }

TH.tender_amount { text-align: right; }
