BODY { margin: 0px; padding: 0px; }

TABLE { border-collapse: collapse; }
TABLE.border_content { padding-left: 7px; width: 100%; height: 100%; }
TABLE.middle_TABLE { width: 100%; height: 100%; }

TABLE.transaction_group_details {	width: 95%; 	margin-top: 0.25em; 	margin-left: 22px; }
TABLE.transaction_group_details TD { border: none; 	padding: 1px 4px;	font-size: 0.8em; }
TABLE.transaction_details {	display: block;	margin-left: 1.2em }
TABLE.transaction_details TD { border: none;	padding-left: 10px; font-size: smaller; }

TR.bottom TD { padding-bottom: 13px }

TD { padding: 0 0.5em 0.1em 0; }

DIV.middle_DIV { padding-right: 5px; overflow: auto; margin-right: 22px; height: 100%; font-size:0.75em; }
DIV.middle_DIV TD { font-size:0.75em; padding-bottom: 5px; }

DIV.confirmation_number_label {	font-size: smaller; width: 100%; text-align: center; }
DIV.confirmation_number {	font-weight: bold; width: 100%; color: navy; text-align: center; font-size: 1.5em; }

DIV.Core_event DIV.vectorFieldsWrap01 { padding: 0px; }
DIV.Core_event DIV.middle_DIV { padding-left:0px;	margin-right: 1.5em; }

DIV.balance {	text-align: center;	font-weight: bold; }
DIV.balance SPAN.key { padding-right: 0.2em;	font-variant: small-caps; }

P.core_event_prompt {	font-size: 10pt; font-weight: bold; margin:0.2em 20px 0 9px; padding-bottom:0.5em; border-bottom: 1px solid #999; }

.Core_event {	width: 100%; height: 100%; }
.Core_event TD { vertical-align: top; }
.Core_event .middle_DIV	{ padding-left: 10px; }

.vector_fields { width: 100%; border-collapse: collapse; margin: 22px 0 0 0; }
.vector_fields TR TH { padding-right: 2px; padding-left: 2px; margin: 2px; vertical-align: bottom;	border-bottom: #ccc 1px solid; text-align: left;	padding-bottom: 0; line-height: 85%;	color: #888; text-transform: capitalize;	font-variant: small-caps;	font-size:0.9em; }

.vectorFieldsWrap01	{ padding: 0 0 0 22px; height: 1%; }

.grand_total {	text-align: center; }
.grand_total SPAN.key {	padding-right: 0.2em;	font-weight: bold; font-variant: small-caps; }
.grand_total SPAN.value {	font-weight: bold; }

.total { font-weight: bold; }

.receipt { padding-top: 1.7em; text-align: center; }
.receipt .border_content .top TD { padding-top: 10px; }

.inner { background-color: white; height: 100%; }

.border_content TR.top { height: 10px; text-align: center; border: solid red 2px;  }
.border_content TR.bottom {	height: 10px; border: solid red 2px;  }
.border_content TR.top TD {	font-size: 2px; }
