/* To change the color of all buttons: replace  
    #2458ac with new color such as: #000098  
*/

/* DEBUGGING */
/*
TABLE { border: solid red 1px; }
TD { border: solid blue 1px; }
TH { border: solid blue 1px; }
/**/

BODY {
	margin: 0px;
	padding: 0px;
}

.header  {
	padding: 0px;
	margin: 0px;
	width: 62em;
}

IMG {
	border: 0px;
}

ACRONYM {
	border: medium none;
}

abbr {
	border: medium none;
}

.clear {
	clear: both;
	font-size: 1px;
	line-height: 0px;
}
.clear2 {
	clear: both;
	font-size: 5em;
	line-height: 0px;
}

.a_cbc {
	background-color: #ECECEA;
	margin: 0;
}

.report_border_content {
	margin-left: 20%;
	width: 100%;
	margin-right: 20%;
	height: 100%;
}
.userInfo01 {
	float: right;
	margin: 0px
}
.userInfo01 LI {
	display: inline;
	margin: 0.4em;
	color: #2F2F2F;
	list-style-type: none;
	/* font-size: 1.1em; */
}
.userInfo01 .span01 {
	font-size: small;
}
.userInfo01 .span01:first-letter {
	font-size: 110%;
	color: red;
}
.logout {
	border: medium none;

	background: url(../images/btnsize02.gif) #2458ac no-repeat left top;

	width: 66px;
	height: 18px;

	cursor: hand;

	color: #FFF;
	font-weight: bold;
	text-align: center;
	text-transform: none;
	/* font-size: 1em; */
}
.logout {
	/* font-size: .9em */
}

.tabs {
	float: left;
}
.tabs TD {
	height: 1em;
}
UL.tabs {
	margin-left: 10px;
	/* margin: 0 0 0 2.0em; */
}
.tabs LI {
	display: inline;
	list-style-type: none;
}
.tabs A {
	font-size: 1em;
	background: url(../images/tab_tr.gif) #EEE no-repeat 100% -150px;
	float: left;
	text-transform: capitalize;
	font-variant: small-caps;
	font-weight: bold;
	font-size: .9em;
	cursor: hand;
	color: #888;
	letter-spacing: 1px;
	text-decoration: none;
	/*
	border-bottom: 1px solid lime;
	font-variant: small-caps;
	*/
}

.tabs .tab {
	padding-right: 14px;
	display: block;
	padding-left: 12px;
	font-size: 1em;
	background: url(../images/tab_l.gif) no-repeat 0% -150px;
	float: left;
	padding-top: 7px;
	white-space: nowrap;
}
.tabs .tab IMG {
	margin-right: 5px;
}

.tabs A.current {
	background-position: 100% -150px;
	color: black;
	border-bottom: white 1px solid;
	background-color: #FFF
}

SPAN .fl {
	font-size: 1.1em;
	/* float: left; */
}

DIV.tabs A:link {
	color: black;
}

DIV.tabs A:visited {
	color: black;
}

DIV.tabs A:active {
	color: black;
}

DIV.tabs A:hover {
	color: black;
}

DIV.tabs SPAN {
	float: none;
}

DIV.tabs A:hover SPAN {
	background-position: 0% -150px;
}

TABLE {
	/* font-size: 1em; */
}

HTML > BODY .vector_fields {
	width: 100%;
	border-collapse: collapse;
	margin: 22px 11px 0 22px;
}

.vector_fields	{
	width: 100%;
	margin: 22px 0 0 0;
}

TD.last_row {
	BORDER-TOP: #999 1px solid
}

.vector_fields TR TH {
	padding-right: 2px;
	padding-left: 2px;
	margin: 2px;
	vertical-align: bottom;
	border-bottom: #ccc 1px solid;
	/* background-color: #EEE; */
}

.vector_fields TH.select {
	text-align: left;
	padding-left: 3px;
}

.vector_fields TH.description {
	text-align: left;
	padding-left: 0;
}

.vector_fields TH.quantity {
	text-align: left;
	padding-left: 0;
}

.vector_fields TH.total {
	text-align: right;
	padding-right: 7px;
}

.vector_fields TR.r0 TD {
	padding-right: 0.5em;
	border-top: #999 1px solid;
	padding-left: 0px;
	padding-bottom: 0.1em;
	color: black;
	padding-top: 0.3em;
}
.vector_fields TR.r0-highlight TD {
	padding-right: 0.2em;
	padding-left: 0px;
	padding-bottom: 0.2em;
	color: black;
	padding-top: 0.3em;
}
.vector_fields TH {
	text-align: left;
	padding-bottom: 0;
	line-height: 85%;
	color: #888;
	text-transform: capitalize;
	font-variant: small-caps;
	font-size: .9em;
}
	
.Core_event TD {
	vertical-align: top;
}

.section_bottom {
	height: 1px;
}

.section_bottom {
	height: 3.5em;
}

TH.description {
	text-align: left
}

TD {
	padding: 0 0.5em 0.1em 0;
	/* font-size: 1em; */
}

.action_group {
	padding: 0.7em 0.1em 0 0.1em;
	width: 70%;
	height: 100%;
	vertical-align: top;
}

.modal .action_group {
	padding: 2em 0.1em 0 1em;
}

.not_running {
	width: 20em;
	background-color: white;
	text-align: left;
}

.locked {
	width: 20em;
	background-color: white;
	text-align: left;
}

.locked_border_content {
	padding: 2em;
}

.event_group_border_content {
	/*
	background-color: red;
	padding: 1.5em;
	padding-right: 2.2em;
	*/
}

.event_group {
	width: 30%;
	height: 100%;

	padding-top: 1em;
	padding-right: .8em;
	padding-bottom: .3em;
}

.core_event .description A {
	line-height: 110%;
}

.core_event .total {
	font-weight: bold;
}

.event_group H2 {
	text-align: center;
}

.receipt_event_group {
	padding: 1.2em 1em 1.5em 1em;
}

DIV.receipt_separator {
	border-bottom: black 1px solid;
}

.grand_total {
	text-align: center;
	/* padding-bottom: 1em; */
}

DIV.balance {
	text-align: center;
	font-weight: bold;
}

DIV.balance SPAN.key {
	padding-right: 0.2em;
	font-variant: small-caps;
}

.return_link {
	text-align: center;
	/* padding-bottom: 1em; */
}

TR.bottom TD {
	padding-bottom: 13px; 
	
}

.grand_total SPAN.key {
	padding-right: 0.2em;
	font-weight: bold;
	font-variant: small-caps
}

.grand_total SPAN.value {
	font-weight: bold;
}

.text {
	border: medium none;
	border-left: #888 1px solid;
	border-bottom: #888 1px solid;
	
	padding: 0 3px 0 0.2em;
	
	font-weight: bold;
	text-align: left;
	color: black;
	
	height: 1.4em;
	/* font-size: 1em; */
    /* width: 100%; */
    /* background-color: white; */
}

INPUT.readonly {
	border: 0px;
}

.total INPUT {
	width: 6em;
	text-align: right;
}

.tran_line_total {
	text-align: right;

}


.tran_line_total INPUT{
	text-align: right;

}

TD.a_geo_total INPUT {
	text-align: right;

}

TD.a_geo_total {
	text-align: right;
	font-weight: bold;
}

TD.total {
	text-align: right;
}

TD.text.total {
	text-align: left;
}

INPUT.text.total {
	text-align:left;
}

TH.total {
	text-align: right;
}

TABLE.account_summary {
	border: black 2px solid;
}

TD.description {
	/* width: 20em; */
}

.amount_due {
	text-align: right;
}

TH.financial_aid {
	text-align: right;
	font-size: 85%;
	/*white-space: nowrap; */
	/* overflow: visible; */
}

.financial_aid {
	text-align: right;
}

.text-highlight {
	background-color: #F7F7F7;
}

.text-focus {
	background-color: yellow;
}

INPUT.continue {
	border: medium none;

	font-weight: bold;
	color: #FFF;
	letter-spacing: 1px;
	text-align: center;

	width: 44px;
	height: 18px;

	background: url(../images/btnSize01.gif) #2458ac no-repeat left top;

	cursor: hand;
}

TD.continue {
	width: 20px;
	text-align: right;
}

.transactions {
	margin: .25em 5px 0 7px;
	WIDTH: 97%;  /* changed 2006-03-29 */
}

/*
.transactions tr {
	behavior: url("js/IEFixes.htc");
}
*/

.transactions tr:hover td {
	background-color: #F6F6F6;
}

.transactions td {
	font-size: .75em;
	padding: .3em .5em .3em 0;
	border-bottom: 0px solid #DDD;  /* receipt separator */
}

.transactions TD.total {
	text-align: right;
}

.transactions TD.void_transaction {
	font-size: smaller;
	width: 1.5em;
	position: relative;
	top: 0.3em;
	color: Red
}

.transactions TD.void_transaction A {
	color: #BBB;
}

.transactions TD.void_transaction A:hover {
	color: black;
}

html > body .Transaction_group {
	 height: 99.65%;
}

TABLE.transaction_group_details {
	width: 95%;
	margin-top: 0.25em;
	margin-left: 22px;
}

TABLE.transaction_group_details TD {
	border: none;
	padding: 1px 4px;
	font-size: 0.8em;
}

TABLE.transaction_details {
	display: block;
	margin-left: 1.2em
}

TABLE.transaction_details TD {
	border: none;
	padding-left: 10px;
	font-size: smaller;
}

.transaction_details_closed {
	display: none
}

/* Tender */
/*
.tenders TD.void_tender {
	font-size: smaller;
	width: 1.5em;
	position: relative;
	top: 0.3em;
	color: Red
}
*/

.total {
	font-weight: bold
}

BUTTON.finish_buy {
	border: medium none;

	color: #fff;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;

	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;

	width: 104px;
	height: 44px;

	cursor: hand;
	/* font-size: 1.3em; */
}

DIV.finish_buy {
	text-align: center
}

.Closed {
	border: none;

	background: url(../images/closed.gif) #F7F7F7 no-repeat left top;
	
	width: 19px;
	height: 19px;
	
	cursor: hand;
}

.Opened {
	border: none;

	background: url(../images/opened.gif) #F7F7F7 no-repeat left top;
	
	width: 19px;
	height: 19px;
	
	cursor: hand;
}

.noTrashCan {
	border: medium none;
	
	background-color: white;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	color: #FFF;
	
	width: 35px;
	height: 24px;
	
	cursor: hand;
	
	/* font-size: 1em; */
}

.clearAll {
	margin: 0px 1.7em;
	text-transform: uppercase;
	position: relative;
	top: -1em;
	text-align: left;
}

.deleteAll {
	margin: 0px 1.7em;
	text-transform: uppercase;
	position: relative;
	top: -1em;
	text-align: left;
}

TABLE.action_group {
	height: 100%;
}
/*
.first_section_list .stack {
	width: 100%;
	height: 55%;
}

.second_section_list .stack {
	width: 100%;
	height: 45%;
}
*/
.section_list .top {
	height: 1em;
}

.section_list .middle {
	overflow: auto;
	width: 100%;
	margin-right: 1em;
	height: 100%;
}

.section_list .bottom {
	height: 1em;
}

.core_event .top {
	height: 1em;
}

.core_event .middle {
	overflow: auto;
	width: 100%;
	margin-right: 0px;
	height: 100%;
}

.core_event .bottom {
	/* height: 3em; */
}

.core_event {
	width: 100%;
	height: 100%;
}

.footer {
	padding-left: 2em;
	font-size: .7em;
	padding-bottom: 8px;
	/* height: 5%; */
}

.department_icon {
	margin-top: 15px;
}

.buying {
	/*
	height: 100%;
	margin: 2em 0 0 0;
	background-color: lime;
	clear: both;
	*/
}

.file_status {
	padding: 1.7em 1em 1.5em 1em;
	width: 70%;
	height: 100%;
}

.new {
	width: 30em;
	background-color: white;
	text-align: left;
}

.new_border_content {
	padding: 2em 2em 2em 4em;
}

.start LI {
	font-size: 2em;
	margin-left: 1em;
}

.current_focus {
	background-color: white;
}

DIV.return_to_buying {
	text-align: center;
}

.core_event_alternative {
	padding-top: 1em;
	/* height: 30em; */
}

.none_bottom {
	background-color: #ECECEA;
}

.req_flag {
	left: -0.5em;
	color: red;
	position: relative;
}

.k {
	padding-left: 7px;
	vertical-align: top;
	text-align: right;
	/* font-variant: small-caps; */
}

.key_details { 
	font-size: smaller;
	font-variant: small-caps;
	color: #777;
	padding: 0px;
}

TABLE.account_summary_details TD {
	padding: 0px;
}

TABLE.account_summary_details {
	border-collapse: collapse;
}

SPAN.required_message {
	font-size: smaller;
}

SPAN.k {
	padding-right: 0.3em;
}

.v {
	width: 20em;
}

.tendering .stack {
	width: 100%;
	height: 100%;
}

.submit {
	border: medium none;
	
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	color: #fff;
	
	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;
	
	width: 104px;
	height: 44px;
	
	cursor: hand;
}

a.button {
	border: medium none;
	
	font-weight: bold;
	font-size: smaller;
	color: #fff;
	text-align: center;
	text-decoration: none;
	
	background: url(../images/btnSize02.gif) #2458ac no-repeat left top;
	
	width: 66px;
	height: 18px;
	
	cursor: hand;
}

TD.button_bar {
	vertical-align: text-top;
}

SPAN.error {
	font-size: 0.9em;
	color: red;
}

.transaction_group_details .total {
	font-weight: normal
}

a.back {
	border: medium none;
	
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	text-decoration: none;
	
	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;
	
	width: 104px;
	height: 44px;
	
	cursor: hand;
	
	padding-top: 8px;
}

a.delete {
	border: medium none;
	
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	text-decoration: none;
	
	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;
	
	width: 104px;
	height: 44px;
	
	cursor: hand;
	
	padding-top: 8px;
}

.modal .stack {
	width: 100%;
	height: 100%;
}

.current_focus {
	background-color: white;
}

BUTTON.return_to_buying {
	border: medium none;
	
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	text-decoration: none;
	
	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;
	
	width: 104px;
	height: 44px;
	
	cursor: hand;
	
	/* padding-top: 8px; */
}

DIV.return_to_buying {
	text-align: center;
}

.receipted .a_core_event {
	background-color: white;
	/* width: 40%; */
}

.receipt {
	padding-top: 1.7em;
}

.receipted TD.left {
	padding-top: 20px;
}

.receipt .border_content .top TD {
	padding-top: 10px;
}

TABLE.receipted {
	width: 96%;
	height: 97%;
}

.a_cbc_border_content {
	padding: 10px;
}

.receipted {
	text-align: center;
	/*
	padding: 1.7em;
	overflow: auto;
	*/
}

.receipted TD.left .inner_border_content {
	padding: 15px 25px 25px 15px;
	text-align: left;
}

TABLE.receipted {
	margin-left: 15px;
	margin-right: 15px;
}

.receipted P.legal {
	font-weight: bold;
}

DIV.confirmation_number_label {
	font-size: smaller;
	width: 100%;
	text-align: center;
}

DIV.confirmation_number {
	font-weight: bold;
	width: 100%;
	color: navy;
	text-align: center;
	font-size:1.5em;
}

DIV.legal {
	/* font-size: 10px; */
}

.return_uri A {
	background-color: white;
	text-decoration: underline;
}

.core_event_top {
	padding-left: 2em;
	text-align: left;
}

.core_event_top TABLE {
	width: 70%;
}

.receipt {
	text-align: center;
}

INPUT.submit {
	border: medium none;
	
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	
	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;
	
	width: 104px;
	height: 44px;
	
	cursor: hand;
}

.second_section_list_fs_bottom_buttons .submit {
	border: medium none;

	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	
	background: url(../images/btnSize04.gif) #2458ac no-repeat left top;
	
	width: 180px;
	height: 44px;
	
	cursor: hand;
	color: #fff;
	
	/* width: 104px; */
}

.hyperlinks TD {
	font-size: larger;
	vertical-align: top;
}

.hyperlinks A {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.hyperlinks A:hover {
	background-color: #ddd;
}

.search_area {
	padding: 1.7em 1em 1.5em 1em;
	
	width: 70%;
	height: 100%;
}

.area_search_form {
	padding-left: 1em;
	margin: 0px 0.5em 0px 0px;
	overflow: auto;
	height: 100%;
}

.area_search_form .tender_select {
	width: 11.5em;
}

.area_search_form .screen_select {
	width: 11.5em;
}

.search_list {
	margin-right: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	
	overflow: auto;
	height: 100%;
}

.report_crit_form {
	margin-right: 0.5em;
	padding-left: 1em;
	
	overflow: auto;
	height: 100%;
	text-align: center;
}

.report_crit_form .tender_select {
	width: 11.5em;
}

.report_crit_form .screen_select {
	width: 11.5em;
}

.detail_area {
	padding: 1.7em 1em 1.5em 1em;
	
	width: 30%;
	height: 100%;
}

.detail_area H2 {
	color: black;
	text-align: center;
}

.detail_area_section {
	width: 100%;
	height: 100%;
}

.detail_area_section_top {
	padding-top: 0.1em;
	padding-left: 1em;
	height: 1em;
}

.detail_area_section_middle {
	height: 50%;
	
	/*
	margin-right: 0.5em;
	padding: 0.7em 1em 1.5em 1em;
	overflow: auto;
	vertical-align: top
	*/
}

.detail_area_section_middle TD {
	font-size: larger;
	vertical-align: top;
}

.detail_area_section_middle A {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.detail_area_section_bottom {
	width: 100%;
}

.detail_area_section_middle2 {
	height: 0.1em;
}

.detail_area_section_bottom2 {
	height: 0.2em;
}

.area_video_journal {
	margin: 0px 0.5em 0px 0px;
		padding-right: 0.5em;
	padding-left: 1em;
	
	overflow: auto;
	height: 100%;
}

.area_image_list {
	margin: 0px 0.5em 0px 0px;
	padding-left: 1em;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.Section TABLE {
	border-collapse: collapse;
}

TR.hover TD {
	border-bottom: solid #AAA 1px;
	background-color: #CCC;
}

.print_info {
	text-align: center;
}

.inner {
	background-color: white;
}


html>body .inner {
	height: 100%;
}

TABLE.border_content {
	width: 100%;
	height: 100%;
}

TABLE.middle_TABLE {
	width: 100%;
	height: 100%;
}

.border_content TR.top {
	height: 10px;
	text-align: center;
}

DIV.middle_DIV {
	overflow: auto;
	margin-right: 11px;
	height: 100%;
	font-size: .75em; 
}

.Core_event .middle_DIV	{
	padding-left: 10px;
}

.middle_DIV h3	{
	margin-top: 11px;
	margin-bottom: 0;
	font-size: 1.5em;
	/*
	margin-left: 22px;
	margin-right: 22px;
	*/
}

.middle_DIV .k	{
	padding-left: 7px;
	padding-bottom: 7px;
	text-align:right;
}

DIV.middle_DIV td {
	font-size: .75em;
	padding-bottom: 5px;
}

DIV.middle_DIV .submit {
	float: left;
}

DIV.middle_DIV a.button {
	font-size: .9em;
	text-align: center;
	width: 66px;
	float: left;
	position: relative;
	top: 22px;
}

DIV.middle_DIV input.text {
	font-size: 1em;  /* .85em; */
	padding-left: 2px;  /* 3px 4px; */
	/* height: 1.85em; */
}

.border_content TR.bottom {
	height: 10px;
}

.stack .upper {
	height: 10px;
}
.stack .lower {
	height: 100%;
}
TABLE {
	border-collapse: collapse;
}

FORM {
	padding: 0px;
	margin: 0px;
}

DIV.prompt {
	/* padding-top: 4px; */
}

.prompt img	{
	/* margin-bottom: 11px; */
}

TABLE.border_content {
	padding-left: 7px;
}

.border_content TR.top TD {
	font-size: 2px;
}

DIV.middle_DIV {
	padding-right: 5px;
}

.stack TR.upper TD {
	padding: 0px;
	margin: 0px;
}

UL.tabs {
	position: relative;
	top: 1px;
}

P.core_event_prompt {
	font-size: 10pt; /* 1.0em;*/
	font-weight: bold;
	margin: .2em 20px 0 9px;
	padding-bottom: .5em;
	border-bottom: 1px solid #999;
	width:220px;
}

INPUT.quantity {
	width: 2em;
}

INPUT.total {
	width: 5em;
}

SPAN.read_only_text.total {
	font-size: 130%;
	font-weight:bold;
}
INPUT.sign_in_fields {
	width: 150px;
}
DIV.sign_in {
	text-align: center;
}

INPUT.sign_in {
	border: medium none;
	
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	/* font-size: 1.3em; */
	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;
	
	width: 104px;
	height: 44px;
	cursor: hand;
}

TD.description2 {
	font-size: 0.9em;
	color:green;
}

.core_logo	{
	margin-right: 28px;
}

.account_info	{
	margin: 1px 0 0 0;
}

.account_info .k,
.account_summary_details .k	{
	text-transform: capitalize;
	font-variant: small-caps;
	font-size: 1.15em;
	/* margin-left: -1em; */
	/* margin-right: 3px; */
	color: #777;
}

.account_summary	{
/*	margin: 11px 0 3px 22px; */
	font-size: 1.2em;
	font-weight: bold;
}

h3.prompt	
{
	margin-top: 0em;
	margin-bottom: 0em;
}

h3.prompt_description {
	margin-bottom: 0em;
}

h4.prompt	
{
	margin-top: 0em;
	margin-bottom: 0em;
}
h4.prompt_description {
	margin-bottom: 0em;
}

html>body .tender_section_list	{
	height: 99.65%;
}

html>body .bbb	{
	height: 100%;
}

html>body .Core_event-add_transaction .button	{
	font-size: .9em;
}

html>body .continue .button	{
	font-size: .9em;
}

input.continue	{
	font-size: .9em;
}

.colType01	{
	vertical-align: top;
}

.colType02	{
	text-align: right;
}

.wrap02	{
	margin: 0 22px;
}

h3.h3Type01	{
	margin-left: 0;
}

.vectorFieldsWrap01	{
	padding: 0 0 0 10px;
	height: 1%;
}

.delete a {
	text-decoration: none;
}	
.delete01 {
	font-weight: bold;
	font-size: .9em;
	font-family: verdana, sans-serif;
	color: #F00;
	border: 1px solid #F00;
	padding: 0 0 0 2px;
	line-height: 100%;
	position: relative;
	top: 2px;
}
 
BODY.dialog_box {
	background-color: #ececea;
	text-align:center;
}

DIV.dialog_box { 
  margin: 100px;
  padding: 30px;
  padding-top: 80px;
  
  width:437px;
  height:291px;
  
  background-color:white;
  background:url(../images/fixed_dialog.gif) #2458ac no-repeat left top;
}

/*Prompt controls*/

DIV.Transaction_group DIV.prompt {
	color: green;
	font-size: 1.0em;
}

DIV.Transaction_group DIV.added_transaction_prompt {
	color: green;
	font-size: 1.0em;
}

TD.added_transaction_prompts {
	vertical-align: top;
}

H3.prompt_description IMG {
	margin-right: 0.5em;	
} 

DIV.Core_event DIV.vectorFieldsWrap01 {
	padding: 0px;
}

DIV.Core_event DIV.middle_DIV {
	padding-left:0px;
	margin-right: 1.5em;
}

DIV.Core_event TD.delete {
	width:auto;
	text-align:right;
	padding-left:4px;
	vertical-align: top;
}

BUTTON.select_all {
	border: 1px solid black;
	cursor: hand;
}

TD.action_bar {
	text-align: right;
	margin-bottom: 100px;
	margin-bottom: 100px;
}

TD.warning_box_icon {
	vertical-align: top;
}

/* inquiry buttons */
TD.action_bar a.button {	
   color: black;
   background-color: #fff;  
   
   margin-bottom: 10px;
   
   border: medium none;
   font-weight: bold;
   font-size: smaller;
   text-align: center;
   text-decoration: none;
   
   background: url(../images/btnSize02.gif) no-repeat left top;
   
   width: 66px;
   height: 18px;
   
   cursor: hand;   
}

TD.action_bar INPUT.button {
	margin-right: 40px;
	border: medium none;
	
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	
	background: url(../images/btnSize03.gif) #2458ac no-repeat left top;
	
	width: 104px;
	height: 44px;

	cursor: hand;
}

TABLE.receipted DIV.Core_event.receipt DIV.middle_DIV {
	padding-left: 15px;
}

TABLE.receipted DIV.Core_event.receipt {
	width: 500px;
}

TABLE.printable DIV.middle_DIV {
	padding-left: 15px;
}

TABLE.printable DIV.Core_event.receipt {
	width: 600px;
}

TABLE.transactions TD {
	padding:0px;
	margin:0px;
}

TABLE.transactions TABLE.transaction_details TD {
	padding:0px;
	margin:0px;
}

/* change individual field labels and inputs */
DIV.middle_DIV TD.k.total {
	font-weight: bold;
}

TD.total INPUT.text {
	font-size: 1.4em;
}

TD.cc_ck_number INPUT.text {
	font-size: 1.4em;
}

TH.transactions_amount {
	text-align: right;
}

TR TH SPAN.core_event_actual_date {
	text-align: left;
}

DIV.shopping_list_prompt {
	font-size:smaller;
	color: blue;
	margin-right:20px;
	margin-left: 20px;
}

IFRAME.shopping_list_alternative {
	height: 510px;
}

IMG.delete {
	float: right;
}

/* wait dialog */
#wait_background 
{
 background-color:white;filter:alpha(opacity=0);-moz-opacity:0.0;opacity:0.0;
 display:none;position:absolute;top:0px;left:0px;width:100%;height:150%;
 /* background-color:#EEE;filter:alpha(opacity=30);-moz-opacity:.70;opacity:.70; */
}
#wait_dialog
{   display:none;position:absolute;top:200px;left:150px;width:429px;height:105px;
	padding:30px;background-color:white;font-size:14pt;
	background: url(../images/fixed_small_dialog.gif)
	/* filter:alpha(opacity=100);-moz-opacity:.0;opacity:.0; */
}
/* cross-platform for FireFox   Might be a better way */
BODY > #wait_dialog 
{ 
width:369px;height:45px;
}

A.delete_link { text-decoration: underline; }
A.edit_link { text-decoration: underline; }

SPAN.pending_payments 
{
      border:1 solid black; padding:5px; background-color: lightyellow; XXwidth:auto;
      text-align:left; padding-top:2px; padding-bottom:2px;
}
SPAN.multi_field
{ 
	white-space:nowrap;
}
H3.service_closed_message 
{
  margin: 25px;	
}

TABLE.hold_message
{ color: Red;
}

H5.hold_message
{
	color: Red;
}

H2.file_dep{
 white-space: nowrap
}

/* menu buttons */

TABLE.button_layout { width:100% }
DIV.menu_button 
{
	text-align:center; margin: 0px; padding:2px; border:"gray outset 4";
	background-color:#DDD;
}
DIV.FEE_CF2 { background-color: yellow }
DIV.WEB4_AMEX { background-color: #D9C }
