/* To change the color of all buttons: replace  
    #2458ac with new color such as: #000098  
*/

/* DEBUGGING
TABLE { border: 1px solid red; }
TD { border: 1px solid blue; }
TH { border: 1px solid blue; }
*/

BODY {
	MARGIN: 0px
}
.header  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; 
}
.header IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.header ACRONYM {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.header abbr {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.header {
	WIDTH: 62em
}
.main {
	WIDTH: 95%; HEIGHT: 95%; XXwidth: 500px
}
* html .main	{
	width: 97%;
	}
.wrap1 {
	margin: 1em 0;
}
* html .wrap1	{
	MARGIN: 1em;
	}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
ACRONYM {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
abbr {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; LINE-HEIGHT: 0px
}
.clear2 {
	CLEAR: both; FONT-SIZE: 1px; LINE-HEIGHT: 0px
}
 HTML .clear2 {
	FONT-SIZE: 5em
}
.a_cbc {
	BACKGROUND-COLOR: #ececea;
	margin: 0 1em;
}
* html .a_cbc {
	margin: 0;
	}
.outer_bottom {
	BACKGROUND: url(../images/bgLvl1b.gif) repeat-x left bottom
}
.outer_left {
	BACKGROUND: url(../images/bgLvl1l.gif) repeat-y left top
}
.outer_right {
	BACKGROUND: url(../images/bgLvl1r.gif) repeat-y right top
}
.outer_top {
	BACKGROUND: url(../images/bgLvl1t.gif) repeat-x 0px 0px
}
.outer_top_left {
	BACKGROUND: url(../images/bgLvl1tl.gif) no-repeat 0px 0px
}
.outer_tr {
	BACKGROUND: url(../images/bgLvl1tr.gif) no-repeat 100% 0px
}
.outer_bl {
	BACKGROUND: url(../images/bgLvl1bl.gif) no-repeat 0px 100%
}
.outer_br {
	BACKGROUND: url(../images/bgLvl1br.gif) no-repeat right bottom
}
.report_border_content {
	MARGIN-LEFT: 20%; WIDTH: 100%; MARGIN-RIGHT: 20%; HEIGHT: 100%
}
.userInfo01 {
	FLOAT: right
}
 HTML .userInfo01 {
	MARGIN: 0px
}
.userInfo01 LI {
	DISPLAY: inline; MARGIN: 0.4em; COLOR: #2f2f2f; LIST-STYLE-TYPE: none; XXfont-size: 1.1em
}
.userInfo01 .span01 {
	FONT-SIZE: small
}
.userInfo01 .span01:first-letter {
	FONT-SIZE: 110%; COLOR: red
}
.logout {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize02.gif) #2458ac no-repeat left top; TEXT-TRANSFORM: none; BORDER-LEFT: medium none; WIDTH: 66px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 18px; TEXT-ALIGN: center; XXfont-size: 1em
}
 HTML .logout {
	XXfont-size: .9em
}

.tabs {
	FLOAT: left;
}
.tabs TD {
	HEIGHT: 1em
}
UL.tabs {
	MARGIN-LEFT: 10px; XXmargin: 0 0 0 2.0em
}
.tabs LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none;
}
.tabs A {
	FONT-SIZE: 1em; BACKGROUND: url(../images/tab_tr.gif) #EEE no-repeat 100% -150px; FLOAT: left; TEXT-TRANSFORM: capitalize; font-variant: small-caps; font-weight: bold; CURSOR: hand; COLOR: #888; LETTER-SPACING: 1px; TEXT-DECORATION: none; XXborder-bottom: 1px solid lime; XXfont-variant: small-caps
}
* html .tabs a	{
	font-size: .9em;
	}
.tabs .tab {
	 
	PADDING-RIGHT: 14px; DISPLAY: block; PADDING-LEFT: 12px; FONT-SIZE: 1em; BACKGROUND: url(../images/tab_l.gif) no-repeat 0% -150px; FLOAT: left; PADDING-TOP: 7px; WHITE-SPACE: nowrap
}
.tabs .tab img	{
	margin-right: 5px;
	}

.tabs A.current {
	BACKGROUND-POSITION: 100% -150px; COLOR: black; BORDER-BOTTOM: white 1px solid; BACKGROUND-COLOR: #FFF
}

SPAN .fl {
	FONT-SIZE: 1.2em; FLOAT: left
}
.tabs A:link {
	COLOR: black
}
DIV.tabs A:visited {
	COLOR: black
}
.tabs A:active {
	COLOR: black
}
DIV.tabs A:hover {
	COLOR: black
}
.tabs SPAN {
	FLOAT: none
}
.tabs A:hover SPAN {
	BACKGROUND-POSITION: 0% -150px
}
TABLE {
	XXfont-size: 1em
}

html>body .vector_fields {
	WIDTH: 70%;
	border-collapse: collapse;
	margin: 22px 11px 0 22px;
	background-color: White;
}
* html .vector_fields	
{
	border: 1;
	width: 70%;
	margin: 22px 0 0 0;
}

.vector_fields TR TD {
}
TD.last_row {
	BORDER-TOP: #999 1px solid
}
.vector_fields TR TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; MARGIN: 2px; VERTICAL-ALIGN: bottom; BORDER-BOTTOM: #ccc 1px solid; XXbackground-color: #EEE
}
.vector_fields TH.select {
	text-align: left;
	padding-left: 3px;
}
.vector_fields TH.description {
	text-align: left;
	padding-left: 0;
}
.vector_fields TH.quantity {
	text-align: left;
	padding-left: 0;
}
.vector_fields TH.total {
	text-align: right;
	padding-right: 7px;
	}
.vector_fields TR.r0 TD {
	PADDING-RIGHT: 0.5em; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.1em; COLOR: black; PADDING-TOP: 0.3em
}
.vector_fields TR.r0-highlight TD {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; COLOR: black; PADDING-TOP: 0.3em
}
.vector_fields TH {
	TEXT-ALIGN: left;
	padding-bottom: 0;
	line-height: 85%;
	color: #888;
	text-transform: capitalize;
	font-variant: small-caps;
	font-size: .9em;
}
	
.Core_event	{	
	}
.Core_event TD {
	VERTICAL-ALIGN: top
}
.section_bottom {
	HEIGHT: 1px
}
 HTML .section_bottom {
	HEIGHT: 3.5em
}
TH.description {
	TEXT-ALIGN: left
}
TD {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0px; XXfont-size: 1em
}
.action_group {
	PADDING-RIGHT: .1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0; WIDTH: 70%; PADDING-TOP: 0.7em; HEIGHT: 100%; vertical-align: top;
}
.modal .action_group {
	PADDING-RIGHT: .1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0; WIDTH: 70%; PADDING-TOP: 2em; HEIGHT: 100%
}

.not_running {
	WIDTH: 20em; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.locked {
	WIDTH: 20em; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
.locked_border_content {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 2em; PADDING-TOP: 2em
}
.event_group_border_content {
	XXbackground-color: red; XXpadding: 1.5em; XXpadding-right: 2.2em
}
.event_group {
	WIDTH: 30%; HEIGHT: 100%; padding-bottom: .3em;	
}
.event_group {
	PADDING-RIGHT: .8em; WIDTH: 30%; PADDING-TOP: 1em; HEIGHT: 100%;
}
* html .event_group {
	PADDING-RIGHT: .3em; WIDTH: 30%; PADDING-TOP: 1em; HEIGHT: 100%;
}
.core_event .description A {
	LINE-HEIGHT: 110%
}
.core_event .total {
	FONT-WEIGHT: bold
}
.event_group H2 {
	TEXT-ALIGN: center
}
 HTML .event_group H2 {
	TEXT-ALIGN: center
}
.receipt_event_group {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1.5em; PADDING-TOP: 1.2em
}
 HTML .receipt_event_group {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1.5em; PADDING-TOP: 1.2em
}
DIV.receipt_separator {
	BORDER-BOTTOM: black 1px solid
}
.grand_total {
	TEXT-ALIGN: center; XXpadding-bottom: 1em
}
DIV.balance {
	TEXT-ALIGN: center; font-weight: bold;
}
DIV.balance SPAN.key {
	PADDING-RIGHT: 0.2em; FONT-VARIANT: small-caps
}

.return_link {
	TEXT-ALIGN: center; XXpadding-bottom: 1em
}
TR.bottom TD {
	PADDING-BOTTOM: 13px
}
.grand_total SPAN.key {
	PADDING-RIGHT: 0.2em; FONT-WEIGHT: bold; FONT-VARIANT: small-caps
}
.grand_total SPAN.value {
	FONT-WEIGHT: bold
}
 HTML .text {
	XXfont-size: 1em
}
.text {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: medium none; PADDING-LEFT: 0.2em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #888 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #888 1px solid; HEIGHT: 1.4em; TEXT-ALIGN: left; XXwidth: 100%; XXbackground-color: white
}
INPUT.readonly {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.total INPUT {
	WIDTH: 6em; TEXT-ALIGN: right
}


TD.tran_line_total {
	text-align: right;
}

TH.tran_line_total {
	text-align: right;
}

TD.a_geo_total INPUT { text-align: right; }
TD.a_geo_total { text-align: right; font-weight: bold; }


TD.total {
	TEXT-ALIGN: right;
}
TD.text.total {
	TEXT-ALIGN: left;
}
INPUT.text.total 
{
	text-align:left;
}

TH.total {
	TEXT-ALIGN: right
}
TABLE.account_summary {
	BORDER: black 2px solid;
}

TH.amount_due {
	TEXT-ALIGN: right
}
TD.description 
{
	XXwidth: 20em;
}
.amount_due {
	TEXT-ALIGN: right
}
TH.financial_aid {
	TEXT-ALIGN: right;
	font-size: 85%;
	white-space: nowrap;
	/* overflow: visible; */
}
.financial_aid {
	TEXT-ALIGN: right
}
.text-highlight {
	BACKGROUND-COLOR: #f7f7f7
}
.text-focus {
	BACKGROUND-COLOR: yellow
}
INPUT.continue {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize01.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 44px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; LETTER-SPACING: 1px; HEIGHT: 18px; TEXT-ALIGN: center;
}
TD.continue {
	WIDTH: 20px; TEXT-ALIGN: right
}

.transactions {
	margin: .25em 5px 0 7px;
	WIDTH: 100%;
	}

* html .transactions tr	{
	behavior: url('js/IEFixes.htc');
	}
.transactions tr:hover td,
* html .transactions tr.hover td	{
	background-color: #f6f6f6;
	}
.transactions td	{
	font-size: .75em;
	padding: .3em .5em .3em 0;
	border-bottom: 0px solid #ddd;  /* receipt separator */
	}
.transactions TD.total {
	TEXT-ALIGN: right
}
.transactions TD.void_transaction {
	FONT-SIZE: smaller; WIDTH: 1.5em; POSITION: relative; TOP: 0.3em
}
.transactions TD.void_transaction A {
	COLOR: #bbb
}
.transactions TD.void_transaction A:hover {
	COLOR: black
}

html>body .Transaction_group	{
	 height: 99.65%;
	 }

TABLE.transaction_group_details 
{
	width: 94%;
	margin-top: .25em;
	margin-left: 22px;
}
TABLE.transaction_group_details TD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING: 1px 4px; FONT-SIZE: .8em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; 
}
TABLE.transaction_details {
	DISPLAY: block; MARGIN-LEFT: 1.2em
}
TABLE.transaction_details TD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 10px; FONT-SIZE: smaller; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.transaction_details_closed {
	DISPLAY: none
}
.total {
	FONT-WEIGHT: bold
}
BUTTON.finish_buy {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize03.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 104px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps; XXfont-size: 1.3em
}
DIV.finish_buy {
	TEXT-ALIGN: center
}
/*
.TrashCan {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/trashcan.gif) #f7f7f7 no-repeat left top; BORDER-LEFT: medium none; WIDTH: 35px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; LETTER-SPACING: 1px; HEIGHT: 24px; TEXT-ALIGN: center; XXfont-size: 1em; XXbackground-color: #2458AC
}
*/

.Closed {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: url(../images/closed.gif) #f7f7f7 no-repeat left top; BORDER-LEFT: medium none; WIDTH: 19px; CURSOR: hand; BORDER-BOTTOM: medium none; HEIGHT: 19px
}
.Opened {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: url(../images/opened.gif) #f7f7f7 no-repeat left top; BORDER-LEFT: medium none; WIDTH: 19px; CURSOR: hand; BORDER-BOTTOM: medium none; HEIGHT: 19px
}
.noTrashCan {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-LEFT: medium none; WIDTH: 35px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; LETTER-SPACING: 1px; HEIGHT: 24px; BACKGROUND-COLOR: white; TEXT-ALIGN: center; XXfont-size: 1em
}
.clearAll {
	MARGIN: 0px 1.7em; TEXT-TRANSFORM: uppercase; POSITION: relative; TOP: -1em; TEXT-ALIGN: left
}
.deleteAll {
	MARGIN: 0px 1.7em; TEXT-TRANSFORM: uppercase; POSITION: relative; TOP: -1em; TEXT-ALIGN: left
}
TABLE.action_group {
	HEIGHT: 100%
}
.first_section_list .stack {
	WIDTH: 100%; HEIGHT: 55%
}
.second_section_list .stack {
	WIDTH: 100%; HEIGHT: 45%
}

.section_list .top {
	HEIGHT: 1em
}
.section_list .middle {
	OVERFLOW: auto; WIDTH: 100%; MARGIN-RIGHT: 1em; HEIGHT: 100%
}
.section_list .bottom {
	HEIGHT: 1em
}
.core_event .top {
	HEIGHT: 1em
}
.core_event .middle {
	OVERFLOW: auto; WIDTH: 100%; MARGIN-RIGHT: 0px; HEIGHT: 100%
}
.core_event .bottom {
	XXheight: 3em
}
.core_event {
	WIDTH: 100%; HEIGHT: 100%
}
.footer {
	PADDING-LEFT: 2em; FONT-SIZE: .7em; PADDING-BOTTOM: 8px; XXheight: 5%;
}
.department_icon {
	MARGIN-TOP: 15px
}
.buying {
	XXheight: 100%; XXmargin: 2em 0 0 0; XXbackground-color: lime; XXclear: both
}
.file_status {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1.5em; WIDTH: 70%; PADDING-TOP: 1.7em; HEIGHT: 100%
}
.new {
	WIDTH: 30em; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
.new_border_content {
	PADDING-RIGHT: 2em; PADDING-LEFT: 4em; PADDING-BOTTOM: 2em; PADDING-TOP: 2em
}
.start LI {
	FONT-SIZE: 2em; MARGIN-LEFT: 1em
}
.current_focus {
	BACKGROUND-COLOR: white
}
DIV.return_to_buying {
	TEXT-ALIGN: center;
}
.core_event_alternative {
	PADDING-TOP: 1em; XXheight: 30em
}
.none_bottom {
	BACKGROUND-COLOR: #ececea
}
.req_flag {
	LEFT: -0.5em; COLOR: red; POSITION: relative
}
.k {
	PADDING-LEFT: 7px; VERTICAL-ALIGN: top; TEXT-ALIGN: right; XXfont-variant: small-caps; 
}

.key_details
{ 
 font-size: smaller; font-variant: small-caps; color: #777; padding:0px;
}
TABLE.account_summary_details TD { padding: 0px; }
TABLE.account_summary_details { border-collapse: collapse; }

SPAN.required_message {
	FONT-SIZE: smaller
}
SPAN.k {
	PADDING-RIGHT: 0.3em
}
.v {
	WIDTH: 20em
}
.tendering .stack {
	WIDTH: 100%; HEIGHT: 100%
}
.submit {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize03.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 104px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps
}
a.button {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: smaller; BACKGROUND: url(../images/btnSize02.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 66px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 18px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.button_bar {
	VERTICAL-ALIGN: text-top
}

SPAN.error 
{
	font-size: 0.9em;
	color: red;
}
.transaction_group_details .total {
	FONT-WEIGHT: normal
}
a.back {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize03.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 104px; CURSOR: hand; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
a.delete {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize03.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 104px; CURSOR: hand; COLOR: #fff; PADDING-TOP: 8px; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
.modal .stack {
	WIDTH: 100%; HEIGHT: 100%
}
.current_focus {
	BACKGROUND-COLOR: white
}
BUTTON.return_to_buying {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize03.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 104px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps
}
DIV.return_to_buying {
	TEXT-ALIGN: center
}
.receipted .a_core_event {
	BACKGROUND-COLOR: white; XXwidth: 40%
}

.receipt {
	PADDING-TOP: 1.7em
}
.receipted TD.left {
	PADDING-TOP: 20px
}
.receipt .border_content .top TD {
	PADDING-TOP: 10px
}

.receipt .border_content {
	
}
TABLE.receipted {
	HEIGHT: 100%
}
.a_cbc_border_content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.receipted {
	TEXT-ALIGN: center; XXpadding: 1.7em; XXoverflow: auto
}
.receipted TD.left .inner_border_content {
	PADDING-RIGHT: 25px; PADDING-LEFT: 15px; PADDING-BOTTOM: 25px; PADDING-TOP: 15px; TEXT-ALIGN: left
}
TABLE.receipted {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
.receipted P.legal {
	FONT-WEIGHT: bold
}
DIV.confirmation_number_label {
	FONT-SIZE: smaller; WIDTH: 100%; TEXT-ALIGN: center
}
DIV.confirmation_number {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: navy; TEXT-ALIGN: center; font-size:1.5em;
}
DIV.legal {
	XXfont-size: 10 px
}
.return_uri A {
	BACKGROUND-COLOR: white; TEXT-DECORATION: underline
}
.core_event_top {
	PADDING-LEFT: 2em; TEXT-ALIGN: left
}
.core_event_top TABLE {
	WIDTH: 70%
}
.receipt {
	TEXT-ALIGN: center
}
INPUT.submit {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize03.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 104px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps
}
.second_section_list_fs_bottom_buttons .submit {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize04.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 180px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps; XXwidth: 104px
}
.hyperlinks TD {
	FONT-SIZE: larger; VERTICAL-ALIGN: top
}
.hyperlinks A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.hyperlinks A:hover {
	BACKGROUND-COLOR: #ddd
}
.search_area {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1.5em; WIDTH: 70%; PADDING-TOP: 1.7em; HEIGHT: 100%
}
 HTML .search_area {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1.5em; WIDTH: 70%; PADDING-TOP: 1.7em; HEIGHT: 100%
}
.area_search_form {
	PADDING-LEFT: 1em; MARGIN: 0px 0.5em 0px 0px; OVERFLOW: auto; HEIGHT: 100%
}
.area_search_form .tender_select {
	WIDTH: 11.5em
}
.area_search_form .screen_select {
	WIDTH: 11.5em
}
.search_list {
	PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; OVERFLOW: auto; MARGIN-RIGHT: 0.5em; PADDING-TOP: 1em; HEIGHT: 100%
}
.report_crit_form {
	PADDING-LEFT: 1em; OVERFLOW: auto; MARGIN-RIGHT: 0.5em; HEIGHT: 100%; TEXT-ALIGN: center
}
.report_crit_form .tender_select {
	WIDTH: 11.5em
}
.report_crit_form .screen_select {
	WIDTH: 11.5em
}
.detail_area {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1.5em; WIDTH: 30%; PADDING-TOP: 1.7em; HEIGHT: 100%
}
 HTML .detail_area {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1.5em; WIDTH: 30%; PADDING-TOP: 1.7em; HEIGHT: 100%
}
.detail_area H2 {
	COLOR: black; TEXT-ALIGN: center
}
 HTML .detail_area H2 {
	COLOR: black; TEXT-ALIGN: center
}
.detail_area_border_content {
	
}
.detail_area_section {
	WIDTH: 100%; HEIGHT: 100%
}
.detail_area_section_top {
	PADDING-LEFT: 1em; PADDING-TOP: 0.1em; HEIGHT: 1em
}
.detail_area_section_middle {
	HEIGHT: 50%; XXpadding: 0.7em 1em 1.5em 1em; XXpadding-right: 1em; XXoverflow: auto; XXpadding-left: 1em; XXmargin-right: 0.5em; XXvertical-align: top
}
.detail_area_section_middle TD {
	FONT-SIZE: larger; VERTICAL-ALIGN: top
}
.detail_area_section_middle A {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: none
}
.detail_area_section_bottom {
	WIDTH: 100%
}
.detail_area_section_middle2 {
	HEIGHT: 0.1em
}
.detail_area_section_bottom2 {
	HEIGHT: 0.2em
}
.area_video_journal {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1em; MARGIN: 0px 0.5em 0px 0px; OVERFLOW: auto; HEIGHT: 100%
}
.area_image_list {
	PADDING-LEFT: 1em; MARGIN: 0px 0.5em 0px 0px; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 100%
}
.Section TABLE {
	BORDER-COLLAPSE: collapse
}
TR.hover TD {
	BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #ccc
}
.print_info {
	TEXT-ALIGN: center
}
.inner {
	BACKGROUND-COLOR: white
}
DIV.inner {
	BACKGROUND-COLOR: white
}
html>body .inner	{
	height: 100%;
	}
TABLE.border_content {
	WIDTH: 70%; 
}
TABLE.middle_TABLE {
	
}

.border_content TR.top {
	HEIGHT: 10px; TEXT-ALIGN: center
}
DIV.middle_DIV {
	OVERFLOW: auto; MARGIN-RIGHT: 0px; HEIGHT: 100%; font-size: .75em; 
}
* html DIV.middle_DIV	{
	margin-right: 22px;
	} 
.Core_event .middle_DIV	{
	padding-left: 10px;
	}
.middle_DIV h3	{
	XXmargin-left: 22px;
	XXmargin-right: 22px;
	margin-bottom: 0;
	font-size: 1.5em;
	}
* html .middle_DIV h3	{
	margin-top: 11px;
	}
.middle_DIV .k	{
	padding-left: 22px;
	padding-bottom: 8px;
	}
* html .middle_DIV .k	{
	padding-bottom: 7px;
	}
DIV.middle_DIV td {
	font-size: .75em;
	padding-bottom: 5px
}
DIV.middle_DIV .submit {
	float: left;
}
DIV.middle_DIV a.button {
	font-size: .9em;
	text-align: center;
	width: 66px;
	float: left;
	position: relative;
	top: 22px;
	
}
DIV.middle_DIV input.text {
	font-size: 1em;  /* .85em; */
	padding-left: 2px;  /* 3px 4px; */
	/* height: 1.85em; */
}
.border_content TR.bottom {
	HEIGHT: 10px
}
.stack .upper {
	HEIGHT: 10px
}
.stack .lower {
	HEIGHT: 100%
}
TABLE {
	BORDER-COLLAPSE: collapse
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.prompt {
	XXPADDING-TOP: 4px
}
.prompt img	{
	XXmargin-bottom: 11px;
	}
TABLE.border_content {
	PADDING-LEFT: 7px
}
.border_content TR.top TD {
	FONT-SIZE: 2px
}
DIV.middle_DIV {
	PADDING-RIGHT: 5px
}
.stack TR.upper TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.tabs {
	POSITION: relative; TOP: 1px
}
P.core_event_prompt {
	FONT-SIZE: 10pt; /* 1.0em;*/
	font-weight: bold;
	margin: .2em 20px 0 9px;
	padding-bottom: .5em;
	border-bottom: 1px solid #999;
}
INPUT.quantity {
	WIDTH: 2em
}
INPUT.total {
	WIDTH: 5em
}
SPAN.read_only_text.total {
	font-size: 130%; font-weight:bold;
}
INPUT.sign_in_fields {
	WIDTH: 150px
}
DIV.sign_in {
	TEXT-ALIGN: center
}
/*
IMG.login_left_logo {
	WIDTH: 50px; HEIGHT: 200px
}
IMG.login_top_logo {
	WIDTH: 200px; HEIGHT: 20px
}
*/
INPUT.submitbutton {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize04.gif) #04676C no-repeat left top; BORDER-LEFT: medium none; WIDTH: 114px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps; XXfont-size: 1.3em
}
TD.description2 {
	FONT-SIZE: 0.9em
}

.core_logo	{
	margin-right: 28px;
	
	}
.account_info	{
	margin: 1px 0 0 0;
	}
.account_info .k,
.account_summary_details .k	{
	text-transform: capitalize;
	font-variant: small-caps;
	font-size: 1.15em;
	XXmargin-left: -1em;  /*  not cross-platform.  move to IE only style */
	/* margin-right: 3px; */
	color: #777;
	}
.account_summary	{
/*	margin: 11px 0 3px 22px; */
	font-size: 1.2em;
	font-weight: bold;
	}
h3.prompt	
{
	margin-top: 0em;
	margin-bottom: 0em;
}
h3.prompt_description {
	margin-bottom: 0em;
}
html>body .tender_section_list	{
	height: 99.65%;
	}
html>body .bbb	{
	height: 100%;
	}
html>body .Core_event-add_transaction .button	{
	font-size: .9em;
	}
html>body .continue .button	{
	font-size: .9em;
	}
* html input.continue	{
	font-size: .9em;
	}
.colType01	{
	vertical-align: top;
	}
.colType02	{
	text-align: right;
	}
.wrap02	{
	margin: 0 22px;
	}
h3.h3Type01	{
	margin-left: 0;
	}
* html .vectorFieldsWrap01	{
	padding: 0 0 0 22px;
	height: 1%;
	}
.delete a 	{
	text-decoration: none;
	}	
.delete01	{
	font-weight: bold;
	font-size: .9em;
	font-family: verdana, sans-serif;
	color: #F00;
	border: 1px solid #F00;
	padding: 0 0 0 2px;
	line-height: 100%;
	}
* html .delete01	{
	position: relative;
	top: 2px;
	}
 
BODY.dialog_box
{ background-color: #ececea;
  text-align:center;
}

DIV.dialog_box
{ 
  margin:100px; padding:30px; padding-top:80px; width:437px; height:291px;
  background-color:white;
  background:url(../images/fixed_dialog.gif) #2458ac no-repeat left top;
}

/*Prompt controls*/

DIV.Transaction_group DIV.prompt 
{
  color: green;
  font-size: 1.0em;
}

DIV.Transaction_group DIV.added_transaction_prompt
{
  color: green;
  font-size: 1.0em;
}

TD.added_transaction_prompts 
{
  vertical-align: top;
}

H3.prompt_description IMG 
{
  margin-right: 0.5em;	
} 

DIV.Core_event DIV.vectorFieldsWrap01 
{ padding: 0px;
}

DIV.Core_event DIV.middle_DIV 
{ padding-left:0px;
  margin-right: 1.5em;
}

DIV.Core_event TD.delete 
{ width:14px;
  text-align:right;
  padding-left:4px;
  vertical-align: top;
}

BUTTON.select_all { border: 1px solid black; cursor: hand; }

TD.action_bar {text-align: right; margin-bottom: 100px; margin-bottom: 100px; }
/*
TD.action_bar INPUT { margin:0px; padding: 0px; line-height: 10px; display: inline; color: Red; }
TD.action_bar A.button { margin:0px; padding: 0px; line-height: 10px; display: inline; color: Red; }
*/

TD.warning_box_icon { vertical-align: top }

/* used in add_to_list
INPUT.action_button {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: smaller; BACKGROUND: url(../images/btnSize02.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 66px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 18px; TEXT-ALIGN: center; TEXT-DECORATION: none;
    margin-bottom: 50px;
}
*/
/* inquiry buttons */
TD.action_bar a.button 
{	
   /* COLOR: black; background-color: #CCC;  */
   COLOR: black; background-color: #FFF;  
   margin-bottom: 10px; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: smaller; BACKGROUND: url(../images/btnSize02.gif) no-repeat left top; BORDER-LEFT: medium none; WIDTH: 66px; CURSOR: hand;BORDER-BOTTOM: medium none; HEIGHT: 18px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.action_bar INPUT.button {
	margin-right: 40px; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BACKGROUND: url(../images/btnSize03.gif) #2458ac no-repeat left top; BORDER-LEFT: medium none; WIDTH: 104px; CURSOR: hand; COLOR: #fff; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: center; FONT-VARIANT: small-caps
}

TABLE.receipted DIV.Core_event.receipt DIV.middle_DIV { padding-left: 15px; }
TABLE.receipted DIV.Core_event.receipt {width: 500px }

TABLE.printable DIV.middle_DIV { padding-left: 15px; }
TABLE.printable DIV.Core_event.receipt {width: 600px }

TABLE.transactions TD 
{ padding:0px; margin:0px; }

TABLE.transactions TABLE.transaction_details TD 
{ padding:0px; margin:0px;  padding-left: 4px; }

/* change individual field labels and inputs */
DIV.middle_DIV TD.k.total { font-weight: bold;}
TD.total INPUT.text {font-size: 1.4em;}

TD.cc_ck_number INPUT.text {font-size: 1.4em; }

TH.transactions_amount { text-align: right }

TR TH SPAN.core_event_actual_date
{text-align: left;}

DIV.shopping_list_prompt
{
	font-size:smaller; color: Blue;
	margin-left: 20px; margin-right:20px;
}

DIV.print_receipt
{
	background-color: White;
}