/*
  CBTBLOCK.css
  PROJECT BASELINE SCREEN WITH BLOCK CUSTOM FIELD BUG#11947 
*/
/* show nested transaction in shopping cart, receipt, search result */

TR.core_items {
  margin-left: 1em;
  margin-right: 1em;
  color: #333;
  font-size: 0.8em;
  font-style: italic;
}
/* GRAND SUMMARY */

TR.blocks_summary_line TD {
  border-bottom: 2px solid #555;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #F5F5F5;
  vertical-align: top
}
TR.blocks_summary_line SPAN.f_label {
  font-variant: small-caps;
  color: #777;
  padding-left: 16px;
}
/* SECTIONS */
/* SECTION SUMMARY */

TR.block_summary_line TD {
  padding-top: 0.1em;
  line-height: normal; /* Bug 15105 UMN */
  padding-right: 0.5em;
  font-size: 1em;    /* Bug 15105 UMN */
  font-weight: bold;
}
TR.block_summary_line TD.block_name {
  font-variant: small-caps;
  color: #777;
  font-size: 0.8em;
  font-weight: bold;
}
TR.block_summary_line DIV.block_prompt {
  padding-bottom: 0.1em;
  padding-left: 1em;
  font-size: 1em;
  font-weight: bold;
  color: Green;
}
TR.block_summary_line SPAN.f_label {
  font-variant: small-caps;
  color: #000000; /*IPAY-1215 SM Accessibility changed color*/
  padding-left: 16px;
}
/* SECTION ROWS */

TABLE.TABLE_block {
  border: 1px solid #bbb;
  /* width:700px;   Bug 18568 UMN remove to fix issue with centered blocks */ 
}
TABLE.TABLE_block TH {
  background-color: #F0F0F0;
  line-height: normal; /* Bug 15105 UMN */
  font-weight: bold;
  font-variant: small-caps;
  padding-right: 0.8em;
  padding-left: 0.8em;
}
/* Bug 23022 MJO - Don't format Select button */
  TABLE.TABLE_block TD:not(.SELECT_BUTTON) {
    border-bottom: 1px dotted #ccc;
    line-height: normal;
    font-size: 0.80em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0.8em;
    padding-left: 0.8em;
  }
/* Bug 19655 SX remove borders and background color for display block */
TABLE.block_display 
{ 
  border: none;
}
TABLE.block_display TH { 
  background-color: white;
  border:none; 
 }
TABLE.block_display TD
{ 
  border: none;
}
TABLE.TABLE_block TD A {
  width: 90px;
}
/* COLUMNS w  field type 'currency' 'string', 'numeric', 'date', 'html' 'natural' as in jquery datatables*/

TABLE.TABLE_block TH.currency {
  text-align: right;
}
TABLE.TABLE_block TD.currency {
  text-align: right;
}
TABLE.TABLE_block TD.currency INPUT {
  text-align: right;
  width: 80px;
  color:#000000; /*IPAY-1215 SM Accessibility*/
}
.block_label {
  line-height: 1.4em;
}
TABLE TD.prop_SELECT_BUTTON {
  width: 90px;
}
/* Bug#13748 QG fix width for select button, to resolve button UI issue in firefox */
/* Bug 15423 */
.sorting, .sorting_desc, .sorting_asc { cursor: pointer; vertical-align: middle; }
.checkAll { padding: 0px 1px 0px 1px; }
.prop_RESERVED_SELECTED { text-align: right; }
/* Bug 15727 Make Filter No matching records found be red */
.dataTables_empty 
{
  background-color: #FEE; font-weight: bold;
  border: 1px solid red;  padding: 3px;
  font-size: 0.9em;       color: black; /* position:absolute; */
}

/* Bug 15727 SearchHighlighting */
.highlight { background-color: #C0E6C0; }

/* Bug 15727 highlight row you are on */

/* Block header */
/*
.f_GRAND_TOTAL {width: 20%; display:inline-block;}
.f_GRAND_BALANCE {width: 40%; text-align:right; display:inline-block;}
.f_GRAND_AMOUNT_PAID {width: 40%; text-align:right; display:inline-block;}
*/

.f_GROUP_LEVEL_BALANCE {
  float: right;
}
.f_GROUP_LEVEL_AMOUNT_PAID {
  float: right;
}

/* Bug 18719 UMN detail inquiries */
div.innerDetails { display: none }

/* Bug 23569 NAM: Master/Detail */
button.det-button {
  border: 0px currentColor; 
  border-image: none; 
  width: 2.3em; 
  height: 2.3em;
}

button.det-button:hover { 
  /* IE has issues with opacity, so doesn't work to change opacity */
  opacity: 0.5;
  cursor: pointer;
}


/* END PROJECT BASELINE SCREEN  */