* { font-family: Trebuchet MS, Arial; }

body { 
	margin:0; 
	padding:20px; 
	/* font:13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif; */
	}
	
/* ---- Some Resets ---- */
H1 { font-size: 16pt; margin:0px; margin-top: 4px;}
H2 { font-size: 14pt; margin:0px; margin-top: 4px;}

p,
table, caption, td, tr, th {
	margin:0;
	padding:0;
	font-weight:normal;
	}

/* ---- Paragraphs ---- */

p {
	margin-bottom:15px;
	}
	
/* ---- Table ---- */

table {
	border-collapse:collapse;
	margin-bottom:2px;
	width:100%;
	}
	
	caption {
		text-align:left;
		font-size:15px;
		padding-bottom:10px;
		}
	
	table td,
	table th 
	{
		font: 9pt;
		padding:2px;
		border:1px solid #fff;
		border-width:1px 1px 1px 1px;
		}
		
	thead th {
		background:#91c5d4;
		}
			
		thead th[colspan],
		thead th[rowspan] {
			background:#66a9bd;
			}
		
	tbody th,
	tfoot th {
		text-align:center;
		background:#91c5d4;
		}
		
	tbody td,
	tfoot td {
		font: 8pt;
		text-align:center;
		background:#d5eaf0;
		}
		
	tfoot th {
		background:#b0cc7f;
		}
		
	tfoot td {
		background:#d7e1c5;
		font-weight:bold;
		}
			
	tbody tr.odd td { 
		background:#bcd9e1;
		}
		
	td.key   { text-align: right; }
	td.value { text-align: center; }		
	
/* ---- SPAN ---- */		
	SPAN.id {font-size: 10pt; font-weight:bold; color:#000080; }	
	SPAN.meta {font-size: 7pt; color:Gray; }
	SPAN.missing {color: Red;}
	
	td.key   { text-align: right; }
	td.value { text-align: center; }
	
	table th.fold_table { border: 2px solid gray;}
	table th.expand_table { border: 2px solid white; }
		
