/*
 * Colour dictionary:
 *
 * Table control elements:   #719ba7
 * Header cells:             #66A9BD
 * Body header cells:        #91c5d4
 * Body content cells:       #d5eaf0
 * Body content cells (alt): #bcd9e1
 * Footer header:            #b0cc7f
 * Footer content:           #d7e1c5
 */


/*
 * Page setup styles
 */
/* 

Bug 15105 UMN comment out as it was affecting global styles!

body {
	font: 80%/1.45em Arial, Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: black;
	background-color: #fff;
}

#container {
	margin: 0 auto;
	width: 960px
}

h1 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}

*/


/*
 * DataTables framework
 */
table.activity_log_table div.dataTables_wrapper {
	background-color: #719ba7;
}

/*
 * Alignment of Filter and Length controls.  Want to get these both on same line. 
 */
table.activity_log_table div.filter_alignment {
  vertical-align:top;
	display:inline-block;
}

table.activity_log_table div.dataTables_length {
	float: left;
}

table.activity_log_table div.dataTables_filter {
	float: right;
}


table.activity_log_table div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

table.activity_log_table div.dataTables_paginate {
	float: right;
}

table.activity_log_table div.dataTables_length,
table.activity_log_table div.dataTables_filter,
table.activity_log_table div.dataTables_paginate {
	padding: 6px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
table.activity_log_table .dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
table.activity_log_table html[xmlns] .dataTables_wrapper {
	display: block;
}
 
table.activity_log_table * html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.activity_log_table {
	width: 100%;
	clear: both;
}

table.activity_log_table td,
table.activity_log_table th {
    border: 1px solid #FFFFFF;
    padding: 5px;
}

/* Header cells */
table.activity_log_table thead th {
	text-align: center;
	background: #66a9bd;
  color: white;
}

/* Body cells */
table.activity_log_table tbody th {
	text-align: left;
	background: #91c5d4;
  color: white;
}
	
/* Bug 14259.  Left align all the text including the TDs */
table.activity_log_table tbody td {
    background: none repeat scroll 0 0 #D5EAF0;
    text-align: left;
}
/* End Bug 14259 */

table.activity_log_table tbody tr.odd td 
{
  background: none repeat scroll 0 0 #BCD9E1; 
}

/* Footer cells */	
table.activity_log_table tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
table.activity_log_table tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
}


/*
 * Pagination
 */
/* Bug 18472 MJO - Looks like the elemnts could could be "span" or "a", so I made it agnostic */
.paginate_button,
.paginate_button.current {
  display: inline-block;
  /* Bug 24537 lighten up the colors for a11y contrast */
  background-color: rgb(210, 240, 255); /* Bug 18472 MJO - Non-alpha transparency version for cross-browser support */
  background-color: rgba(210, 240, 255, 1);
  padding: 2px 6px;
  margin-left: 2px;
  cursor: pointer;
}

.paginate_button.current {
	background-color: transparent;
	border: 1px solid black;
}

.paginate_button_disabled {
	color: white;
}
.paging_full_numbers :active {
	outline: none
}
.paging_full_numbers :hover {
	text-decoration: none;
}

div.dataTables_paginate span>span,
div.dataTables_paginate a>a {
	width: 15px;
	text-align: center;
}


/*
 * Sorting
 */
table.activity_log_table thead th.sorting_asc {
	background: #66A9BD url('images/sort_asc.png') no-repeat right center;
}

table.activity_log_table thead th.sorting_desc {
	background: #66A9BD url('images/sort_desc.png') no-repeat right center;
}

table.activity_log_table thead th.sorting {
	background: #66A9BD url('images/sort_both.png') no-repeat right center;
}

table.activity_log_details 
{
  float:left;
  font-size: 75%;
}

