
/* HTML fixes */
HTML
{
  height: 100%;
  overflow: hidden; /* Used to remove both scrollbars in transitional mode */
  border: 0px;
}
/* required to remove vertical scrollbar in strict mode */
BODY
{
  height: 100%;
  overflow: hidden;
  margin: 0px;
}
*
{
  font-family: "Trebuchet MS" , Trebuchet, Verdana, Arial, Helvetica, "Lucida Grande" , sans-serif;
}
TABLE
{
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
FORM
{
  padding: 0px;
  margin: 0px;
  text-align: left;
}
IMG
{
  border: 0;
  margin: 0px;
}

DIV
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* --- BEGIN Bug 20562 EOM Add Multi-factor authentication (MFA) --- */
.mfa-tooltip-wrapper {
    width: 5%;
    text-align: center;
    display: inline-block;
    float: right;
    position: relative;
    box-sizing: inherit
}

.mfa-tooltip-item {
    padding: .4em .65em;
    top: 1.25em;
    right: 0.5em;
    width: 25px;
    height: 25px;
}

.mfa-tooltip-item {
    border-radius: 105%;
    border: 1px solid #e17117;
    display: inline-block;
    color: #e17117;
    opacity: 1;
    width: 20px;
    height: 20px;
    padding: 0;
    top: 3.4em;
    right: 0.55em;
    font-size: 0.8em;
    padding-top: 2px;
    padding-left: 1px;
}

.mfa-tooltip-item, .mfa-tooltip-item .mfa-tooltip {
    background: #fff;
    text-align: center;
    position:absolute
}

.mfa-tooltip-item:hover .mfa-tooltip {
    right: 0px;
    left: -6em;
    border: 8px solid transparent;
    bottom: -1.3em;
    color: #e17117;
    content: "?";
    opacity: 1;
    font-size: 0.8em;
    margin-left: -8px;
    text-align: center;
    visibility: visible;
    text-shadow: 0px 1px 1px #e2e2e2;
    position:relative;
    top: -15em
}

.mfa-tooltip-item .mfa-tooltip {
    margin-left: -3.75em;
}

.mfa-tooltip-item .mfa-tooltip {
    right: 0px;
    bottom: 3.5em;
    left: 0px;
    /*-webkit-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    color: #333;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 auto 0 -8.75em;
    max-width: 16em;
    opacity: 0; 
    padding: 1em;
    visibility: hidden;
    z-index: 1000;
    width: 16em;
    height: 13em;
    position:absolute
}

.mfa.tooltip-item .mfa.tooltip::after {
    position: absolute;
    right: 0px;
    left: 0px;
    border: 8px solid transparent;
    bottom: -1.3em;
    color: #e17117;
    content: "?";
    font-size: 1.4em;
    margin-left: -8px;
    text-align: center;
    text-shadow: 0px 1px 1px #e2e2e2;
}


/* --- END Bug 20562 EOM Add Multi-factor authentication (MFA) --- */

/* small screen - not yet used */
/*
 * { font-size: 9pt } 
 smaller button styles
*/

/* Headers need smaller margins than default style */
H1
{
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 1.25em;
  background-color: Transparent;
}
H2
{
  margin-top: 2px;
  margin-bottom: 3px;
  font-size: 1.2em;
}
H3
{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1.1em;
  font-weight: normal;
}
H4
{
  margin-top: 2px;
  margin-bottom: 1px;
  font-size: 1.0em;
  font-weight: bold;
}

/* Bug #10105 Mike O */
/* Bug 23022 MJO - Only align filter fields, not the buttons */
TABLE.suspended_table TR.fields *
{
  text-align: left;
}

FORM.form_inst > TABLE
{
  margin: 0;
}

TABLE.appl.launchable
{
  float: left;
}

/* Sortable tables */
table.sortable a.sortheader
{
  color: #6D6D6D; /* Bug IPAY-1211 MJO - Resolve accessibility issues (contrast) */
  font-weight: bold;
  text-decoration: none;
  display: block;
}
table.sortable span.sortarrow
{
  color: black;
  text-decoration: none;
}
TABLE.sortable TD
{
  padding: 3px;
  border-bottom: 1px solid white;
}

table.sortable_paired a.sortheader
{
  color: #909090;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
table.sortable_paired span.sortarrow
{
  color: black;
  text-decoration: none;
}
TABLE.sortable_paired TD
{
  padding: 3px;
  border-bottom: 1px solid white;
}

TABLE.sortable_paired TD.button
{
  border-bottom: 0;
}

/*DIV.footer
{
  padding-bottom: 35px;
}*/

/* Generic header */
TH {
  color: #000000; /* IPAY-1213 SM - Accessibility */
  border-bottom: 1px solid #CCC;
  vertical-align: bottom;
  padding-right: 10px;
  font-variant: small-caps;
  text-align: left;
}

/* Messaging */
/* Moved out of the code */
.message_dialog_outer
{
  background-color: white;
  border: solid 3px black;
  padding: 0px;
}

/* Table display in CSS */
DIV.table
{
  display: table;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
DIV.table_row
{
  display: table-row;
  height: auto;
  width: 100%;
}

DIV.table_cell
{
  display: table-cell;
  height: inherit; /* Bug 15105 UMN fix height issue in IE Edge mode */
  width: 100%;
}

DIV.html_editor /* Bug# 12718 - Too much text would push page buttons off screen. I moved the sizing to CSS. DH 5/10/2012 */
{
  height: 200px;
  width: 50% !important;
  overflow:auto;
}
/* Legacy support for Internet Explorer */
TABLE.table
{
  height: 100%;
  width: 100%;
}
TR.table_row
{
  height: auto;
  width: auto;
}
TD.table_cell
{
  height: auto;
  width: auto;
}

TABLE.menus DIV.framer_scrollable
{
  width: auto !important;
}

/* borders */
.inner_padding
{
  padding-top: 7px;
  padding-right: 21px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.inner_margin
{
  height: 100%;
  width: 100%;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.inner_header
{
  margin-bottom: -7px;
}

.inner_footer
{
  margin-top: -40px;
}

.outer_padding
{
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
}

.outer_margin
{
  height: 100%;
  width: 100%;
  /* Bug 18352 MJO - Removed padding as it's already in outer_padding */
}

.outer_header
{
  margin-bottom: -17px;
}

.outer_footer
{
  margin-top: -34px;
}

.cbc_shopping_list
{
  padding-top: 32px; 
  padding-bottom: 8px; 
  padding-left: 4px;
}

.list_padding
{
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
}

HTML.notie .list_padding
{
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.list_margin
{
  height: 100%;
  width: 100%;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.list_header
{
  margin-bottom: -7px;
}

.list_footer
{
  margin-top: -60px;
}

/*#inner_window { height:100%;width:100%;position:absolute;left:0px;top:0px; }

DIV.scrollable { height:100%; width:100%; overflow:auto }
*/
SPAN.link
{
  cursor: pointer;
  text-decoration: underline;
  color: Blue;
}

/* Bug #10211 Mike O - Don't let Safari underline button text */
A.button_link
{
  text-decoration: none !important;
}

/* cbutton and submit_button styles ====================================== */
/* Bug 23022 MJO - Rewrote most of the button CSS for HTML buttons */

button:hover, button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.b_off {
  background-color: #FFF;
    margin-left: 0;
    margin-right: 0;
    /* font-variant: small-caps; */ /* Bug 19945 Malcolm - new font */
    /* font-weight: bold; */ /* Bug 19945 Malcolm - new font */
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.b_on {
    color:black;
    background: #f3f3f3;
    margin-left: 0;
    border: solid;
    border-color: #023a65;
    border-width: .05em;
    border-bottom-color:#bbb9b9;
    /* font-weight: bold; /* Bug 19945 Malcolm - new font */
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
    margin-left: 0px;
    margin-right: 0px;
}

.b_on:hover {
    background:#90b9d9;
}

.b_off.b_color1_b_off {
    border-radius: 4px;
    border: solid;
    border-width: .1px;
    border-color: #023a65;
    background: #0060a9;
  color: White;
	 overflow: hidden;
    max-width:197px;
}

/*Bug 20231 Malcolm B. Remove borders around trashcan icons*/
.b_off.b_color1_b_off.b_image {
    border: 0;
    border-radius: 0;
}

.b_off.b_color1_b_off:hover {
    background:#90b9d9;
}

.b_on.b_color1_b_on {
    border-radius: 4px;
    font-size: 16px;
    border: solid;
    border-width: .05em;
    border-color: #023a65;
    background: #0060a9;
  color: White;
    overflow: hidden;
    max-width:197px;
}

.b_on.b_color1_b_on:hover {
    background:#90b9d9;
}

.b_off.b_color3_b_off
{
    min-width:178px; /* Bug 19945 Malcolm - make all buttons the same width as the widest button */
    border: solid;
    border-radius: 4px;
    border-width: .05em;
    border-color: #023a65;
    background: #f3f3f3;
    color: #0060a9;
    overflow: hidden;

}

.b_off.b_color3_b_off:hover {
    background:#ffffff;
}

.b_on.b_color3_b_on {
    min-width:183px; /* Bug 19945 Malcolm - make all buttons the same width as the widest button */
    border: solid;
    border-radius: 4px;
    border-width: .05em;
    border-color: #023a65;
    background: #f3f3f3;
    color: #0060a9;
    overflow: hidden;
}

.b_on.b_color3_b_on:hover {
    background: #90b9d9 !important;
}

/* Bug 24537 UMN add disabled color */
.b_off.b_colorD_b_off
{
  min-width:178px; /* Bug 19945 Malcolm - make all buttons the same width as the widest button */
  border: solid;
  border-radius: 4px;
  border-width: .05em;
  border-color: #023a65;
  background: grey;
  color: white;
  overflow: hidden;
}

.b_on.b_colorD_b_on {
    min-width:183px; /* Bug 19945 Malcolm - make all buttons the same width as the widest button */
  border: solid;
  border-radius: 4px;
  border-width: .05em;
  border-color: #023a65;
  background: grey;
  color: white;
  overflow: hidden;
}

.b_off.b_color_tab_b_off {
    position:relative;
    margin-left: 5px;
    border:solid;
    border-width: 0.05em;
    border-color: #04487b;
    border-bottom-color:White;
  color: black;
    background: white;
}

.b_on.b_color_tab_b_on {
}

.b_off.b_colorTrans_b_off
{
  background: LightSeaGreen;
}
.b_on.b_colortrans_b_on
{
  background: DarkSeaGreen;
}
.b_off.b_colorTrans_b_off_disable
{
  background-color: Gray;
  color: #00B;
  font-weight: bold;
  color: Blue;
}
/* alternate color for less important buttons.  Ex: Gray */
.b_on.b_colorTrans_b_on_disable
{
  background-color: Gray;
  color: #00B;
  font-weight: bold;
  color: Blue;
}
/* background-color: #DDD;  when button is pressed down Ex: darker gray */
/* End Bug 9649 */

.b_off.b_color_tab_b_off
{
  color: black;
}

.b_on.b_color_tab_b_on {
    margin-left: 5px;
  color: #333;
    top: 0px;
}
/* Non-active tab. */
/* end of site-specific colors */
/* bug 6228 */
SPAN.b_disabled
{
  height: 19px;
  font-size: 75%;
  font-weight: normal;
  color: white;
  background-color: #BBB;
  padding: 0px 8px;
}
/* Bug #10203 Mike O - Min width IE hack */
SPAN.b_disabled_ie
{
  width: 60px;
}
/* BUG 24189 RDM - Only addressing Suspend button and Lock button issue. Will need to address other disabled issue when it arrises */
.b_off.b_color1_b_off_disable
{
  border: 0px solid #999999;
  border-radius: 3px;
  background-color: #cccccc;
  color: #666666;
}
/* background-color: #2458AC;  primary accent color.  Used for button color. Ex: #2458AC=default Blue */
.b_on.b_color1_b_on_disable
{
  font-weight: bold;
  color: White;
}
/* background-color:  #4478BC; when button is pressed down. Ex: Darker blue */
/* color2 would likely be a secondary accent color.  Ex: School colors mights be blue and orange, where orange is color2 */
.b_off.b_color3_b_off_disable
{
  background-color: rgba(243, 243, 243, 0.5); /*Bug 19945 Malcolm*/
  color: #00B;
  font-weight: bold;
  color: Blue;
}
/* alternate color for less important buttons.  Ex: Gray */
.b_on.b_color3_b_on_disable
{
  background-color: Gray;
  color: #00B;
  font-weight: bold;
  color: Blue;
}
/* background-color: #DDD;  when button is pressed down Ex: darker gray */

.b_off.b_color_tab_b_off_disable
{
  color: Gray;
  top: 3px;
  background-color: white;
  font-weight: bold;
  color: Blue;
}
/* Active tab. */
.b_on.b_color_tab_b_on_disable
{
  color: #310;
  top: 1px;
  background-color: #DDD;
  font-weight: bold;
  color: Blue;
}
/* Non-active tab. */
/* end of bug 6228 */

/* short expand white (Button to expand/collapse area) */
.b_expand_white
{
  border:0 !important;
  border-radius:0 !important;
  height: 20px;
  width: 20px;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 3pt;
}
.b_on.b_expand_white
{
  padding-top: 5px;
  background-color: White;
}
.b_off.b_expand_white, .b_off.b_expand_white:hover
{
  background: url(../images/tableRowDisclosureIndicator.png) no-repeat left center;
  background-color: White;  
}
.b_on.b_expand_white, .b_on.b_expand_white:hover
{
  background: url(../images/tableRowExpandIndicator.png) no-repeat left center;
  background-color: White;
}
/* BUG 24189 RDM */
.b_off.b_color1_b_off_disable:hover {
  cursor: default;
}

.cbutton_expand_row * {
    border: 0 !important;
    border-radius: 0 !important; /* Bug 20231 Malcolm B. - Border Radius was appearing in IE independently of border */
    white-space: nowrap;
}
/* Bug #10520 Mike O */
.k > .cbutton_expand_row
{
  float: right; 
}
.expanded_header .cbutton_expand_row table
{
  width:100%;
}


TD.cbutton_expand
{
  width: 25px;
}

/* 
 * Bug 9910: FT: This caused a problem with Cashier caret button background.
 * Had to give Bank Rec its own version of b_expand_white with a transparent background
 * This bug was introduced when this files was checked into 9917 / September 22.
*/
.b_expand_white_bank_rec
{
  height: 13px;
}
DIV.button.b_expand_white_bank_rec
{
  width: 13px;
  padding: 0px;
  font-size: 3pt;
}
.b_off.b_expand_white_bank_rec
{
  background: url(../images/arrow_right_alpha.gif) no-repeat left top;
}
.b_on.b_expand_white_bank_rec
{
  background: url(../images/arrow_down_alpha.gif) no-repeat left top;
}
/* End 9910 */

/* tall white */
.b_tall_white
{
  height: 35px;
}
/* Bug #10240 Mike O - Fix min-width in non-IE browsers */

.b_tall_white
{
}
/*Bug 10506 NJ*/
html>body .b_tall_white
{
  min-width: 183px;
}
/*End Bug 10506 NJ*/

/* End Bug #10240 MikE O */
.b_tall_white_ie
{
  width: 100px;
}

.b_off.b_tall_white
{
  font-size:85%;  /* Bug 19945 Malcolm - downsize font to make all buttons same size */
  font-family: 'Lato', sans-serif; /* Bug 19945 Malcolm - New Font */

}
.b_on.b_tall_white
{
  font-size:85%;  /* Bug 19945 Malcolm - downsize font to make all buttons same size */
  font-family: 'Lato', sans-serif; /* Bug 19945 Malcolm - New Font */
}

/* tall gray */
.b_tall_gray
{
  height: 35px; /* Bug 26222 MJO - Set to 35px to match b_tall_white */
}
/* Bug #10240 Mike O - Fix min-width in non-IE browsers */

button.b_tall_gray
{
  min-width: 103px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
button.b_tall_gray_ie
{
  width: 100px;
}
/* End Bug #10240 */
.b_off.b_tall_gray
{
}
.b_on.b_tall_gray
{
}
/* filter: DropShadow(Color=#0000CC, OffX=1, OffY=1, Positive=1); Shadowed text */

/* medium gray */
.b_medium_gray
{
  height: 27px;
}

.b_medium_gray
{
  font-size: 85%;
  padding: 3px 12px;
  min-width: 88px; /* Bug #10203 Mike O */
}

HTML.notie .b_medium_gray
{
  font-size: 85%;
  padding: 5px 12px;
  min-width: 88px; /* Bug #10203 Mike O */
  font-family: 'Lato', sans-serif;
}

/* Bug #10203 Mike O - Min width IE hack */
.b_medium_gray_ie
{
  width: 75px;
  font-family: 'Lato', sans-serif;
}
.b_off.b_medium_gray
{
  font-family: 'Lato', sans-serif;
}
.b_on.b_medium_gray
{
  font-family: 'Lato', sans-serif;
}
/* filter: DropShadow(Color=#0000CC, OffX=1, OffY=1, Positive=1); Shadowed text */

.b_medium_white_no_padding {
  height: 35px;
}
.b_medium_white
{
  min-width: 88px; /* Bug #10219 Mike O - Cross browser alignment issues */
  font-size: 85%;
  padding: 3px;
  padding-left: 16px;
}
.b_medium_white_no_padding .left {
  min-width: 75px; 
  font-size: 85%;
  padding: 0px;
  padding-left: 16px;
}
.b_medium_white .left
{
  min-width: 75px; /* Bug #10219 Mike O - Cross browser alignment issues */
  font-size: 85%;
  padding-top: 3px;
  padding-left: 16px;
}

HTML.notie .b_medium_white {
    min-width: 183px !important; /* Malcolm Bug 19943 - Center text in enlarged buttons */
    padding: 8.5px 0px;
    font-family: 'Lato', sans-serif; /* New Font */
}

/* Bug #10203 Mike O - Min width IE hack */
.b_medium_white_ie
{
  width: 75px;
}
.b_off.b_medium_white
{
}
.b_on.b_medium_white
{
}
/* filter: DropShadow(Color=#0000CC, OffX=1, OffY=1, Positive=1); Shadowed text */

/* short on gray background */
.b_short_gray {
  height: 19px;
  min-width: 31px;
  font-size: 75%;
  font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, "Lucida Grande", sans-serif;
  padding: 0px 8px;
}
.b_short_gray_ie
{
  width: 28px;
}
.b_off.b_short_gray
{
}
.b_on.b_short_gray
{
}
/* filter: DropShadow(Color=#0000CC, OffX=1, OffY=1, Positive=1);  Shadowed text*/

/* white short */
.b_short_white {
  height: 19px;
  font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, "Lucida Grande", sans-serif
}

.b_short_white {
  min-width: 28px;
  font-size: 0.75em;
  padding: 0px 8px;
}

HTML.notie .b_short_white {
  min-width: 28px;
  font-size: 0.75em;
  padding: 0px 8px;
}
.b_short_white_ie
{
}
.b_off.b_short_white
{
}
.b_on.b_short_white
{
}
/* filter: DropShadow(Color=#0000CC, OffX=1, OffY=1, Positive=1); Shadowed text */


/* tabs on gray *//*BUG 4836 width added BLL*/
DIV.tabs
{
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  width: 100%;
}

.b_tab_gray {
    border-radius: 4px 4px 0px 0px;
  height: 32px;
    font-size:20px;
}
.b_tab_gray
{
  padding: 6px 13px;
  height: 32px;
}


.b_on.b_tab_gray {
    font-size: .90em
}

SPAN.button.b_tab_gray {
    height: 32px;
    padding: 6px 13px;
}

.b_off.b_tab_gray {
    no-repeat: left top;
    font-size: 18px;
    font-family:'Lato', sans-serif;
}

.b_on.b_tab_gray {
  no-repeat: left top;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

/* BUG 4836 for tabs sizing and list menu BLL */
DIV.list_menu
{
  background-color: white;
  border: 2px solid black;
  display: none;
  position: absolute;
  top: 30px; /* Bug #10586 Mike O - Tweaked defaults to line up better */
  left: 13px; /* Bug #10586 Mike O - Tweaked defaults to line up better */
  overflow: hidden;
  height: auto;
  width: 150px;
  z-index: 1; /* Bug #10586 Mike O - Ensure that it's on top */
}
DIV.tabs_inner
{
  margin-top: 0px; /* Bug 20231 Malcolm B - Fix Business Center Frame Misalignment */
  overflow: hidden;
  top: 0.09em; /* Bug 19945 Malcolm - adjust for tabs placement */
}
/*Bug#6216 as per Jeff -  ANU*//* 6229 */
/* end BUG 4836 */

DIV.tabs_inner TD {
    font-size: 18px;
    /* background-color: white; */
    margin: 0;
    padding: 0;
    height: 32px;
}

/* buttons on quick tran menu */
.b_quick_item
{
  height: 48px;
}
SPAN.button.b_quick_item
{
  width: 100px; /* minimum */
  padding: 6px 16px;
}

.b_off .b_quick_item
{
}
.b_on .b_quick_item
{
}
/*filter: DropShadow(Color=#0000CC, OffX=1, OffY=1, Positive=1); Shadowed text*/

/* disabled button */
.b_disabled
{
  height: 19px;
}
SPAN.b_disabled
{
  font-size: 75%;
  font-weight: normal;
  color: white;
  background-color: #BBB;
  padding: 0px 8px;
}
/* filter: DropShadow(Color=#0000CC, OffX=1, OffY=1, Positive=1); Shadowed text */

/* image button */
.b_image, b_image_border
{
  background-color: White !important;
  padding: 0px !important;
}

INPUT.submit_button, BUTTON.submit_button
{
  border: 0px;
  height: 0px;
  width: 0px;
  font-size: 0px;
  padding: 0px; /* Bug 18441 MJO - Totally hide the button */
}
/* can't use display:none because hitting return won't submit the form */

/* end cbutton styles */

/* END General style ------- */


/* Business Data specific  --------------------------------------------------------------------------------------------- */
TR.status_empty TD
{
  background-color: white;
}

TR.status_active TD {
    background-color: #abeda1;
}

TR.status_locked TD {
    background-color: #9e9e9e;
}
/* BUG#5396 */
TR.status_balanced TD
{
  background-color: pink;
}
TR.status_updated TD
{
  background-color: #CCC;
}
TR.status_accepted TD
{
  background-color: yellow;
}

TR.Core_event_empty TD
{
  background-color: white;
}
TR.Core_event_active TD
{
  background-color: #BBDD88;
}
TR.Core_event_suspended TD
{
  background-color: orange;
}
TR.Core_event_voided TD
{
  background-color: pink;
}
TR.Core_event_completed TD
{
  background-color: white;
}

TR.core_item_voided TD
{
  background-color: pink;
}
TR.core_item_active TD
{
}
TR.core_item_completed TD
{
}

TR.deposit_pre_deposit TD
{
  background-color: orange;
}
TR.deposit_voided TD
{
  background-color: pink;
}
TR.deposit_completed TD
{
}
TR.deposit_accepted TD
{
  background-color: yellow;
}

/* Core_event (shopping list) --------------------------- */
/*.department_icon { margin-top: 5px; }*/
.toggle
{
  width: 1.5em;
  /* float: left; */
}
/* toggle of "+" at beginning of shopping list item */
P.core_event_prompt 
{
  text-align: center;
  color: #000000;
  font-weight: bold;
}
DIV.confirmation_number_label
{
  font-size: 0.7em;
  text-align: center;
}
DIV.confirmation_number
{
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
}

/* Bug #10582 Mike O - Changed selectors to support DIVs */
TABLE.details, .table.details, .details.table /*Bug 10660 NJ*/
{
  display: block;
}
/*Bug 9440 NJ*/
TABLE.details TD, .details .table_cell
{
  border: none;
  font-size: 0.8em;
  line-height: 90%;
  text-align:right;
  
}
TABLE.details DIV.key, .details DIV.key, .details DIV.key
{
  padding-left: 2em;
  width: auto;
}
/* End Bug #10582 Mike O */
/*Bug 9440 NJ*/
TABLE#core_file_list
{
  width: 100%;
}
TABLE#core_file_list TH
{
  border-bottom:   solid 2px #CCC; /*Bug 15003 NJ- rectified syntax*/
}

DIV.grand_total
{
  text-align: right;
}
/* total should be to the right */
DIV.grand_total SPAN.key
{
  padding-right: 0.2em;
  font-weight: bold;
  /*font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
}
DIV.grand_total SPAN.value
{
  font-weight: bold;
}

DIV.receipt_separator
{
  border-bottom: black 1px solid;
}
DIV.balance
{
  text-align: right;
  font-weight: bold;
}
DIV.balance SPAN.key
{
  padding-right: 0.2em;
  /* font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
}

TABLE.transactions
{
  width: 100%;
  table-layout: fixed; /* Bug #9942 Mike O */
}

TABLE.transactiontaxes
{
  width: 100%;
}  /* BUG #12804 QG */

/* centering of actions buttons under expanded core_item in shopping list, and thin gray line under the buttons, with some space under the line */
TR.row_actions TD
{
  text-align: center;
  padding-bottom: 6px;
}

DIV.shopping_list_prompt
{
  font-size: smaller;
  color: blue;
  margin-right: 20px;
  margin-left: 20px;
}
IFRAME.shopping_list_alternative
{
  height: 510px;
}
TEXTAREA#shopping_list_alternative
{
  height: 300px;
  width: 700px;
  font-size: 7pt;
  font-weight: normal;
  font-family: Courier;
}

P.receipt_message_bottom
{
  font-size: smaller;
  color: #0000FF; /*IPAY-1569 SM - Accessibility Changed color of footer to blue */
}
/* end CORE event */

/* For quick core_item menu */
TABLE.button_layout
{
  border: 2px solid black;
  width: 100%;
}
TABLE.button_layout TD
{
  padding: 4px;
  text-align: center;
}

/* Transaction menus and section lists */
DIV.section_prompt
{
  /*font-variant: small-caps; Bug 12712 NJ-remove, as menus and pages need to have same formatting for prompt */
  color: #777;
  text-align: left;
}
TABLE.vector_fields
{
  width: 100%;
}

TD.description
{ 	 
  text-align: left; 	 
  font-weight:bold; /*Bug 13161 NJ*/ 	 
}

TD.description2
{
  font-size: 0.9em;
  color: green;
}

TD.taxtype 
{
  /* Bug 15821 MJO - Changed from 2em, to allow for more room for the description */
  width:1em;
}
TD.voided
{ 
  width:2em;
}
/* smaller green description for core item */
.vector_fields TR.r0 TD
{
  border-top: #CCC 1px solid;
  text-align: left;
}
TD.last_row
{
  border-top: #CCC 1px solid;
}
SPAN.core_item_add
{
  /* font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
  color: #777;
}
/* click to add transaction */
/* end */

/* Tender { width: 100% } */
TABLE.tender_details TD
{
  font-size: smaller;
}
/* tender details are smaller than tender label */

/* Hide track_data field for Tender.Credit.POS */
TD.track_data
{
  display: none;
}

/* field validation error messages that are filled only when there it errors.  Put message above the field and don't shift. */
/* Bug 17306 MJO - Use for PB alert messages too */
SPAN.error DIV, TD.ALERT, TD.dev_mgmnt_field > DIV {
  background-color: #FEE;
  font-weight: bold;
  border: 1px solid red;
  padding: 3px;
  font-size: 0.9em;
  color: black; /* position:absolute; */
}
DIV.File_viewer TD
{
  font-size: 75%;
}
DIV.File_viewer TABLE
{
  width: 100%;
}

/* used to keep label next to input field */SPAN.multi_field
{
  white-space: nowrap;
}

/* user INPUT type=text  or SPAN?? border on left and bottom.  black, bold text */
SPAN.req_flag
{
  color: red;
  padding-right: 0.2em;
}
.k {
  padding-left: 1.0em;
  vertical-align: top;
  text-align: right;
  /* font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
  font-size: 1.0em;
  color: #363434; /*ipay-1098 hx: Text elements must have sufficient color contrast against the background*/
  padding-right: 0.5em;
  /* Bug #10429 Mike O - Remove float */
  /* float: right;*/
}
.key 
{
  padding-left: 1.0em;
  vertical-align: top;
  text-align: right; /* merge with k above */
  /* font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
  font-size: 1.0em;
  color: #000000;
  padding-right: 0.5em;
}
/* for multiple fields on line*/SPAN.k
{
  padding-right: 0.3em;
}
/* ??? */.key_details
{
  font-size: smaller;
  /* font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
  color: #777;
  padding: 0px;
}
.text
{
  padding: 0 3px 0 0.2em;
  font-weight: bold;
  text-align: left;
  color: black;
  height: 1.4em;
  border: medium none;
  border-left: #888 1px solid;
  border-bottom: #888 1px solid;
}
INPUT.readonly
{
  border: 0px;
}
TEXTAREA.readonly
{
  border: 0px;
}
INPUT.quantity
{
  width: 4em;
}
TEXTAREA.quantity
{
  width: 4em;
}
TD.total INPUT.text
{
  font-size: 1.3em;
}
/* tender total */
TD.cc_ck_number INPUT.text
{
  font-size: 1.3em;
}
/* check number */

/* Show GL segments in fixed width font */
INPUT.Gl_number_segment-ui_config
{
  font-family: Fixedsys;
}

DIV.SELECT-list-prompt
{
  font-size: 0.8em;
  color: #888;
}

/* end INPUT */

/* END Business Data specific  ---------- */


/* Business App specific --------------------------------------------------------------------------------------------- */

/* top action bar */
DIV.top_action_bar
{
  text-align: right;
  float: right;
  padding-bottom: 6px;
  /* background: url(../images/action_bar.gif) repeat-x left bottom; */
  width: 100%;
}

/* action buttons typically at the bottom of a form */
TD.action_bar
{
  text-align: center;
}
DIV.action_bar
{
  text-align: center;
}

/* Bug #10196 Mike O - Fix footer font */
/* footer */DIV.footer
{
  height: 100%;
  width: 100%;
  min-height: 100%;
  vertical-align: bottom;
  padding-top: 10px; /* Bug 19945 Malcolm - Add top padding to footer for extra space */
}
DIV.footer *
{
  vertical-align: bottom;
}
/* End Bug #10196 */

/* in core item menu, action buttons should be on the far right */
TD.continue
{
  text-align: right;
}

/* System closed for maintenance (Generic App used by all) */
H3.service_closed_message
{
  margin: 25px;
}
.Closed
{
  border: none;
  background: url(../images/closed.gif) #F7F7F7 no-repeat left top;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.Opened
{
  border: none;
  background: url(../images/opened.gif) #F7F7F7 no-repeat left top;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
/* Session expiration dialog boxes written by javascript */
BODY.dialog_box
{
  background-color: #ececea;
  text-align: center;
}
DIV.dialog_box
{
  margin: 100px;
  padding: 30px;
  padding-top: 80px;
  background-color: white;
  width: 437px;
  height: 291px;
  background: url(../images/fixed_dialog.gif) #2458ac no-repeat left top;
}
/* end System closed for maintenance */

/* wait dialog (Generic App used by all) */
.cover
{
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
/*new class when hidden iframe comes into focus*/
.coverVisible
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #EEE;
  filter: alpha(opacity=0);
  -moz-opacity: 0.0;
  opacity: 0.0;
  z-index: 1;
}
/*end bug 15003*/
.wait_table
{
  /*   background-image: url(/pos_demo/baseline/pos/images/fixed_dialog2.gif);   background-repeat: no-repeat;   background-position: center center;   */
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
/*TABLE.wait_table TD TD { width: 40%; border: solid 3 yellow; }*/
DIV.wait_dialog
{
  padding: 30px;
  font-size: 14pt;
  border: solid 1px black;
}
DIV.wait_dialog_inner
{
  text-align: center;
}
.message_table
{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
DIV.message_dialog
{
  padding: 30px;
  /* Bug #10131 Mike O - Use default font size */
  /* font-size: 14pt; */
}

/* Hack to hide dialogs boxes in non-IE browsers */
DIV#wait_dialog.wait_table, DIV#message_dialog.message_table
{
  display: none;
}

/* File_viewer app */
TABLE.File_viewer TR.File_viewer_row TD
{
  border-top: 1px solid #CCC;
}
TABLE.File_viewer TD.expand_cell
{
  width: 15px;
  background-color: white;
}
/* not working */

/* Create_new_deposit app */
TABLE.create_new_deposit
{
  width: 100%;
}
TABLE.create_new_deposit TR.tender_category_row TD
{
  border-bottom: 1px solid #CCC;
}
/* Hack for IE, as we can't use > for some reason */
TABLE.create_new_deposit TR.tender_category_row TD TD
{
  border-bottom: none;
}

/* Bug #10105 Mike O - Firefox alignment issues */
TABLE.create_new_deposit_fields
{
  text-align: left;
  float: left;
}

/*TABLE.create_new_deposit TH { color: #999; border-bottom: 1 solid #CCC; vertical-align: bottom; 
  padding-right: 10px;	
}*/
/* Bug #7757 Mike O - Changed white-space so it will wrap automatically when necessary */
H3.core_file_htm_file_info
{
  white-space: pre-wrap;
}
TABLE.suspended_core_events TR.core_event TD
{
  border-bottom: 1px solid #CCC;
  width: 100%;
}

TABLE.selecting_bank_account
{
  width: 100%;
}
TABLE.selecting_bank_account TD
{
  padding: 8px;
  border-bottom: 1px solid #CCC;
}

/* counting dialog */
.no_match_line_items TD
{
  border-top: 1px solid white;
  background-color: pink;
}

/* security profile color mapping */
DIV.security_profile_100
{
  background-color: yellow;
}
/* Administrator */
DIV.security_profile_110
{
  background-color: red;
}
/* Supervisor */
DIV.security_profile_120
{
  background-color: Green;
}
/* User */

/* auto-receipt option */
A.auto_receipt
{
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8em;
  color: Black;
  padding-right: 1em;
  /* font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
}
A.auto_receipt.on
{
  color: #444;
}
A.auto_receipt.off
{
  color: #999;
}

A.auto_receipt.off:hover { /*Bug 19945 Malcolm - add hover effects to nav buttons*/
    font-weight:bold;
}

A.auto_receipt.on:hover { /*Bug 19945 Malcolm - add hover effects to nav buttons*/
    font-weight:bold;
}

A.auto_receipt:hover { /*Bug 19945 Malcolm - add hover effects to nav buttons*/
    font-weight:bold;
}
auto_receipt:hover { /*Bug 19945 Malcolm - add hover effects to nav buttons*/
    font-weight:bold;
}

/* transaction card_input */
SPAN.card_inputs
{
}
TABLE.grid_layout
{
  width: 100%;
}
TABLE.grid_layout TD.card
{
  vertical-align: top;
  padding: 0.5em;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
IMG.card_icon
{
  height: 64px;
  width: auto;
}
/*Bug 12441 NJ-change cursor to indicate the whole card area is clickable*/
DIV.card_input
{
	cursor:pointer;
}
DIV.card_input DIV.description
{
  font-weight: bold;
}
DIV.card_input DIV.description2
{
  font-size: .75em;
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  margin: 8px;
  padding: 3px;
}

/* core_item icon */
/* Bug #10105 Mike O - Show correctly in Firefox */
DIV.htm_icon
{
  cursor: pointer;
  margin: 3px;
  border: 1px solid #CCC;
  min-width: 64px; /* Bug #10579 Mike O - Changed to min to support non-IE browsers */
  min-height: 72px; /* Bug #10579 Mike O - Changed to min to support non-IE browsers */
  padding: 5px;
  float: left;
}
IMG.htm_icon
{
  width: 48px;
  height: 48px;
  text-align: center;
}
DIV.htm_icon_text
{
  text-align: center;
  margin: auto; /* Bug #10579 Mike O - Centering for non-IE browsers */
  font-size: 10pt;
  width: 184px; /* Bug #10579 Mike O - Maintain original size */
  height: 72px; /* Bug #10579 Mike O - Maintain original size */
}
/* Bug 26715 MJO - Make sure nested form isn't rendered */
DIV.htm_icon FORM
{
  display: none;
}

/* Search */
DIV.Search_htm_field_form TD.criteria_group
{
  border: 1px solid #999;
  background-color: #EEE;
  padding: 4px;
  vertical-align: top;
}


/* Batch Update */
#core_file_list_expanded
{
  font-family: Courier;
  height: 330px; /* Bug 18429 MJO - Set height to make room for Select All/Remove All */
}
.core_file_list_header
{
  color: Red;
}

/* Portal */
DIV.app_button
{
  cursor: pointer;
  /* Bug #10519 Mike O - Increased height to match min-height */
  height: 53px;
  /* Bug #10105 Mike O - Added min-height for Firefox, as IE adds extra pixels to its height */
  min-height: 53px;
  width: 155px;
  background-color: white;
  /* Bug #10519 Mike O - Align buttons to header image in Firefox */
  margin: 0 auto;
  padding: 1px;
  border: 1px solid #888;
  border-top: 0px;
}
DIV.app_button IMG
{
  width: 48px;
  height: 48px;
}
DIV.app_button .right
{
  font-size: 13px; /* Bug 19945 Malcolm - downsize font on these from 15, text wouldn't fit in button */
  font-weight: bold;
  vertical-align: middle;
  padding-left: 4px;
}
/* Bug #10519 Mike O - Don't allow the header to take up more vertical space than necessary */
SPAN.app_button_header
{
  margin: 0;
  padding: 0;
  height: 54px;
  overflow: hidden;
  margin-left:18px; /* Bug 20371 Malcolm - Fix header placement. This should be 18px as of 12/16/2016 */
}

/* Bug 20231 Malcolm B - App Button Header was not placed correctly */
SPAN.app_button_header IMG{            
    border: .5px solid gray !IMPORTANT;
    padding: 1.75px;
  }

/* Bug 4039: FT: Bank Deposit Reconciliation */
/* Bug 27248: FT Added important! property so that the main datatables css does not override the background color */
TR.recon_warning {
    background-color: #FFFFAA !IMPORTANT;
}
TR.recon_late {
    background-color: #FFC0CB !IMPORTANT;
}
TR.recon_new {
    background-color: #BBDD88 !IMPORTANT;
}
/* End 27248 */

TR.recon_toggle_off
{
  visibility: hidden;
}
TR.recon_toggle_on
{
  visibility: visible;
}
TR.recon_default
{
}
TR.recon_valign
{
  vertical-align: top;
}
TR.recon_report
{
  font-size: smaller;
  border-bottom: #ccc 1px solid;
}
TD.recon_date
{
  width: 100px;
  text-align: left;
  border-bottom: white 1px solid;
}
/* Bug 9801: FT: Make sure that amount and slip # fields do not overflow fields */
TD.recon_amount
{
  width: 100px;
  word-wrap: break-word;
  text-align: left;
  border-bottom: white 1px solid;
}
TD.recon_text
{
  width: 100px;
  word-wrap: break-word;
  text-align: left;
  border-bottom: white 1px solid;
}
TD.recon_checkbox
{
  width: 10px;
  text-align: center;
  border-bottom: white 1px solid;
}
TD.recon_toggle
{
  text-align: center;
  border-bottom: white 1px solid;
}
/* Bug #9619 Mike O - These were made for the reconciliation detail page, incl. the printable version */
TH.recon
{
  text-align: left;
  border-bottom: #ccc 1px solid;
}
/* Bug 9619: FT: Padding needed for ref_num columns */
TH.recon_ref_num
{
  text-align: left;
  padding-left: .5em;
  padding-right: .4em;
  border-bottom: #ccc 1px solid;
}
/* Bug 9707: FT: Formats for report columns */
TH.recon_report_dollars
{
  text-align: right;
  padding-right: 2em;
}
TH.recon_report_1column
{
  width: 50px;
  text-align: center;
}
/* Bug IPAY-1410 DJD: Center column headers */
TH.text_center 
{
  text-align: center;
}
TD.recon_date_black
{
  width: 100px;
  text-align: left;
  border-bottom: #ccc 1px solid;
}
TD.recon_amount_black
{
  width: 100px;
  text-align: left;
  border-bottom: #ccc 1px solid;
}
TD.recon_text_black
{
  width: 100px;
  text-align: left;
  border-bottom: #ccc 1px solid;
}
/* Bug 9619: FT: Padding needed for ref_num columns */
TD.recon_ref_num
{
  width: 150px;
  text-align: left;
  border-bottom: none;
  padding-left: .5em;
  padding-right: .4em;
  word-wrap: break-word;
}
TD.recon_checkbox_black
{
  text-align: center;
  border-bottom: #ccc 1px solid;
}
/* Bug 9707: FT: Formats for report columns */
TD.recon_report
{
  width: 100px;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  border-bottom: #ccc 1px solid;
}
TD.recon_report_date
{
  width: 100px;
  text-align: left;
  white-space: nowrap;
  padding-right: .4em;
  vertical-align: top;
  border-bottom: #ccc 1px solid;
}
TD.recon_report_ref_num
{
  width: 100px;
  text-align: left;
  padding-right: .4em;
  word-wrap: break-word;
  border-bottom: none;
}
TD.recon_report_dollars
{
  width: 100px;
  text-align: right;
  padding-right: 2em;
  white-space: nowrap;
  vertical-align: top;
  border-bottom: #ccc 1px solid;
}
TD.recon_report_1column
{
  width: 50px;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  border-bottom: #ccc 1px solid;
}
TD.recon_report_comment
{
  width: 200px;
  text-align: left;
  vertical-align: top;
  font-size: smaller;
  border-bottom: #ccc 1px solid;
}
H3.recon
{
  border-bottom: #ccc 1px solid;
}
H3.recon_toggle
{
  visibility: hidden;
}
/* Bug 9714: FT: toggle the totals and overshorts but start invisible */
H1.recon_match_confirm
{
  color: blue;
  text-align: left; /* Bug #10291 Mike O */
}
SPAN.recon_date
{
  width: 100px;
  text-align: left;
  border-bottom: white 1px solid;
}
SPAN.recon_amount
{
  width: 100px;
  text-align: left;
  border-bottom: white 1px solid;
}
SPAN.recon_text
{
  width: 100px;
  text-align: left;
  border-bottom: white 1px solid;
}
SPAN.recon_report_time
{
  white-space: nowrap;
}
/* End basic Bug 4039 */

/* Bug #11993 Mike O - Bank Rec */
FORM.bank_rec
{
  height: 100%;
  text-align: left;
}

/* Saved Reports */
.reports_header, .user_custom_reports_header, .department_custom_reports_header
{
  font-weight: bold;
}
.user_custom_reports_subheader, .department_custom_reports_subheader
{
  font-weight: bold;
}
/*.custom_reports_group 
{
  width: 100%;
}*/

/* Enter_core_item */
/*Bug 12441 NJ-change cursor to indicate whole row is clickable*/
TR.htm_row_input
{
	cursor:pointer;
}
TR.htm_row_input TD.continue
{
  width: 1px;
}
/* minimize button column */
TD.htm_icon_cell
{
  width: 1px;
  padding: 0px;
}
/* minimize icon column */

/* Creating core_item */
TR.gl_row TD
{
  font-size: 8pt;
  color: black;
  font-weight:bold;
  text-align:left;
  background-color: #DDD;
  padding-left: 1em;
}
TR.gl_row INPUT
{
  font-size: 8pt;
  color: #555;
}
SPAN.gl_segment
{
  font-size: 8pt;
  color: #666;
  /* font-variant: small-caps; Bug 19945 Malcolm - Remove Small Caps */
}

/* TR.Business-htm_row_inst TD
{
  padding-right: 1.5em;
} */

HTML.notie TR.Business-htm_row_inst TD
{
  text-align: left; /* Bug 15105 UMN fix config for IE11 */
  /* Bug 18447 MJO - Removed this as it broke button rows */
  /*padding-right: .75em;*/ /*Bug 12593- reduce the space to accomodate more fields*/
}
/* Hack to make sure inner TDs don't inherit the above attributes */
TR.Business-htm_row_inst TD TD
{
  padding-right: 0;
}

/* TR.GEO-htm_row_inst TD
{
  padding-right: 1.5em;
} */
TR.GEO-htm_row_inst TD TD
{
  padding-right: 0;
}

/* Config app */
.Config TEXTAREA
{
  width: 300px;
  height: 100px;
}
.Config TD.value INPUT
{
  border: 0;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 400px;
  font-weight: bold;
}
.Config TD.value INPUT.inherited
{
  background-color: #FCFCFC;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  color: black;
}
/* Note: the browser makes the disabled font have a shadow and no combination of these can change it: font-variant: normal; font-style: normal; text-decoration: none; text-transform: none; */
.Config TD.value TEXTAREA
{
  border: 0;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 400px;
  font-weight: bold;
}
.Config TD.value TEXTAREA.inherited
{
  background-color: #FCFCFC;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  color: black;
}
/* Note: the browser makes the disabled font have a shadow and no combination of these can change it: font-variant: normal; font-style: normal; text-decoration: none; text-transform: none; */

/* Bug #10569 Mike O */
.Config DIV .config_border
{
  border: 1px solid #BBB;
  padding-left: 1em;
  padding-right: 1em;
}

TABLE.htm_config_inst SPAN.nested_obj_input
{
  width: 400px;
}

TABLE.htm_config_inst TD.description
{ 	 
  vertical-align: top;
  text-align: right;
  font-size: 1.0em;
  font-weight: normal;
}

.Config .changes_message
{
  color: red;
  font-size: larger;
}
/* Bug #10223 Mike O - Left-align all configuration tables */
TABLE.htm_instances
{
  margin: 0;
}
TABLE.htm_instances TD
{
  border-right: 1px solid #DDD;
  padding-right: 3px;
  padding-left: 2px;
  text-align: left; /* Bug #10223 Mike O - Left-align table contents */
}
/* Hack to make sure inner TDs don't inherit the above attributes */
TABLE.htm_instances TD TD
{
  border-right: none;
  padding-right: 0;
  padding-left: 0;
}
TABLE.htm_instances TR.odd TD
{
  background-color: #EEE;
}
TABLE.htm_instances TR.modified TD
{
  background-color: #CCF !important;
}
TABLE TR.deleted TD
{
  background-color: #FCC !important;
  text-decoration: line-through;
  color: #666;
}
/* was: TABLE.htm_instances */
TABLE.htm_instances TR.created TD
{
  background-color: #FFC !important;
}
TABLE.htm_instances TR TD.actions
{
  background-color: white;
  width: 61px;
}
HTML.notie TABLE.htm_instances TR TD.actions
{
  background-color: white;
  width: 62px; /* Bug 15105 MJO - Bumped up by one pixel as it was getting cut off */
}

DIV.htm_home_page_setup TD.help
{
  color: #333;
  margin: 0px;
  margin-top: 4px;
  font-size: 10pt;
}
DIV.multiple_of_ui_config SPAN.current_list
{
  font-size: 0.75em;
  vertical-align: middle;
}
DIV.vector_of_ui_config SPAN.current_list
{
  font-size: 0.75em;
  vertical-align: middle;
}
SPAN.nothing_to_configure
{
  font-size: 0.75em;
  color: #666;
}

TABLE.htm_config_inst TD.value INPUT.inherited_value
{
  border: 0px;
  font-weight: normal;
}
TABLE.htm_config_inst TD.value TEXTAREA.inherited_value
{
  border: 0px;
  font-weight: normal;
}
/* Bug #10223 Mike O - Left-align config fields */
TABLE.htm_config_inst TR.config_prompt
{
  text-align: left;
}
/* TABLE.htm_config_inst TD.inherited_note { font-size: 9pt; } */
TABLE.htm_config_inst TR.config_prompt TD
{
  padding: 0px;
  padding-top: 8px;
  font-size: 9pt;
  color: Blue;
}

/* Business-process_f_ui_config */
TABLE.Business-process_f_ui_config TD.page
{
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
  vertical-align: top;
}
TABLE.Business-process_f_ui_config DIV.page_name
{
  font-weight: bold;
}
TABLE.Business-process_f_ui_config DIV.field_name
{
  font-size: 8pt;
}

/* only print receipt from buying state */
TD.account_num_core_items
{
  padding-left: 0.8em;
}

TD.desc_core_items
{
  padding-right: 0.5em;
}

TD.balance_core_items
{
  text-align: right;
  padding-right: 0.1em;
}

TD.table_core_items
{
  width: 100%;
  border-style: solid;
}

/* Bug #10575 Mike O */
TABLE.confirm
{
  margin: 0;
  width: 90%;
  padding: .5em;
}
/* Bug#8121 ANU */
TABLE.confirm TR.confirm_table_header TD
{
  padding-top: .5em;
  padding-bottom: .5em;
  vertical-align: middle;
  height: 2em;
  font-size: larger;
}
TABLE.confirm TD
{
  vertical-align :top;
}

TABLE.confirm TD.confirm_msg
{
  padding-left: 1em;
  padding-right: 1em;
}
/* Bug#8121 ANU end */
TABLE.confirm_table
{
  width:85%;
}
TABLE.confirm_table TD.description
{
  text-align:left;
  padding-left: 1em;
  padding-right: 1em;
}
TABLE.confirm_table TD.total
{
  text-align:right;
}

.framer_scrollable {
  min-height: 130px; /* Bug 24072 RDM */
  height: 100%;
  overflow: auto;
}

/* Bug 18357 MJO - Only use for hack */
HTML.notie .framer_scrollable_hack
{
  height: 1px !important;        /* Bug 15105 UMN move here */
  /* Bug 18415 MJO - Changed to 100% */
  min-height: 100% !important; /* Bug 15105 UMN move here */
  overflow: auto; 
  min-width:240px;
}

/* Bug 18415 MJO - 1px hack shouldn't be used for tabbed apps */
HTML.notie .Tabs_app .framer_scrollable_hack
{
  /*height: 100% !important;*/ /* Bug 22169 MJO - Breaks stuff and apparently no longer needed */
}

/* Bug 18415 MJO - Only use the special case for nested hack framers */
HTML.notie .framer_scrollable_hack .framer_scrollable_hack
{
  /*height: 1px !important;*/ /* Bug 22169 MJO - Breaks stuff and apparently no longer needed */
}

/* Bug 18406 MJO - Separate hack for width */
HTML.notie .framer_scrollable_hack_width
{
  width: 1px !important; /* Bug 18346 MJO - Fix horizontal scrollbars */
  min-width: 100% !important; /* Bug 18346 MJO - Fix horizontal scrollbars */
  overflow: auto;
}

HTML.safari .framer_scrollable_hack_width
{
  width: 1px !important; /* Bug 18346 MJO - Fix horizontal scrollbars */
  min-width: 100% !important; /* Bug 18346 MJO - Fix horizontal scrollbars */
  overflow: auto;
}
/* END Bug 18406 MJO - Separate hack for width */

/* Bug 18415 MJO - 1px hack shouldn't be used for tabbed apps */
/* Bug 18357 MJO - Same thing for framers inside expanded divs (not sure why yet) */
HTML.notie .Tabs_app .framer_scrollable_hack_width, HTML.notie .expanded .framer_scrollable_hack_width
{
  width: 100% !important;
}

/* Bug 18415 MJO - Corrected typo */
HTML.notie .menus .Tabs_app .framer_scrollable_hack_width
{
  width: 1px !important;
}

/* Bug 18391 UMN/MJO - Fix reporting file list*/
HTML.notie .file_list_container .framer_scrollable
{
  height: auto;        /* Bug 15105 UMN move here */
  min-height: auto;    /* Bug 15105 UMN move here */
  overflow: auto; 
}

/* Bug #10520 Mike O - HACK: Firefox needs an actual height */
HTML.notie .file_list_container
{
  height: 300px;
}
/* End Bug 18391 UMN/MJO */

TABLE.centered
{
  height: 100%;
}

BODY.group_viewer_app
{
  overflow: auto;
  margin: 5px;
}

.file_filter_table
{
  text-align: left;
}

/* Bug #10076 Mike O - Prevent border collapse in tables where we want to use cellspacing */
.separated_borders
{
  border-collapse: separate !important;
  border-spacing: 20px;
  margin: 0 !important; /* Bug #10326 Mike O - Left align Open Deposits page */
}

/* Fix for strange behavior in Chrome */
TABLE.s.printable
{
  height: auto;
}

/*Bug 10063 NJ*/
TD#view_button
{
	width:20%
}

/*Bug 10660 NJ*/
DIV.th, td.th
{
  color: #999;
  border-bottom: solid 1px #CCC;
  vertical-align: bottom;
  padding-right: 10px;
  /*font-variant: small-caps;*/
  text-align: left;
  font-weight:bold;
}

/* Bug #10817 Mike O */
.hidden, #hidden
{
  display: none;
}

/* Bug #10817 Mike O */
.deposit_transfer
{
  width: 624px;
}

/* Bug #10817 Mike O */
TABLE.deposit_transfer TH.right
{
  text-align: right;
}

TABLE.details TD.deposit
{
  border: #CCC 1px solid;
}

.list_menu TABLE
{
  width: 100%;
}

/*Bug 20231 Malcolm B. - Fix borders on dropdown buttons*/
.list_menu .b_off.b_color3_b_off
{
  border:none !important;
  border-radius:0 !important;
  background: white !important;
  margin-left: -1px;
  margin-bottom: -1px;
  margin-top: -2px;
}

/*Bug 20231 Malcolm B. - Fix borders on dropdown buttons*/
.list_menu .b_off.b_color3_b_on{
  border:none !important;
  border-radius:0 !important;
  background: white !important;
}

/*Bug 20231 Malcolm B. - Fix borders on dropdown buttons*/
.list_menu .b_on.b_color3_b_off{
  border:none !important;
  border-radius:0 !important;
  background: white !important;
}

/*Bug 20231 Malcolm B. - Fix borders on dropdown buttons*/
.list_menu .b_on.b_color3_b_on{
  border:none !important;
  border-radius:0 !important;
  margin-left: -1px;
  margin-bottom: -1px;
  margin-top: -2px;
}

/*Bug 13161 NJ-styling for transaction/tender prompt*/
DIV.prompt {
	font-size:130%;	
	font-weight:bold; /*Bug 13161 NJ*/
}

HTML.notie DIV.prompt {
	/* font-size: 130%;	Bug 15105 UMN remove for IE11 */
	font-weight: bold; /*Bug 13161 NJ*/
}

/* Bug 15423 payment selector filter */
.filter_search {
  background-image: url('../icons/search.png');
  height: 24px;
  width: 24px;
  border: none;
  padding: 0px;
}

/* BUG#11947  
this section of css is for specific bank rec jquery database, 
it need to change so it didn't apply to all jquery databases. 
comment out this section for now when merging PB into trunk.  

jQuery DataTables images  
.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
	text-align: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
	text-align: left;
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_button.current {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers paging_full_numbers.paginate_active {
	background-color: #99B3FF;
}
*/

/* Bug 15658 MJO - Keep the footer within the page */
DIV.receipt_footer {
  width: 100%;
}

/* Bug 15658 MJO - Keep the footer within the page */
/* From http://stackoverflow.com/questions/1634203/pre-tag-in-html-with-fixed-width */
pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
/* Bug 15105 UMN additions for IE11 */
HTML.notie .core_logo	{
	margin-right: 8px;
}

/* Bug 18371 MJO - Make sure inputs are left aligned */
FORM.verifone_device_management INPUT {
  float: left;
}

/* Bug 18454 MJO - Make BC receipts scrollable */
HTML.notie .no_wrapper {
  height: 100%;
  overflow: auto;
}

/* Bug 18415 MJO - Force file selection height to 100% in Firefox */
HTML.notie DIV.file_selection_centered {
  display: inline-table;
}

/* Bug 20642 UMN responsive */
.field_set {
  /* outline: 1px solid #ddd; */
  padding-top: 2em;
}

.legend {
  text-decoration: bold;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  padding-top: 1em;
}

.navbar ul {
  font-size: .7em;
  display: inline;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navbar ul li { display: inline; }

.navbar ul li a {
  text-decoration: none;
  padding: .1em .5em;
  color: #fff;
  background-color: #036;
}

.navbar ul li a:hover {
  color: #fff;
  background-color: #369;
}
/* END Bug 20642 UMN responsive */

/* Bug 19945 Malcolm B. - New UI*/


/* New font for buttons */
@import 'https://fonts.googleapis.com/css?family=Lato:700';

button {
  font-family: 'Lato', sans-serif;
  margin: 1px;
}

.outer_margin{
  padding-right: 7px;
  padding-left:7px;
  background-color: rgb(247, 247, 255);
}

.Search_htm_field_form {
  overflow:hidden;
}

/* Bug 24019 MJO */
.menus .last_divider_row .inner {
  display: inline-table;
}

/* Blue borders for frames */
.inner{
  border: solid;
  border-radius:4px;
  border-width: 0.05em;
  border-color: #0060a9;
  min-width:450px;
}

.list_margin{
  border: solid;
  border-radius:4px;
  border-width: .05em;
  border-color: #0060a9;
}

/* Create space between POS frames */
.shopping_list_frame{
  padding-left:5px;
}

#list {
  width:95%;
}

.tabs_inner{
  margin-top:10px;
  max-height: 32px;
  margin-bottom: 0px;
}

/* Bug 12769 Malcolm B. - Uttam's rules for responsive icon layout in Document tab */
div.icon_layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3px;
}
.icon_layout .form_icon {
  height: 65%;
  max-width: 65%;
}

/* Bug 12769 Malcolm B. - media breakpoints to make icons display without extra padding */
@media screen and (min-width: 400px) {
  DIV.htm_icon{
    width: 160px;
  }
  .htm_icon_text {
    font-size: 13px !important;
  }
  DIV.htm_icon_text {
    width: 154px;
  }
}
@media screen and (min-width: 1024px) {
  DIV.htm_icon{
    width: 160px;
  }
  .htm_icon_text {
    font-size: 13px !important;
  }
  DIV.htm_icon_text {
    width: 154px;
  }
}
@media screen and (min-width: 1152px) {
  DIV.htm_icon{
    width: 183px;
  }
  .htm_icon_text {
    font-size: 15px !important;
  }
  DIV.htm_icon_text {
    width: 176px;
  }
}

@media screen and (min-width: 1200px) {
  DIV.htm_icon{
    width: 192px;
  }
  .htm_icon_text {
    font-size: 15px !important;
  }
  DIV.htm_icon_text {
    width: 186px;
  }
}

@media screen and (min-width: 1280px) {
  DIV.htm_icon{
    width: 205px;
  }
  .htm_icon_text {
    font-size: 16px !important;
  }
  DIV.htm_icon_text {
    width: 200px;
  }
}


@media screen and (min-width: 1366px) {
  DIV.htm_icon{
    width: 220px;
   }
  .htm_icon_text {
    font-size: 17px !important;
  }
  DIV.htm_icon_text {
    width: 208px;
  }
}

@media screen and (min-width: 1440px) {
  DIV.htm_icon{
    width: 186px;
  }
  .htm_icon_text {
    font-size: 17px !important;
  }
  DIV.htm_icon_text {
    width: 174px;
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1500px) {
  DIV.htm_icon{
    width: 246px;
  }
  .htm_icon_text {
    font-size: 17px !important;
  }
  DIV.htm_icon_text {
    width: 240px;
  }
}

@media screen and (min-width: 1536px) {
  DIV.htm_icon{
    width: 208px;
  }
  .htm_icon_text {
    font-size: 17px !important;
  }
  DIV.htm_icon_text {
    width: 161px;
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1680px) {
  DIV.htm_icon{
    width: 181px;
  }
  .htm_icon_text {
    font-size:19px !important;
  }
  DIV.htm_icon_text {
    width: 170px;
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1920px) {
  DIV.htm_icon{
    width: 209px;
  }
  .htm_icon_text {
    font-size:19px !important;
  }
  DIV.htm_icon_text {
    width: 198px;
  }
}

@media screen and (min-width: 2560px) {
  DIV.htm_icon{
    width: 284px;
  }
  .htm_icon_text {
    font-size:19px !important;
  }
  DIV.htm_icon_text {
    width: 240px;
  }
}

DIV.htm_icon
{
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 3px;
  border: 1.5px solid #CCC;
  max-height: 185px;
  min-height: 175px;
  border-radius: 4px;
  float: left;
}

.htm_icon {}
IMG.htm_icon
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Malcolm B. - Add hover effect to slider dropdown buttons and icon buttons */
.list_menu.b_on.b_color3_b_on:hover  {
  background-color: #ccc !important;
  border-radius: 0 !important;
}

.list_menu {
  margin-left:3px;
}

DIV.htm_icon:hover {
  border:1.5px solid black;
}

/* Malcolm B. 21422 - Center Date Label Field */
#date_type{
	margin-left:44px;
}

/* Malcolm B. 21423 - Align Active Receipt details table */
TABLE.details DIV.key, .details DIV.key, .details DIV.key {
    padding-left: 2em;
    width: auto;
    text-align: left;
}
/* BUG 24775 RDM - New Tender section structure, only style items in Tabs_app as display:inline */
.Tabs_app DIV [class*="tender_section_list"]{
	height: 100% !important;
	display: inline-table;
}
/* Malcolm B. 21983 - The fix for bug 21926 was breaking the alignment 'Tenders in Tabs' in config. Had to add a more specific rule to correct this display */
DIV [class*="k tender_section_list"] {
    display: table-cell;
}

/* Bug 23345 MJO - VeriFone device management needs special stuff for some reason */
TD.dev_mgmnt_field > SPAN.error {
  float: left;
  clear: left;
}

/* Bug 21132 UMN jquery upgrade/datatables for config */
/* div.Config > */
#DataTables_Table_0_length { float: right; }
#DataTables_Table_1_length { float: right; }
#DataTables_Table_0_paginate { float: right; }
#DataTables_Table_1_paginate { float: right; }
#DataTables_Table_0_filter { float: left; }
#DataTables_Table_1_filter { float: left; }
#DataTables_Table_1_info { float: left; }

/* Bug 23529 MJO - Cleaned up image display app and added ack text */
DIV#checkImg {
  display: table;
}

DIV.image_display_spacer {
  height: 2em;
}

DIV#checkImg DIV#ack_msg {
  float: none;
  display: table-caption;
  caption-side: top;
}

DIV#image_header {
  display: none;
}

@media print {
  DIV#image_header {
    display: block;
  }
/* End Bug 23529 MJO */
}

/* Bug 23772 MJO - Make an input field look disabled (mainly for read-only) */
INPUT.disabled {
  background-color: rgb(204, 204, 204);
}

/* Bug 23568 MJO - Add header to login screen */
DIV.login_header {
  width: 100%;
  display: table;
}

DIV.login_separator_header {
  height: 1px;
}

DIV.login_separator {
  height: 10px;
}

HR.login_hr {
  color: rgb(8,8,8);
}

DIV.login_header_active {
  display: table-cell;
}

DIV.login_module_text {
  color: rgb(0, 96, 170);
  font-weight: bold;
  font-size: 1.1em;
}

SPAN.login_header_padding {
  display: table-cell;
  width: auto;
}

DIV.login_header_inactive {
  display: table-cell;
  vertical-align: middle;
  opacity: .3;
  height: 100%;
  width: 100%;
}

DIV.login_header_inactive DIV {
  float: right;
}

DIV.login_module_align A {
  margin-left: 5px;
}

/* End Bug 23568 MJO */}

/* Bug 23772 MJO - Make an input field look disabled (mainly for read-only) */
INPUT.disabled {
  background-color: rgb(204, 204, 204);
}

/* Bug 23022 MJO - Pad HTML buttons */
.home_page_common > div, .home_page_setup > div, button, span.mbutton {
  padding: 1px;
}

DIV.document_icon {
  text-align: center;
}

td.dev_mgmnt_field {
  text-align: left;
}

/* Bug 24596 MJO - Make window scrollable */
div.scrollable_event_popup {
  overflow-y: auto;
  height: 100%;
}

/* Bug 24518 MJO - End of event printing */
div#end_of_event_wrapper td {
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.8em;
}

div#end_of_event_wrapper th {
  padding-right: 0.8em;
}

div#end_of_event_wrapper div.innerDetails {
  float: left;
  margin-left: 2em;
  margin-top: 0.5em;
}

div#end_of_event_wrapper div.innerDetails td {
  font-size: 0.9em;
}

div#end_of_event_wrapper button {
  margin: 5px 0px 5px 0px;
}

tr.end_of_event_finished {
  background-color: lightgreen;
}

tr.end_of_event_in_progress {
  background-color: yellow;
}

div#end_of_event_printing_prompt {
  margin-bottom: 30px;
}
/* End Bug 24518 - MJO */
/* Bug 20733 MJO - Eigen Receipt */
DIV.standard_credit_card_receipt TABLE.miraserv_receipt {
  text-align: left;
}

/* Bug 21989 UMN Broadcast messaging */
table.message-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

table.message-table tr {
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 2px;
}

table.message-table td, th {
  border: none;
  text-align: left;
}
/* END Bug 21989 UMN Broadcast messaging */

/* IPAY-125 MJO - Pretty rendering of JSON detail in receipt custom field */
div.json_detail {
  display: block;
}
/* End IPAY-125 MJO */

@keyframes fadeIn{0%{opacity:0}30%{opacity:1}60%{opacity:1}100%{opacity:0}}.animate-fade-in{animation-name:fadeIn;animation-duration:1.5s;animation-timing-function:ease-in-out;animation-iteration-count:infinite;opacity:0}.animate-fade-in2{animation-delay:.0833333333s}.animate-fade-in3{animation-delay:.1666666667s}.animate-fade-in4{animation-delay:.25s}.animate-fade-in5{animation-delay:.3333333333s}.animate-fade-in6{animation-delay:.4166666667s}

/* Bug IPAY-737 MJO - Fit Prism code block inside Config HTML */
div.code-toolbar {
  width: 95vw !important;
  height: 34vw !important;
}

div.code-toolbar pre.language-sql {
  word-wrap: break-word !important;
  -ms-word-wrap: break-word !important;
  height: inherit;
}

div.toolbar-item button {
  margin-right: 20px;
}
/* End Bug IPAY-737 MJO */

/*IPAY-734 NK hide reveal eye from password custom field*/
.hide_eye::-ms-reveal {
    display: none;
}

