/* 
 * Bug 14603 UMN add minification and fix issues with IE10 in quirks mode
 * For the build task to work, this file must not be empty, hence these
 * comments
 */

.m-signature-pad {
	border: solid; /* Malcolm B. 21870 iPayment Styles*/ 
	border-radius: 4px;
	border-width: 0.05em; /* Malcolm B. 21870 iPayment Styles*/ 
	border-color: #0060a9; /* Malcolm B. 21870 iPayment Styles */
	font-size: 10px;
	position: absolute;
	width: 700px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -200px;
	background-color: #fff;
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset; */ /* Malcolm B. 21870 iPayment Styles*/ 
}

.m-signature-pad:before, .m-signature-pad:after {
	position: absolute;
    z-index: -1;
    content: "";
	width: 40%;
	height: 10px;
	left: 20px;
	bottom: 10px;
	background: transparent;
	-webkit-transform: skew(-3deg) rotate(-3deg);
	-moz-transform: skew(-3deg) rotate(-3deg);
	-ms-transform: skew(-3deg) rotate(-3deg);
	-o-transform: skew(-3deg) rotate(-3deg);
	transform: skew(-3deg) rotate(-3deg);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.m-signature-pad:after {
	left: auto;
	right: 20px;
	-webkit-transform: skew(3deg) rotate(3deg);
	-moz-transform: skew(3deg) rotate(3deg);
	-ms-transform: skew(3deg) rotate(3deg);
	-o-transform: skew(3deg) rotate(3deg);
	transform: skew(3deg) rotate(3deg);
}

.m-signature-pad--header{
	font-size: 1.5em;
    padding-top:10px;
}

.m-signature-pad--body {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50px;
  bottom: 80px;
  border: 1px solid #f4f4f4;
}

.m-signature-pad--body
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }

.m-signature-pad--footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 60px;
}
/* MByrd 21870 - This wasn't legible */
.m-signature-pad--footer
  .description {
    color: black;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
  }

/* MByrd 21870 this was causing alignment issues with tabs 
.m-signature-pad--footer
  .left, .right {
    position: absolute;
    bottom: 0;
  } */

  .m-signature-pad--footer .left {
    left: 0;
    display: inline;
  }

  .m-signature-pad--footer .right {
    right: 0;
    display: inline;
  }

@media screen and (max-width: 1024px) {
  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 140px;
    margin: 5%;
  }
  #github {
    display: none;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .m-signature-pad {
    margin: 10%;
  }
}

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
  }
  .m-signature-pad--footer {
    left: 20px;
    right: 20px;
    bottom: 4px;
    height: 28px;
  }
  .m-signature-pad--footer
    .description {
      font-size: 1em;
      margin-top: 1em;
    }
}

/* Malcolm B. 21870 iPayment Styles*/
.m-signature-pad--button{
	border-radius: 4px;
    font-size: 16px;
    border: solid;
    border-width: .05em;
    border-color: #023a65;
    background: #0060a9;
    color: White;
    overflow: hidden;
    width: 100px;
    height: 36px !important;
	cursor: pointer;
}
.m-signature-pad--button:hover {
  background: #90b9d9;
}